{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = update_interval %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (item in objResponse['items']) {
				shngInsertText (item+'_value', objResponse['items'][item], "itemtable", 10);
			}
			shngInsertText ('laststr', objResponse['laststr'], null, 2);
			shngInsertText ('lastjq', objResponse['lastjq'], null, 2);
		}
	}
</script>
<script>
	  $(document).ready( function () {
			$(window).trigger('datatables_defaults');
			try {
				table = $('#itemtable').DataTable( {
					columnDefs: [
					{
						title: '',
						targets: 0, "className": ""
					},
					{
						title: '{{ _("Item") }}',
						targets: 1, "className": "item"
					},
					{
						title: '{{ _("jsonread_filter") }}',
						targets: 2, "className": "send"
					},
					{
						title: '{{ _("Wert") }}',
						targets: 3, "className": "remote"
					}
					].concat($.fn.dataTable.defaults.columnDefs)
				});
			}
			catch (e) {
				console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
			}

		});
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>URL</strong></td>
			<td class="py-1">{{ p._url }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Cycle</strong></td>
			<td class="py-1">{{ p._cycle }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}

{% set tabcount = 3 %}

{% set item_count = p._items|length %}
{% if item_count==0 %}
	{% set start_tab = 1 %}
{% else %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ _("Letzte Auslesung") ~ "</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
	<pre id="laststr">{{ p._lastresultstr }}</pre>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ item_count ~ " " ~ _("Items definiert") ~ "</strong>" %}
{% block bodytab2 %}

		<table id="itemtable" class="dataTableAdditional">
			<tbody>
			{% for item in p._items %}
				<tr><td></td>
					<td class="py-1" id="{{ item }}_path">{{ item._path }}</td>
					<td class="py-1" id="{{ item }}_filter">{{ p.get_iattr_value(item.conf, 'jsonread_filter') }}</td>
					<td class="py-1" id="{{ item }}_value">{{ item() }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

{% endblock bodytab2 %}

<!--
	Content block for the first tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ _("Letzte Auslesung einfache jq Abfragesyntax") ~ "</strong>" %}
{% block bodytab3 %}
<div class="container-fluid m-2">
	<pre id="lastjq">{{ p._lastresultjq }}</pre>
</div>
{% endblock bodytab3 %}
