# python-openzwave:
#   The most recent version (0.4.19 released March 2019) is not compatible with Python 3.9
#   The project seems to be deserted. The last commit to the python-openzwave project was 3 years ago
#python-openzwave>=0.4.0.35
python-openzwave>=0.4.0.35;python_version<'3.9'
