{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}
{% set buttons = false %}
<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				<!--
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				-->
			}
		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong> {{ _('Hörende IP') }} </strong></td>
			<td class="py-1">{{ p.ip }}</td>
			<td class="py-1"><strong>{{ _('Updates erlaubt') }}</strong></td>
			<td class="py-1">{{ p.updates_allowed }}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>Port</strong></td>
			<td class="py-1">{{ p.port }}</td>
			<td class="py-1"><strong>{{ _('Hashed Passwort') }}</strong></td>
			<td class="py-1">{{ p.hashed_password }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 1 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ "</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
<p>
{{ _('Es gibt hier keine weiteren Funktionen ...') }}
</p>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong> (" ~ device_count ~ ")" %}
{% block bodytab2 %}
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab3
-->
{% block bodytab3 %}
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}
