.table.table-striped.pluginList>tbody>tr:nth-child(even) {
    background-color:#fff;
}

.table.table-striped.logicsList>tbody>tr:nth-child(4n+3) {
    background-color:#fff;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
  background-color: #ecf3f8;
}

.minusIcon {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url("/backend/static/img/minus.png");
}

.plusIcon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/backend/static/img/plus.png");
}

.navBorder {
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}

.cardOverlay {
  position: absolute;
  background: black;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}