div.container-fluid {
  margin-top:250px;
}

div.container-fluid.m-3 .col-sm-7 .table {
  table-layout:fixed;
}

div.container-fluid.m-3 .col-sm-7 {
  min-width:390px;
}

div.container-fluid.m-3 .col-sm-7 .table td.py-1 {
  min-width:160px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
}

div.container-fluid.m-3 .col-sm-7 .table td.header {
  max-width:180px;
  min-width: 150px;
  width:150px;
}

div.container-fluid.m-3 .col-sm-7 .table td.content div {
  max-height: 45px;
  display: block;
}

div.container-fluid.m-3 .col-sm-7 .table .py-1 div.oneliner {
  max-height: 25px;
  display: block;
}
