<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
	{{ nav }}
{% endblock navbar %}

{% block title %}
{{ _('Dienste', 'menu') }} - SmartHomeNG
{% endblock title %}

{% block content %}
<div class="container-fluid navBorder"></div>
<form name="input" action="conf_yaml_converter.html" method="POST" enctype="multipart/form-data">
    <div class="container-fluid" style="width: 100%;">
    <div style="width: 48%; float: left; border: 1px solid #ccc; margin-bottom: 10px; margin-right: 5px;">
        <div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Eingabe im .CONF Format') }}</div>
        <textarea id="conf_code" name="conf_code">{{ conf_code }}</textarea>
    </div>
    <div style="width: 48%; float: left; border: 1px solid #ccc; margin-bottom: 10px;">
        <div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Ergebnis im .YAML Format') }}</div>
        <textarea id="yaml_code" autocomplete="off" name="yaml_code">{{ yaml_code }}</textarea>
    </div>
    </div>
    <div class="container-fluid" style="width: 100%;">
    <input name="convert" value="{{ _('Konvertieren','button') }}" type="submit" class="btn btn-dark">
    </div>
</form>
<script>
     var rulers = [];
     for (var i = 1; i <= 100; i++) {
        rulers.push({color: '#eee', column: i * 4, lineStyle: "dashed"});
     }

     var myCodeMirrorConf = CodeMirror.fromTextArea(document.getElementById("conf_code"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: false,
        indentWithTabs: false
     });
     var myCodeMirrorYaml = CodeMirror.fromTextArea(document.getElementById("yaml_code"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: false,
        indentWithTabs: false,
        readOnly: true,
        mode: "yaml"
     });

     window.addEventListener("resize", function(){resizeCodeMirror(myCodeMirrorConf, 60)}, false);
     resizeCodeMirror(myCodeMirrorConf, 60);
     window.addEventListener("resize", function(){resizeCodeMirror(myCodeMirrorYaml, 60)}, false);
     resizeCodeMirror(myCodeMirrorYaml, 60);
</script>
{% endblock %}
