<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="navbar-brand" href="main.html"><img src="/gstatic/img/logo_long.png" alt="SmartHomeNG Logo"></a>
			</li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'system' %}active{%endif%}" href="system.html">{{ _('Systeminfo', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'services' %}active{%endif%}" href="services.html">{{ _('Dienste', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'items' %}active{%endif%}" href="items.html">{{ _('Items', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'logics' %}active{%endif%}" href="logics.html">{{ _('Logiken', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'schedules' %}active{%endif%}" href="schedules.html">{{ _('Scheduler', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'plugins' %}active{%endif%}" href="plugins.html">{{ _('Plugins', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'scenes' %}active{%endif%}" href="scenes.html">{{ _('Szenen', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'threads' %}active{%endif%}" href="threads.html">{{ _('Threads', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'logging' %}active{%endif%}" href="logging.html">{{ _('Logging', 'menu') }}</a></li>
			<li class="nav-item"><a class="nav-link {% if active_page == 'disclosure' %}active{%endif%}" href="disclosure.html">{{ _('Disclosure', 'menu') }}</a></li>
		</ul>
	</div>
</nav>
