 <!DOCTYPE html>
{% extends "base.html" %}
{% block navbar %}
	{% with active_page="scenes" %}
	{% include "navbar.html" %}
	{% endwith %}
{% endblock navbar %}

{% block content %}
<div class="table-responsive">
		<table class="table table-striped table-hover">
			<col width="25px">
			<col width="40px">
			<col width="80px">
			<col width="400px">
			<col minwidth="300px">
			<thead>
				<tr>
					<th colspan="2">{{ _('Szene') }}</th>
					<th>{{ _('Lernen') }}</th>
					<th>{{ _('Item') }}</th>
					<th>{{ _('Wert') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for scene in scene_list %}
					<tr>
					    {% if scene['name'] == '' %}
							<td class="p-1" colspan="5"><strong>{{ scene['path'] }}</strong></td>
						{% else %}
							<td class="p-1" colspan="5"><strong>{{ scene['path'] }}</strong> &nbsp; ({{ scene['name'] }})</td>
						{% endif %}
						<td class="p-1"></td>
					</tr>
					{% for value in scene['values'] %}
						{% for action in value['action_list'] %}
							{% if (action == value['action_list'][0]) and (value['action_name'] != '') %}
								<tr>
									<td class="p-1"></td>
									<td class="p-1" colspan="3"><strong>{{ value['action'] }}</strong>: {{ value['action_name'] }}</td>
									<td class="p-1"></td>
									<td class="p-1"></td>
								</tr>
							{% endif %}
							<tr>
								<td class="p-1"></td>
								{% if (action == value['action_list'][0]) and (value['action_name'] == '') %}
									<td class="p-1"><strong>{{ value['action'] }}</strong>:</td>
								{% else %}
									<td class="p-1"></td>
								{% endif %}
								{% if action[2] %}
									<td class="p-1">ja</td>
								{% else %}
									<td class="p-1">nein</td>
								{% endif %}
								<td class="p-1">{{ action[0] }}</td>
								{% if (action[3] == None) or (action[3] == action[1]) %}
									<td class="p-1">{{ action[1] }}</td>
								{% else %}
									<td class="p-1">{{ action[3] }} (default: {{ action[1] }})</td>
								{% endif %}
								<td class="p-1"></td>
							</tr>
						{% endfor %}
					{% endfor %}
					
				{% endfor %}
                {% if not supported %}
					<h2>&nbsp; You need a newer SmartHomeNG core!</h2>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
