 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
	{{ nav }}
{% endblock navbar %}

{% block content %}
<div style="display:inline;">
	<ul class="nav nav-tabs">
		<li id="tab_items"><a href="#">{{ _('Item') }} {{ _('Scheduler (plural)') }}</a></li>
		<li id="tab_logics"><a href="#">{{ _('Logik') }} {{ _('Scheduler (plural)') }}</a></li>
		<li id="tab_plugins"><a href="#">{{ _('Plugin') }} {{ _('Scheduler (plural)') }}</a></li>
		<li id="tab_rest"><a href="#">{{ _('sonstige') }} {{ _('Scheduler (plural)') }}</a></li>
<!--
		<li id="tab_all" class="active"><a href="#">{{ _('alle') }} {{ _('Scheduler (plural)') }}</a></li>
-->
	 </ul>
</div>


<div id="all_schedules" style="display: none;">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 280px;">{{ _('Scheduler') }}</th>
					<th style="width: 210px;">{{ _('nächste Ausführung') }}</th>
					<th style="width: 130px;">{{ _('Cycle') }}</th>
					<th>{{ _('Crontab') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in schedule_list	 %}
						<tr>
							<td>{{ entry['fullname'] }}</td>
							<td>{{ entry['next'] }}</td>
							<td>{{ entry['cycle'] }}</td>
							<td>{{ entry['cron'] }}</td>

							<td></td>
						</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="item_schedules">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 280px;">{{ _('Scheduler') }}</th>
					<th style="width: 210px;">{{ _('nächste Ausführung') }}</th>
					<th style="width: 130px;">{{ _('Cycle') }}</th>
					<th>{{ _('Crontab') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in schedule_list	 %}
					{% if entry['group'] == 'items' %}
						<tr>
							<td>{{ entry['name'] }}</td>
							<td>{{ entry['next'] }}</td>
							<td>{{ entry['cycle'] }}</td>
							<td>{{ entry['cron'] }}</td>

							<td></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="logic_schedules" style="display: none;">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 280px;">{{ _('Scheduler') }}</th>
					<th style="width: 210px;">{{ _('nächste Ausführung') }}</th>
					<th style="width: 130px;">{{ _('Cycle') }}</th>
					<th>{{ _('Crontab') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in schedule_list	 %}
					{% if entry['group'] == 'logics' %}
						<tr>
							<td>{{ entry['name'] }}</td>
							<td>{{ entry['next'] }}</td>
							<td>{{ entry['cycle'] }}</td>
							<td>{{ entry['cron'] }}</td>

							<td></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="plugin_schedules" style="display: none;">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 280px;">{{ _('Scheduler') }}</th>
					<th style="width: 210px;">{{ _('nächste Ausführung') }}</th>
					<th style="width: 130px;">{{ _('Cycle') }}</th>
					<th>{{ _('Crontab') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in schedule_list	 %}
					{% if entry['group'] == 'plugins' %}
						<tr>
							<td>{{ entry['name'] }}</td>
							<td>{{ entry['next'] }}</td>
							<td>{{ entry['cycle'] }}</td>
							<td>{{ entry['cron'] }}</td>

							<td></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="rest_schedules" style="display: none;">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 280px;">{{ _('Scheduler') }}</th>
					<th style="width: 210px;">{{ _('nächste Ausführung') }}</th>
					<th style="width: 130px;">{{ _('Cycle') }}</th>
					<th>{{ _('Crontab') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in schedule_list	 %}
					{% if entry['group'] != 'items' and entry['group'] != 'logics' and entry['group'] != 'plugins' %}
						<tr>
							<td>{{ entry['fullname'] }}</td>
							<td>{{ entry['next'] }}</td>
							<td>{{ entry['cycle'] }}</td>
							<td>{{ entry['cron'] }}</td>

							<td></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
$('#tab_all').on('click', function(event){
	$('#tab_all').addClass('active');
	$('#tab_items').removeClass('active');
	$('#tab_logics').removeClass('active');
	$('#tab_plugins').removeClass('active');
	$('#tab_rest').removeClass('active');
	$('#all_schedules').show();
	$('#item_schedules').hide();
	$('#logic_schedules').hide();
	$('#plugin_schedules').hide();
	$('#rest_schedules').hide();
});
$('#tab_items').on('click', function(event){
	$('#tab_all').removeClass('active');
	$('#tab_items').addClass('active');
	$('#tab_logics').removeClass('active');
	$('#tab_plugins').removeClass('active');
	$('#tab_rest').removeClass('active');
	$('#all_schedules').hide()
	$('#item_schedules').show();
	$('#logic_schedules').hide();
	$('#plugin_schedules').hide();
	$('#rest_schedules').hide();
});
$('#tab_logics').on('click', function(event){
	$('#tab_all').removeClass('active');
	$('#tab_items').removeClass('active');
	$('#tab_logics').addClass('active');
	$('#tab_plugins').removeClass('active');
	$('#tab_rest').removeClass('active');
	$('#all_schedules').hide()
	$('#item_schedules').hide();
	$('#logic_schedules').show();
	$('#plugin_schedules').hide();
	$('#rest_schedules').hide();
});
$('#tab_plugins').on('click', function(event){
	$('#tab_all').removeClass('active');
	$('#tab_items').removeClass('active');
	$('#tab_logics').removeClass('active');
	$('#tab_plugins').addClass('active');
	$('#tab_rest').removeClass('active');
	$('#all_schedules').hide()
	$('#item_schedules').hide();
	$('#logic_schedules').hide();
	$('#plugin_schedules').show();
	$('#rest_schedules').hide();
});
$('#tab_rest').on('click', function(event){
	$('#tab_all').removeClass('active');
	$('#tab_items').removeClass('active');
	$('#tab_logics').removeClass('active');
	$('#tab_plugins').removeClass('active');
	$('#tab_rest').addClass('active');
	$('#all_schedules').hide()
	$('#item_schedules').hide();
	$('#logic_schedules').hide();
	$('#plugin_schedules').hide();
	$('#rest_schedules').show();
});
</script>

{% endblock %}
