{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block headtable %}	
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>{{ _('NumFromStart') }}</strong></td>
			<td class="py-1">{{ p._model.get_total_number_of_requests_to_controller() }}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Controller URL</strong></td>
			<td class="py-1">{{ p._model.get_controller_url() }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>&nbsp;</strong></td>
			<td class="py-1">&nbsp;</td>
			<td></td>
			<td class="py-1"><strong>Username</strong></td>
			<td class="py-1">{{ p._model.get_controller_user() }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>&nbsp;</strong></td>
			<td class="py-1">&nbsp;</td>
			<td></td>
			<td class="py-1"><strong>Site</strong></td>
			<td class="py-1">{{ p._model.get_controller_site() }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>Items</strong> (" ~ p._model.get_item_count() ~ ")" %}
{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
					<th>{{ _('Pfad') }}</th>
					<th>{{ _('Typ') }}</th>
					<th>{{ _('Item Wert') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p._model.get_items() %}
					{% if p.get_instance_name() %}
				    	{% set instance_append = "@"+p.get_instance_name() %}
					{% else %}
						{% set instance_append = "" %}
					{% endif %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item.id() }}</td>
						<td class="py-1">{{ item.type() }}</td>
						<td class="py-1">{{ item() }}</td>
						<td class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>Issues</strong> (" ~ p._model.get_items_with_issues_count() ~ ")" %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
					<th>{{ _('Pfad') }}</th>
					<th>{{ _('Probleme') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for ele in p._model.get_items_with_issues() %}
					{% if p.get_instance_name() %}
				    	{% set instance_append = "@"+p.get_instance_name() %}
					{% else %}
						{% set instance_append = "" %}
					{% endif %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ ele.item }}</td>
						<td class="py-1">
							{% for issue in ele.get_issues() %}
								{% if issue[0:5] == "INFO:" %}
									<i class="fas fa-circle" style="color: white"></i>{{ issue[5:400] }}
								{% elif issue[0:6] == "ERROR:" %}
									<i class="fas fa-circle" style="color: red"></i>{{ issue[6:400] }}
								{% elif issue[0:8] == "DEFAULT:" %}
									<i class="fas fa-circle" style="color: green"></i>{{ issue[8:400] }}
								{% elif issue[0:8] == "WARNING:" %}
									<i class="fas fa-circle" style="color: yellow"></i>{{ issue[8:400] }}
								{% else %}
									{{ issue }}
								{% endif %}
								<br/>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab3
-->
{% set tab3title = "<strong>Item-Generator</strong>" %}
{% block bodytab3 %}
<div class="container-fluid m-2">
<pre>
{{ p._model.get_item_hierarchy() }}
</pre>
</div>
{% endblock bodytab3 %}