{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" title="{{ _('Version of underlying Sonos Controller library') }}"><strong>SoCo Version</strong></td>
			<td class="py-1">{{ p.SoCo_version }}</td>
			<td class="py-1" title="{{ _('Number of online speakers') }}"><strong>{{ _('Online Speakers') }}</strong></td>
			<td class="py-1">{{p.SoCo_nr_speakers }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 1 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% set start_tab = 1 %}

<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " </strong> " %}
{% block bodytab1 %}

<div style="margin-left: 10px; margin-right: 10px;">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr class="shng_heading">
					<th width="180px">{{ _('Speaker') }}</th>
					<th width="80px">{{ _('IP') }}</th>
					<th width="50px">{{ _('UID') }}</th>
				</tr>
			</thead>
			<tbody>
				{% if speakerlist %}
					{% for speaker in speakerlist %}
					<tr>
						<td class="py-1">{{ speaker.name }}</td>
						<td class="py-1">{{ speaker.ip }}</td>
						<td class="py-1">{{ speaker.uid }}</td>
					</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="py-1" colspan="7">{{ _('Keine aktiven Speaker') }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% endblock bodytab1 %}


