/**
 * -------------------------------------------------------------------------------------------------
 *
 * Functions:   Visualization of a Helios controlled air system (Helios ECxxxPro)
 *              Also works for various Vallox devices
 *
 * Requires:    Ready-to-use smarthome.py with up-and-running Helios plugin (see there)
 *              - Updated helios.conf in smarthome/items (items config)
 *              - Updated logic.conf in smarthome/etc (logics config)
 *              - Updated helios_logics.py in smarthome/logics (contains related logics)
 *              Ready-to-use smartVISU with UZSU widget
 *
 * Install:     Copy helios.html/.css/.js this file to helios_base_dir (default: smartVISU/widgets/)
 *              Copy images to helios_pic_dir (default: smartVISU/pics/helios/)
 *
 * Usage:       Add the following lines your smartVISU's html:
 *
 *              {% import "helios.html" as helios %}
 *              {{ helios.show_widget(id, use_uzsu, title) }}
 *
 *              Parameters:
 *              id       - Unique device id (device name recommended - no spaces!)
 *              use_uzsu - true / false (installing UZSU first is highly recommended)
 *              title    - Optional title above the image
 *
 *              Example:
 *              {% import "helios.html" as helios %}
 *              {{ helios.show_widget('EC300Pro', true, 'Kontrollierte Wohnraumlüftung') }}
 *
 * -------------------------------------------------------------------------------------------------
 **/

{% macro show_widget(id, use_uzsu, title) %} /** ---------- The main widget -------------------- **/

    /** Preparations **/
    {% import "basic.html" as basic %}                                           /** some basics **/
    {% import "device.html" as device %}                                    /** new 2.9 for UZSU **/
    /** {% if use_uzsu %} {% import "widget_uzsu.html" as uzsu %} {% endif %}      obsolete 2.9  **/
    {% set uid = uid(page, id) %}
    
    {% set debug_mode = true %}                                /** additional output (debugging) **/
    {% set documentation_mode = true %}                                 /** for screenshots only **/    
    {% set helios_base_dir = 'widgets' %}                          /** directory of self and css **/
    {% set helios_pic_dir  = 'pics/helios' %}                          /** directory of own pics **/
    {% set boost_mode = '1' %}                  /** 1=Helios, 2=Logic fixed, 3=Logic interactive **/
    
    /** Your own strings, translations and outputs, as you deem necessary: **/
    {% set level_popup_title =     'Lüftungsstufe einstellen  - aktuell: ' %}
    {% set uzsu_popup_title =      'Schaltuhr' %}
    {% set booster_popup_title =   'Stoßlüftung' %}
    {% set info_popup_title =      'Allgemeiner Status' %}
    {% set settings_popup_title =  'Einstellungen' %}
    {% set error_popup_title =     'KWL-Alarm!' %}
    {% set uzsu_tester_title =     '[Vent][[Fan]][[[FanUZSU]]]-->' %}
    
    /** Items for the DIN Info Tab **/
    {% set info_DIN_items = {
        'Feuchteschutz:':                   'moisture_protection',
        'Reduzierte Lüftung:':             'reduced_air_exchange',
        'Nennlüftung:':                        'normal_air_exchange',
        'Intensivlüftung:':                    'boost_air_exchange'
    } %}
    
    /** Old sample: Items for the Info Popup
    Definition:
    {% set info_popup_items = {
        'Lüfterstufe<sub>min</sub>':       'min_fanspeed',
        'Lüfterstufe<sub>max</sub>':       'max_fanspeed',
        'WRGΔ':                                'bypass_temp',
        'Filterreinigung in':               'clean_filter',
        'Letzter Fehler':                   'device_error',
        'Zuluftventilator (?)':             'fan_in_on_off',
        'Zuluftmotor %':                    'fan_in_percent',
        'Abluftventilator (?)':             'fan_out_on_off',
        'Abluftmotor %':                    'fan_out_percent',
        'Stoß-/Kaminlüftung':             'booster.built_in.mode',
        'Luftdurchsatz':                    'airflow',
        'Luftaustauschrate':                'air_exchange_rate',
        'Wärmeverlust (W)':                    'energy_loss',
        'Wärmegewinn (W)':                 'energy_saving',
        'Wirkungsgrad ƞ<sub>therm</sub>':  'efficiency',
        'Stromverbrauch Ventilatoren':      'consumption_ventilators'
    } %}
    How to use it:
    {% autoescape false %}  
        {% for title,item in info_popup_items %}
            <span class="helios_infotable">{{ title }}<span style="float:right;">{{ basic.value(id~'_info_'~item, 'ventilation.'~item ) }}</span></span>
        {% endfor %}
    {% endautoescape %}
    **/
    

    /** The style sheet **/
    <link type="text/css" rel="stylesheet" href="{{helios_base_dir}}/helios.css"/>

    
    /** Let's go **/
    <div id='{{uid}}-main' class='block' style='text-align:left;'>
    
        /** Title (if not left empty) **/
        {% if title %} <h2>{{ title }}</h2> {% endif %}

        
        /** Display picture - not the smart way, but works **/
        <div><img id='{{uid}}-main-image' src="{{helios_pic_dir}}/controlled_air.svg" alt="Ventilation System"></div>

        
        /** Place temperatures on top the picture **/
        <div class="helios_outside_temp"> {{ basic.float(id~'_outside_temp', 'ventilation.rs485._outside_temp', '°C') }}</div>
        <div class="helios_inside_temp">  {{ basic.float(id~'_inside_temp',  'ventilation.rs485._inside_temp',  '°C') }}</div>
        <div class="helios_exhaust_temp"> {{ basic.float(id~'_exhaust_temp', 'ventilation.rs485._exhaust_temp', '°C') }}</div>
        <div class="helios_incoming_temp">{{ basic.float(id~'_incoming_temp','ventilation.rs485._incoming_temp','°C') }}</div>

        
        /** Place the level icon that triggers popup for level change (simulate a switch by using <a href>) **/
        /** basic.symbol will only place the 'active' icon from the loop - let's find out which is the right one: **/
        <div class="helios_level_icon">
            <a href="#popup_helios_level" data-rel="popup">
                {% for level in 1..8 %}
                    {% set itemid = id~'_display_level_'~level %}
                    /** {% set symbol = icon0~'edit_numeric_'~level~'.svg' %} **/
                    {% set symbol = helios_pic_dir~'/edit_numeric_'~level~'.svg' %}
                    {{ basic.symbol(itemid, 'ventilation.rs485._fanspeed', '', symbol, level) }}
                {% endfor %}
            </a>
            /** Here's the corresponding popup for switching the level **/      
            <div id="popup_helios_level" class="helios_popup_levelswitch" data-role="popup" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span class="ui-btn-up-c helios_popup_header">
                    {{ level_popup_title }} {{ basic.value(id~'_display_current_level', 'ventilation.rs485._fanspeed') }}
                </span>
                <br/>
                /** -----------> Todo: Aktuelle Stufe farbig einfärben ------------------------- **/
                {% for level in 1..8 %}
                    {% set itemid = id~'_set_level_'~level %}
                    {{ basic.button(itemid, 'ventilation.rs485._fanspeed', level, '', level, 'mini') }} &nbsp; &nbsp;
                    {% if level == 4 %} <br/><br/> {% endif %}
                {% endfor %}
                
                /** Power on/off **/
                /** <span class="helios_power_switch ui-btn ui-btn-icon-right ui-li ui-li-has-thumb ui-btn-up-a"> **/
                <span class="ui-btn ui-btn-icon-right ui-li ui-li-has-thumb ui-btn-up-a">
                    {{ basic.switch(id~'_power_state', 'ventilation.rs485._power_state', helios_pic_dir~'/control_on_off_or.svg', helios_pic_dir~'/control_on_off_rt.svg') }} &nbsp; &nbsp; On / Off
                </span>
                
            </div> 
        </div>

        /** Thermal energy displaying **/       
        <div class="helios_thermalinfo_total">{{ basic.value(id~'_thermalinfo_total', 'ventilation.thermal_efficiency.energy_total.as_text' ) }}</div>
        <div class="helios_thermalinfo_recovered">{{ basic.value(id~'_thermalinfo_rcovered', 'ventilation.thermal_efficiency.energy_recovered.as_text' ) }}</div>
        <div class="helios_thermalinfo_lost">{{ basic.value(id~'_thermalinfo_lost', 'ventilation.thermal_efficiency.energy_lost.as_text' ) }}</div>
        
<!-- alte Booster


        /** Original Helios booster switch - use with care, cannot be deactivated once started - "helios mode" **/
        /** Disabled until plugin version 2
        <div class="helios_booster_switch_helios">
            {{ basic.switch(id~'helios_boost_builtin', 'ventilation.rs485._boost_on','', icon0~'vent_ventilation_level_3.png') }}
            </br><small>&nbsp;&nbsp;Helios</small>
        </div> **/
        /** ----------- > Todo: Bei Restzeit > 0 hier statt des Icons die verbleibende Zeit mittels basic.value / rs485._boost_status und rs485._boost_remaining einblenden --- **/

        
        /** Use this one for logic-triggered booster mode - "easy mode" **/
        /** Disabled until plugin version 2
        <div class="helios_booster_switch_easy">
            {{ basic.switch(id~'helios_boost_logic1', 'ventilation.booster.logics.switch', icon1~'control_x.png', icon0~'vent_ventilation_level_3.png') }}      
            </br><small>&nbsp;&nbsp;&nbsp;&nbsp;Easy</small>
        </div> **/
        /** ----------- > Todo: Restzeit einblenden ------------------- **/
        
        
        /** Use this one for logic-triggered booster mode - "interactive mode" with popup **/
        <div class="helios_booster_switch_interactive">     
            <a href="#popup_interactive_booster" data-rel="popup"><img src="{{helios_pic_dir~'/vent_ventilation_level_0.svg'}}" class="icon" /** onload="set_duration(2700) **/"></a>
            /** </br><small>Interactive</small> **/
        </div>
        /** ----------- > Todo: Popup fertigstellen, Restzeit einblenden **/
-->                     

        /** ---------- *
        *   Indicators *
        *   -------- **/ 
                        
        /** Frost indicator (outside air fan stopped due to frost) **/
        <div class="helios_frost_indicator">
            {{ basic.symbol(id~'_frost_ind1', 'ventilation.frost_protection.is_on', '', 'temp_frost.svg', 1, '', 'red') }}
        </div>

        /** Heating indicator (electrical pre-heating switched on) **/
        <div class="helios_heating_indicator">
            {{ basic.symbol(id~'_heating_ind', 'ventilation.heating.is_on', '', helios_pic_dir~'/sani_floor_heating.svg', 1, '', 'red') }}
        </div>      
        
        /** Error indicator (whenever an error is up) **/
        <div class="helios_error_icon">
            {{ _self.symbol_notzero(id~'_error', 'ventilation.rs485._device_error', helios_pic_dir~'/message_service.svg', 'ERROR!', '#popup_helios_error') }}
            /** Here's the corresponding popup with the detailed error description **/
            <div id="popup_helios_error" class="helios_popup_error" data-role="popup" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span class="ui-btn-up-c helios_popup_header"> {{ error_popup_title }} </span>
                <br/>
                <div class="helios_info_description">Fehler&nbsp;{{ basic.value(id~'_error_line_1', 'ventilation.alarms.last_error.code') }} </div><br/>
                {% autoescape false %}
                    {{ basic.value(id~'_error_line_2', 'ventilation.alarms.last_error.description') }}
                    <br/>
                    {{ basic.value(id~'_error_line_3', 'ventilation.alarms.last_error.cause') }}
                    <br/>
                    {{ basic.value(id~'_error_line_4', 'ventilation.alarms.last_error.solution') }}
                    <br/>
                    {% if debug_mode %}
                        {{ basic.slider(id~'_debug_error_slider', 'ventilation.testing.a_num', 0, 10, 1) }}
                    {% endif %}
                {% endautoescape %}
            </div> 
        </div>      

        /** Filter cleaning indicator (filter cleaning countd own ran out) **/
        <div class="helios_filterchange_icon">
            {{ basic.symbol(id~'_clean_filter', 'ventilation.rs485._clean_filter', '', 'vent_air_filter.svg', 0, '', 'orangered') }}
            /** -----------> Todo: Rücksetzen des Wertes auf xx Monate Popoup) ----------------- **/
        </div>
        /** For testing only - in case of error, you will need to switch off the device anyways
        <br/>
        <div class="helios-resetbutton">{{ basic.button(id~'_error_confirm',  'ventilation.testing.a_num', 'Zurücksetzen', '', '0', '') }}</div> **/

        
        
        <div> /** evtl block im block, oder unter den div-block verschieben??? **/
                
            /** Info popup **/
            <div class="helios_info_button">
                <a href="#popup_helios_info" data-rel="popup"><img src="{{helios_pic_dir~'/message_info_or.svg'}}" class="icon"></a>
            </div>
            /** Here's the corresponding popup for the info window **/      
            <div id="popup_helios_info" data-role="popup" class="helios_popup_info" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span id="popup_helios_info_bar" class="ui-btn-up-c helios_popup_header"> {{ info_popup_title }} </span>

/** ---------> aktuelle Arbeiten -------------------------------------------------------------------------------------------------------- **/
        
                <script type="text/javascript"> 
                    $(document).ready(function(){
                        
                        $('ul.kwltabs li').click(function(){
                            var tab_id = $(this).attr('data-tab');

                            $('ul.kwltabs li').removeClass('current');
                            $('.kwltab-content').removeClass('current');

                            $(this).addClass('current');
                            $("#"+tab_id).addClass('current');
                            
                            $("#popup_helios_info_bar").text($(this).attr('data-desc'));
                        })

                    })
                </script>


                <div class="kwlcontainer">

                    <div id="kwltab-1" class="kwltab-content current">
                        <br/>
                        <div class="helios_info_description">&nbsp;Luftaustauschrate:&nbsp;</div>
                        <div class="helios_info_value">{{ basic.value(id~'_info1_1', 'ventilation.airflow.air_exchange_rate' ) }}</div><br/>
                        <div class="helios_info_description">Effizienz:</div>
                        <div class="helios_info_value">{{ basic.value(id~'_info1_2', 'ventilation.thermal_efficiency.efficiency.as_text' ) }}</div>
                    </div>
                    
                    <div id="kwltab-2" class="kwltab-content">
                        <div class="helios_info_subheader">Aktuelle Werte:</div>
                        <br/>
                        <div class="helios_info_description">Stufe {{ basic.value(id~'_info2_1', 'ventilation.rs485._fanspeed') }}</br/>
                        {{ basic.value(id~'_info2_2', 'ventilation.airflow.exhaust_fan') }} m³/h &nbsp;&nbsp;({{ basic.value(id~'_info2_3', 'ventilation.airflow.air_exchange_rate') }})</div>
                        <br/>
                        <div class="helios_info_subheader">DIN-Werte ({{ basic.value(id~'_info2_4', 'ventilation.parameters.fWS.daemmung') }}, {{ basic.value(id~'_info2_5', 'ventilation.parameters.Ane') }} m²)</div>
                        <div class="helios_info_smalltext">
                            <br/>
                            {% autoescape false %} 
                                {% for title,item in info_DIN_items %}
                                    <div> /** 1 item per line **/
                                        <span class="helios_info_left">{{ title }}</span>
                                        <span class="helios_info_right">{{ basic.value(id~'_info_'~item~'1', 'ventilation.airflow.DIN.'~item ) }} m³/h ({{ basic.value(id~'_info_'~item~'2', 'ventilation.airflow.DIN.'~item~'.air_exchange_rate' ) }})</span>
                                    </div></br/>
                                {% endfor %}
                            {% endautoescape %} 
                        </div>
                    </div>

                    <div id="kwltab-3" class="kwltab-content">
                        <div class="helios_info_subheader">Aktuelle Werte:</div>
                        <br/>
                    </div>
                    
                    <div id="kwltab-4" class="kwltab-content">
                        <div class="helios_info_subheader">Aktuelle Werte:</div>
                        <div class="helios_info_description" style="margin-bottom: 9px;">Frischluft: {{ basic.value(id~'_info4_1', 'ventilation.rs485._outside_temp') }} °C<br/>Abluft: {{ basic.value(id~'_info4_2', 'ventilation.rs485._inside_temp') }} °C</div>
                        <div class="helios_info_subheader">Die Wärmerückgewinnung ist{{ basic.value(id~'_info4_3', 'ventilation.bypass.heat_recovery.as_text') }}.</div>
                        <div class="helios_info_smalltext">
                            Wenn die Außenluft um {}°C wärmer ist als die Abluft, wird die Bypassklappe geöffnet und dadurch die Wärmerückgewinnung deaktiviert.<br/><br/>
                            Diese Automatik ist derzeit {} und kann in den Einstellungen und am Bedienteil ein- und ausgeschaltet werden.<br/><br/>
                        </div>                      
                    </div>

                    <div id="kwltab-5" class="kwltab-content">
                        <div class="helios_info_subheader">Aktuelle Werte:</div>
                        <div class="helios_info_description" style="margin-bottom: 12px;">Fortluft: {} °C</div>
                        <div class="helios_info_subheader">Der Frostschutz ist {}.</div>
                        <div class="helios_info_smalltext">
                            Der Zuluftmotor wird gestoppt, wenn die Fortluft unter {}°C sinkt. Bei über {}°C wird er wieder gestartet.
                            Dazwischen heizt die Abluft den Wärmetauscher, um Vereisung zu verhindern.<br/>
                            (Eine Deaktivierung ist werksseitig nicht möglich)<br/><br/>
                        </div>
                        <div class="helios_info_subheader"">Die Vorheizung ist {}.</div>
                        <div class="helios_info_smalltext">
                            Die Heizung wird bei Fortluft unter {}°C aktiviert.<br/>
                            (Nie an, wenn kleiner Frostschutzwert eingestellt) 
                            <br/><br/>
                        </div>
                    </div>


                    

                    <ul class="kwltabs">
                        <li class="kwltab-link ui-btn-corner-all current" data-tab="kwltab-1" data-desc="Allgemeiner Status">&nbsp;1&nbsp;</li>
                        <li class="kwltab-link ui-btn-corner-all" data-tab="kwltab-2" data-desc="Luftaustausch im Detail">&nbsp;2&nbsp;</li>
                        <li class="kwltab-link ui-btn-corner-all" data-tab="kwltab-3" data-desc="Status der Motoren">&nbsp;3&nbsp;</li>
                        <li class="kwltab-link ui-btn-corner-all" data-tab="kwltab-4" data-desc="Überwachung der Zuluft">&nbsp;4&nbsp;</li>
                        <li class="kwltab-link ui-btn-corner-all" data-tab="kwltab-5" data-desc="Überwachung der Fortluft">&nbsp;5&nbsp;</li>
                    </ul>
                    
                </div><!-- kwlcontainer -->


                <style type="text/css" rel="stylesheet">

                    .helios_UZSU_button {
                        position: absolute;
                        margin-top: -345px;
                        margin-left: 450px;
                    }
                                            
                    .helios_booster_button {
                    position: absolute;
                    margin-left: 390px;
                    margin-top: -345px;
                    }
                    
                    .helios_settings_button {
                        position: absolute;
                        margin-left: 75px;
                        margin-top: -345px;
                    }
                    
                    .helios_info_subheader {
                        background-color: lightgrey;
                        color: black;
                        margin-top: 3px;
                        margin-bottom: 3px;
                    }
                    
                    .helios_info_smalltext {
                        text-align: justify;
                        font-size: smaller;
                        margin-top: 3px;
                        margin-bottom: 3px;
                    }
                    
                    .kwlcontainer{
                        width: 280px;
                        margin: 0 auto;
                        text-align: center;
                    }

                    ul.kwltabs{
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                    }
                    
                    ul.kwltabs li{
                        background: none;
                        color: white;
                        display: inline-block;
                        padding: 10px 15px;
                        cursor: pointer;
                    }

                    ul.kwltabs li.current{
                        background: #FFA121;
                        color: white;
                    }

                    .kwltab-content{
                        display: none;
                        background: #ededed;
                        padding: 15px;
                        height: 250px;
                    }

                    .kwltab-content.current{
                        display: inherit;
                        color: white;
                        background: none;
                    }
                </style>



            </div>
            
            /** Settings button and popup **/
            <div class="helios_settings_button">
                <a href="#popup_helios_settings" data-rel="popup">{{ basic.symbol(id~'_settings_button', 'ventilation.rs485._power_state', '', 'edit_settings.svg', '1', '', 'orange') }}</a>
            </div>
            
            <div id="popup_helios_settings" data-role="popup" class="helios_popup_settings" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span class="ui-btn-up-c helios_popup_header"> {{ settings_popup_title }} </span>

                /** Bypass on/off **/
                <div class="helios_bypass_switch">
                    {{ basic.switch(id~'_bypass_state', 'ventilation.rs485._bypass_disabled', helios_pic_dir~'/audio_fade_or.svg', helios_pic_dir~'/audio_fade_ws.svg') }}
                </div>
            </div>
            
            /** UZSU button and widget call up **/
            {% if use_uzsu %}
                <div class="helios_UZSU_button">
                    /** Funktionierend bis 2.8: **/
                    /** {{ uzsu.uzsu_icon(id~'_fanspeed_timer', 'ventilation.uzsu.uzsu_timer', ' ','0', 'time_timer.svg', 'time_timer.svg', 'num', 'An', 'Aus') }} **/
                    /** Neu ab 2.9: **/
                    {{ device.uzsuicon(id~'_fanspeed_timer', 'ventilation.uzsu.uzsu_timer', ' ', 'time_timer.svg', 'time_timer.svg','num' ) }}
                </div>      
            {% endif %}
            
            /** Boost air button and popup **/
            <div class="helios_booster_button">
                <a href="#popup_interactive_booster" data-rel="popup">{{ basic.symbol(id~'_boost_button', 'ventilation.rs485._power_state', '', 'vent_ventilation_level_3.svg', '1', '', 'orange') }}</a>
            </div>
            
            <div id="popup_interactive_booster" data-role="popup" class="helios_popup_booster_interactive" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span style="float:center;" class="ui-btn-up-c">{{ booster_popup_title }}</span>
                <br/>

                <table><colgroup><col width=20% float="left"><col width=79% float="right"></colgroup>
                    <tr>
                        <td>
                            Dauer:{% if debug_mode %}<br/>{{ basic.value(id~'_boost_duration_debug', 'ventilation.booster.logics.boost_duration') }}{% endif %}
                        </td>
                        <td>
                            {{ _self.radiogroup(id~'_boost_duration', 'ventilation.booster.logics.boost_duration', ['15\'','30\'','45\'','1h','90\'','2h'], [900,1800,2700,3600,5400,7200]) }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Anheizen:
                            {% if debug_mode %}<br/><small><i>{{ basic.value(id~'_fireplace_duration_debug', 'ventilation.booster.logics.fireplace_duration') }}</i></small>{% endif %}
                        </td>
                        <td>
                            {{ _self.radiogroup(id~'_fireplace_duration', 'ventilation.booster.logics.fireplace_duration', ['Aus','15\'','30\''], [0,900,1800]) }}
                            <br/>
                            {{ _self.value_notzero('ein_Test', 'ventilation.booster.logics.boost_duration', '\'','') }}
                            /** {{ _self.symbol_notzero('noch_ein_Test', 'ventilation.booster.boost_remaining_a', helios_pic_dir~'/message_attention.png', 'MY ERROR TEXT!', 'http://www.google.de') }} **/
                        </td>
                    </tr>
                </table>
                
                <br/><br/>
                
                <div class="helios_infotable">
                    Stufe:
                    {{ basic.slider(id~'_boost_level_slider', 'ventilation.booster.logics.level', 1, 8, 1) }}
                </div>
                    
                <br/><br/>

                Kamin: Abbluft-Motor herunterregeln auf xx%.
                <br/>
                <br/>
                [Start-Button]<br/>
                <br/>
                </div> 

            </div>
        
        /** Documentation mode only - show all icons**/
        {% if documentation_mode %}
            /** <div class="helios_frost_indicator">{{ basic.symbol(id~'_doc_frost_ind', 'ventilation.frost_protection.is_on', '', 'temp_frost.svg', 0, '', 'red') }}</div> **/
            <div class="helios_heating_indicator">{{ basic.symbol(id~'_doc_heating_ind', 'ventilation.heating.is_on', '', 'sani_floor_heating.svg', 0, '', 'red') }}</div>
            <div class="helios_error_icon">{{ basic.symbol(id~'_doc_error_ind', 'ventilation.rs485._device_error', '', helios_pic_dir~'/message_service.svg', 0) }}</div>
            /** <div class="helios_filterchange_icon">{{ basic.symbol(id~'_doc_clean_filter', 'ventilation.rs485._clean_filter', '', 'vent_air_filter.svg', 0, '', 'red') }}</div> **/
        {% endif %}

        
        /** Debug mode only - show additional features **/
        {% if debug_mode %}
            
            <div class="helios_debug_info">
                Debug -ON-
            </div>
            
            <div class="helios_faninfo_left">
                Motor: {{ basic.value(id~'_faninfo_left_1', 'ventilation.fans.supply.info1' ) }} <br/>
                {{ basic.value(id~'_faninfo_left_2', 'ventilation.fans.supply.info2' ) }}
            </div>
            
            <div class="helios_faninfo_right">
                Motor: {{ basic.value(id~'_faninfo_right_1', 'ventilation.fans.exhaust.info1' ) }} <br/>
                {{ basic.value(id~'_faninfo_right_2', 'ventilation.fans.exhaust.info2' ) }}
            </div>
            
            <div class="helios_bypass">
                Bypass: {{ basic.value(id~'_bypass_state1', 'ventilation.bypass.is_on.as_text' ) }}<br/>
                (T<sub>aussen</sub> > {{ basic.value(id~'_bypass_setpoint', 'ventilation.bypass.setpoint.as_text' ) }})
            </div>
            
            <div class="helios_heating">
                Frost stop: {{ basic.value(id~'_thermalinfo_heating_frost_stop', 'ventilation.frost_protection.is_on.as_text' ) }}<br/>
                (T<sub>fort</sub> <{{ basic.value(id~'_thermalinfo_frost_protect_on', 'ventilation.frost_protection.hysteresis.celsius.as_text' ) }}|{{ basic.value(id~'_thermalinfo_frost_protect_off', 'ventilation.frost_protection.end_setpoint.as_text' ) }})<br/>
                Heizung: {{ basic.value(id~'_thermalinfo_heating_status', 'ventilation.heating.is_on.as_text' ) }}<br/>
                (T<sub>fort</sub> <{{ basic.value(id~'_thermalinfo_heating_setpoint', 'ventilation.heating.setpoint.as_text' ) }})
            </div>
            
            <div class="helios_thermalinfo_efficiency">
                ƞ ={{ basic.value(id~'_thermalinfo_efficiency', 'ventilation.thermal_efficiency.efficiency.as_text' ) }}
            </div>
            
            <div class="helios_thermalinfo_exchange_rate">
                β ={{ basic.value(id~'_thermalinfo_exchange_rate', 'ventilation.airflow.air_exchange_rate' ) }}
            </div>
                
            <div class="helios_boost_1">
                Booster:<br/>
                {% if boost_mode == '1' %}Helios{% endif %}
                {% if boost_mode == '2' %}Logik{% endif %}
                {% if boost_mode == '3' %}Interaktiv{% endif %}
            </div>

            {% if boost_mode == '1' %}
                <div class="helios_boost_2">
                    Voreinstellung:<br/>{{ basic.value(id~'_boostermode', 'ventilation.booster.built_in.mode' ) }}
                </div>
            {% endif %}
            
            /** Quick 'n dirty UZSU logic testing tool: Simulate function of timer by triggering corresponding variable by hand **/
            /** Important - variable currently not yet initialized properly, only works after 1st trigger! **/
            <div class="helios_uzsutest_button"><a href="#popup-test-uzsu" data-rel="popup">UZSU-Test</a></div>
            /** The popup **/
            <div id="popup-test-uzsu" class="helios_popup_uzsutest" data-role="popup" data-overlay-theme="c">
                <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right";>Close</a>
                <span style="float:center;" class="ui-btn-up-c">{{ uzsu_tester_title }} {{ basic.value('helios_uzsu_tool', 'ventilation.uzsu.fanspeed_uzsu') }}</span>
                <br/>
                {% for level in 0..8 %}
                    {% set itemid = id~'_test_level_'~level %}
                    {{ basic.button(itemid, 'ventilation.uzsu.fanspeed_uzsu', level, '', level, 'mini') }} &nbsp; &nbsp;
                    {% if level == 0 or level == 4 %} <br/><br/> {% endif %}
                {% endfor %}
                <br/>
            </div> 
            
            
            <div class="helios_alarmtest_button"><a href="#popup_helios_error" data-rel="popup">Alarmtest</a></div>
            
            
            <div class="helios_filtertest_button"><a href="#popup-test-filter" data-rel="popup">Filtertest</a></div>            
            
        {% endif %}





        
        /** ---------> aktuelle Arbeiten -------------------------------------------------------------------------------------------------------- **/

        /** Here's the popup for the interactive booster mode **/


    </div>

    
/** <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="280" height="280">
    <title>Titel</title>
    <desc>ein SVG</desc>
    <defs>
        <symbol id="smilie">
            <desc>ein Symbol-Smilie</desc>
            <circle cx="20" cy="20" r="15" fill="yellow" stroke="black" />
            <path d="M 13 26 A 5 3 0 0 0 27 26" stroke="black" fill="none" stroke-width="2" />
        </symbol>
    </defs>
    <use xlink:href="#smilie" transform="translate(-20,-20) scale(8)" />
    <text x="79" y="119">S</text>
    <text x="117" y="170">V</text>
    <text x="156" y="119">G</text>
</svg> **/

{% endmacro %}

/**
* Displays a group of radio buttons
*
* @param id        a unique id for this widget
* @param gad       the gad/item
* @param labels    the text labels to put on the buttons
* @param vals      the real item values the button / label represents
* sampele call when embedded in an html file:
* _self.radiogroup(id~'_boost_duration', 'ventilation.booster.logics.boost_duration', ['15\'','30\'','45\'','1h','90\'','2h'], [900,1800,2700,3600,5400,7200]) }}
*/
{% macro radiogroup(id, gad, labels, vals) %} /** ---------- Radio button macro ---------------- **/
    {% set rid=uid(page,id) %}
    <span data-role="controlgroup" data-type="horizontal">
        {% for nr in 0..labels|length-1 %}
            <span id="{{rid}}-button-{{nr}}" btn-id="{{rid}}_radio_{{nr}}" data-widget="helios.radiobutton" data-item="{{gad}}" data-val="{{vals[nr]}}">
                <input type='radio' id='{{rid}}_radio_{{nr}}' name='{{rid}}_radio' value="{{labels[nr]}}" onclick="set_helios_value_{{id}}({{vals[nr]}})" data-mini="true">
                /** <input data-mini="true" type='radio' id='{{rid}}_radio_{{nr}}' name='{{rid}}_radio' value="{{labels[nr]}}" onclick="io.write({{gad}}, {{vals[nr]}})"> **/
                <label for='{{rid}}_radio_{{nr}}'>{{labels[nr]}}</label>
            </span>
        {% endfor %}
    </span>
    <script type="text/javascript">
        function set_helios_value_{{id}}(newval) {
            io.write('{{gad}}', newval);
//          // alert('{{gad}}' + ' -> ' + newval);
        }
        $(document).delegate('span[data-widget="helios.radiobutton"]', { 
            'update': function(event, response) {
                if (response == $(this).attr('data-val')) {
                    var targetbtn = $(this).attr('btn-id');
                    $("input[name='{{rid}}_radio']:checked").removeProp("checked");
                    $('#' + targetbtn).prop("checked",true);
                    $('#' + targetbtn).click();
                }
            },
        });
    </script>
{% endmacro %}

 
/**
* Displays an item value if not 0 or empty
* Useful for device alarm codes, count downs, timers (and probably more ...)
* Optionally displays a specific string in case item is 0 or empty
*
* @param id        a unique id for this widget
* @param gad       the gad/item
* @param unit      optional unit, like 'min' or '\'' for remaining ' (minutes) in a count down
* @param zerostr   optional string if item is 0 or empty (like ---). by default a white space &nbsp;
*/
{% macro value_notzero(id, gad, unit, zerostr) %}
    <span id="{{ uid(page, id) }}" data-widget="helios.value_notzero" data-item="{{ gad }}" data-unit="{{ unit }}" data-zero-val="{{ zerostr|default('&#160;') }}">[text]</span>
    <script type="text/javascript">
        $(document).delegate('span[data-widget="helios.value_notzero"]', { 
            'update': function(event, response) {
                if (response !=0 && response !="") {
                    $('#' + this.id).html(response + $(this).attr('data-unit'));
                } else {
                    $('#' + this.id).html($(this).attr('data-zero-val'));
                }
            },
        });
    </script>
{% endmacro %}


/**
* Displays an icon if an item is not 0 or empty
* Useful for device alarm codes, count downs, timers (and probably more ...)
* Optionally displays a specific string as hint
* Optionally links to a URL or Popup window on click
*
* @param id        a unique id for this widget
* @param gad       the gad/item
* @param img       the icon
* @param hint      optional string for hint text
* @param link      optional link on click (use e.g. #mypopupname or http://www.mywebsite.com?args)
*/
{% macro symbol_notzero(id, gad, img, hint, link) %}
    <span id="{{ uid(page, id) }}" data-widget="helios.symbol_notzero" data-item="{{ gad }}">[symbol]</span>
    <script type="text/javascript">
        $(document).delegate('span[data-widget="helios.symbol_notzero"]', {
            'update': function(event, response) {
                head = ''; tail = '';
                {% if link %} head = '<a class="ui-link" data-rel="popup" href="{{ link }}">'; tail = '</a>'; {% endif %}
                img = '<img class="icon" src="{{ img }}" title="{{ hint }}">';
                invis_img = '<img class="icon" src="{{ img }}" style="opacity:0">';
                if (response !=0 && response !="") {
                    $('#' + this.id).html(head + img + tail);
                } else {
                    $('#' + this.id).html(invis_img);
                }       
            },
        });
    </script>
{% endmacro %}
