{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block pluginscripts %}
<script>
var te_python;
var cmPython;
var te_resulttext;
var cmResult;
var max_script_entries;
max_script_entries = {{ p._script_entries }};
console.log("max_script_entries=",max_script_entries);

function getexecution() {
    console.log("Sending code for execution ...");
    param = cmPython.doc.getValue();
    /* clear results */
    cmResult.doc.setValue("... processing ...");
    cmResult.refresh();
    /* should set hourglass cursor here */
	document.body.style.cursor = "wait";
    console.log('Param ='+encodeURIComponent(param));
    $.get('exec_code', { eline: param}, function(data){
        cmResult.doc.setValue(data);
        console.log('Data:'+data);
    });
    /* should remove hourglass cursor here */
	document.body.style.cursor = "default";
    console.log('erledigt');
    console.log('Execution of code is done');
};

function get_filelist(order) {
    console.log("getting list of files with order " + order);
    $.get('get_filelist', {}, function(data){
  		$('#filelist').empty();
  		var lines;
      data = JSON.parse(data);
      if (order == 'alpha-asc')
  		  lines = data.sort();
      else if (order == 'alpha-desc')
  		  lines = data.sort().reverse();
      else if (order == 'time-desc')
  		  lines = data.reverse();
      else
        lines = data;
      for (line in lines) {
        $('#filelist').append(new Option(lines[line], lines[line]));
      };
      $('#filelist > option').each(function(){
          if ($(this).attr('value').indexOf('examples/') == 0)
            $(this).addClass('example_file');
      });
  		var size;
  		if (max_script_entries == 0) { size = 0; }
  		else if (lines.length > max_script_entries) { size = max_script_entries; }
  		else { size = lines.length; };
      console.log("Size: " + size);
      console.log('Data: ' + data);
      $('#filelist').attr('size',size);
    });
};

function selectFile(selectObject) {
	var value = selectObject.value;
	$('#savefilename').val(value);
  const del_button = document.querySelector('#deletefile');
  const load_button = document.querySelector('#loadfilename');
  load_button.removeAttribute("disabled");
  if (value.startsWith("examples/"))
    del_button.setAttribute("disabled", "disabled");
  else
    del_button.removeAttribute("disabled");

	console.log("selected ",value);
};

function doubleclickFile(selectObject) {
	var value = selectObject.value;
	console.log("doubleclicked ",value);
	loadfromfile(value);
};

function btnloadfromfile(selectObject) {
	var value = $('#savefilename').val()
	console.log("clicked ",value);
	loadfromfile(value);
};

function loadfromfile(filenametoload) {
	console.log('load from file'+filenametoload);
	$.get('get_code', { filename: filenametoload}, function(data) {
		console.log('Data:'+data);
		cmPython.getDoc().setValue(data);
	});
};

function savetofile() {
	var filenametosave = $('#savefilename').val();
	console.log('save to file'+filenametosave);
	$.get('save_code', { filename: filenametosave, code: cmPython.doc.getValue()}, function(result) {
		console.log('Result:'+result);
        get_filelist(getCookie('sort_order'));
	});

};

function deletefile() {
	var filenametodelete = $('#savefilename').val();
	console.log('file to delete'+filenametodelete);
	$.get('delete_file', { filename: filenametodelete}, function(result) {
		console.log('Result:'+result);
    const save_input = document.querySelector('#savefilename');
    const del_button = document.querySelector('#deletefile');
    del_button.setAttribute("disabled", "disabled");
    save_input.value="";
    get_filelist(getCookie('sort_order'));
	});

};

function get_Dict(cmPython) {
  return new window.Promise(function (resolve, reject) {
    function successCallback(response) {
        resolve(response);
    }

    function errorCallback(response) {
        reject(response);
    }

    function fetch_autocomplete() {
      CodeMirror.commands.autocomplete_items = function() {
      };
      $.ajax({
          url: "get_autocomplete",
          method: "GET",
          async: true,
          dataType: "json",
          success: function(myDict) {
            console.log("Initializing Autocomplete");
            let worker = new Worker(
                `data:text/javascript,
                function createAutocomplete(myDict){
                  myAutocomplete = [];
                  for (i = 0; i < myDict.items.length; i++) {
                      if (myDict.items[i] != "." && myDict.items != "..") {
                          myAutocomplete.push({
                              text: myDict.items[i],
                              displayText: myDict.items[i] + " | Item"
                          });
                      }
                  }
                  for (i = 0; i < myDict.plugins.length; i++) {
                      if (myDict.plugins[i] != "." && myDict.plugins != "..") {
                          myAutocomplete.push({
                              text: myDict.plugins[i],
                              displayText: myDict.plugins[i] + " | Plugin"
                          });
                      }
                  }
                  return myAutocomplete;
                }
                onmessage = function(event){
                    let myDict = event.data;
                    let result = createAutocomplete(myDict);
                    postMessage(result);
                };
                `
            );

            worker.onmessage = function(event){
              myAutocomplete = event.data;
              registerAutocompleteHelper('autocompleteHint', myAutocomplete);
              console.log('Stored ' + myAutocomplete.length + ' entries to Autocomplete dict.');
              CodeMirror.commands.autocomplete_items = function(cmPython) {
                  CodeMirror.showHint(cmPython, CodeMirror.hint.autocompleteHint);
              }
            };

            worker.postMessage(myDict);

          },
          error: function(result) {
              console.log("Error while receiving Autocomplete")

          }
      }).done(successCallback).fail(errorCallback);
    }
    fetch_autocomplete();
  });
}

function autocompleteSuccess(response) {
    console.log("Filling autocomplete dict... This might take some time!");
}

function autocompleteError(error) {
    console.warn(error);
}


// ************************************************************************
// registerAutocompleteHelper - seen at Web-Interface of logics from shNG
// ************************************************************************
function registerAutocompleteHelper(name, curDict) {
    CodeMirror.registerHelper('hint', name, function(editor) {
        cur = editor.getCursor();
        curLine = editor.getLine(cur.line);
        var start = cur.ch,
            end = start;

        console.log('Autocomplete called - autocompleteHint')
        var charexp = /[\w\.$]+/;
        while (end < curLine.length && charexp.test(curLine.charAt(end))) ++end;
        while (start && charexp.test(curLine.charAt(start - 1))) --start;
        var curWord = start != end && curLine.slice(start, end);
        if (curWord.length > 1) {
            curWord = curWord.trim();
        }

        var regex = new RegExp('^' + curWord, 'i');

        if (searchtype == 2) {
            searchtype = 1
            curWord = "..."
            var regex = new RegExp('' + curWord, 'i');
        }

        if (curWord.length >= 3) {
            var oCompletions = {
                list: (!curWord ? [] : curDict.filter(function(item) {
                    return (item['displayText'].match(regex) && item['displayText']);
                })).sort(function(a, b) {
                    var nameA = a.text.toLowerCase(),
                        nameB = b.text.toLowerCase()
                    if (nameA < nameB) // sort string ascending
                        return -1
                    if (nameA > nameB)
                        return 1
                    return 0 // default return value (no sorting)
                }),
                from: CodeMirror.Pos(cur.line, start),
                to: CodeMirror.Pos(cur.line, end)
            };

            return oCompletions;
        }
    });
}


$(document).ready(function(){
    const load_button = document.querySelector('#loadfilename');
    const del_button = document.querySelector('#deletefile');
    load_button.setAttribute("disabled", "disabled");
    del_button.setAttribute("disabled", "disabled");
    const te_python = document.getElementById('pycodetext');
    const te_resulttext = document.getElementById('resulttext');
    const alpha_asc = document.getElementById('alpha-asc');
    const alpha_desc = document.getElementById('alpha-desc');
    const time_asc = document.getElementById('time-asc');
    const time_desc = document.getElementById('time-desc');
    try {
      const tooltipList = ['Sort by alphabet ascending', 'Sort by alphabet descending', 'Sort by creationtime ascending', 'Sort by creationtime descending'];
      createTooltips(tooltipList);
    }
    catch (e) {}
    alpha_asc.addEventListener('click', function() {
        alpha_desc.classList.remove('active');
        time_asc.classList.remove('active');
        time_desc.classList.remove('active');
        this.classList.add('active');});
    alpha_desc.addEventListener('click', function() {
        alpha_asc.classList.remove('active');
        time_asc.classList.remove('active');
        time_desc.classList.remove('active');
        this.classList.add('active');});
    time_asc.addEventListener('click', function() {
        alpha_desc.classList.remove('active');
        alpha_asc.classList.remove('active');
        time_desc.classList.remove('active');
        this.classList.add('active');});
    time_desc.addEventListener('click', function() {
        alpha_desc.classList.remove('active');
        alpha_asc.classList.remove('active');
        time_asc.classList.remove('active');
        this.classList.add('active');});
    order = getCookie('sort_order');
    if (order == '')
      order = 'time-desc';
    console.log("Sort Order on Load: " + order);
    button = document.getElementById(order);
    button.click();
    cmPython = CodeMirror(te_python, {
        mode: "python",
        lineNumbers: true,
        extraKeys: {
            "Ctrl-Space": function(cm) {
            searchtype = 2;
            CodeMirror.showHint(cm, CodeMirror.hint.autocompleteHint)
            },
            "Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); },
            Tab: function(cm) {
                var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                cm.replaceSelection(spaces);},
            "Ctrl-Enter": function(cm){ getexecution(); }
        },
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
    });

    cmPython.on("keyup", function (cm, event)
    {
 	searchtype = 1;
    if (!cm.state.completionActive && /*Enables keyboard navigation in autocomplete list*/
		(event.keyCode != 8 &&
		event.keyCode != 9 &&
		event.keyCode != 13 &&
		event.keyCode != 27 &&
		event.keyCode != 37 &&
		event.keyCode != 38 &&
		event.keyCode != 39 &&
		event.keyCode != 40 &&
		event.keyCode != 46))
     {
		CodeMirror.commands.autocomplete_items(cm, null, {completeSingle: false});
	 };

    });

    get_Dict(cmPython).then(autocompleteSuccess).catch(autocompleteError);

    cmPython.refresh();

    cmResult = CodeMirror(te_resulttext, {
        lineNumbers: true
    });
	cmResult.refresh();

});
</script>
{% endblock pluginscripts %}
{% block pluginstyles %}
<style>
body {
	margin: 0!important;
}

#app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 1fr;
	grid-template-areas:
		'header'
		'main'
		'footer';
	height: 100vh;
	min-width: 0;
}

#app > header {
	grid-area: header;
	background: lightgray;
	padding: 1rem!important;
}

#app > main {
	grid-area: main;
	overflow: auto;
}

#app > footer {
	grid-area: footer;
	overflow: auto;
	background: #dfc;
}

#pycodetext {
    /* width: 100%;
    height: 100%; */
    display: block;
    margin-bottom: 5px;
}
select {
	padding: 0.2rem;
}

button#doexec{
    margin-top: .2em;
    margin-bottom: 1em;
    display: block;
}
button {
	padding-left: 1em;
	padding-right: 1em;
}

button#savefile{
    margin-top: .2em;
    margin-bottom: 1em;
    /* display: block; */
}
button#deletefile{
    margin-top: .2em;
    margin-bottom: 1em;
    /* display: block; */
}

input#savefilename {
    margin-top: .2	em;
 }

#resulttext {
    border: green solid 1px;
    width: 100%;
    /* min-height: 2em; */
    display: block;
    margin-bottom: 5px;
    overflow: auto;
}

button#loadfilename {
    display: block;
    width: 100%;
}
input.sort {
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-left: 20px;
  margin-bottom: -5px;
}
.active {
  border: none;
  filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);
}
.example_file {
  font-style: italic;
  color: grey;
}
</style>
{% endblock pluginstyles %}
{% block content -%}

<div id="app">
	<header>
		<div class="container-fluid">
			<div class="row" id="webif-toprow">
				<div class="{% if logo_frame %}card {% endif %} col-sm-auto" style="height:150px;" id="webif-pluginlogo">
					{% if isfile("static/img/plugin_logo.png") %}
						<img src="static/img/plugin_logo.png" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
					{% elif isfile("static/img/plugin_logo.jpg") %}
						<img src="static/img/plugin_logo.jpg" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
					{% elif isfile("static/img/plugin_logo.svg") %}
						<img src="static/img/plugin_logo.svg" alt="plugin_logo" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
					{% else %}
						{% set plgtype_logo = "/gstatic/img/plugin_"+p._plgtype+".svg" %}
						{% if isfile(plgtype_logo) %}
							<img src="{{ plgtype_logo }}" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
						{% else %}
							<img src="/gstatic/img/plugin_unknown.svg" alt="plugin_logo_unknown" style="object-fit:contain; width:100%; height:100%; margin-left: auto; margin-right: auto; display: block;">
						{% endif %}
					{% endif %}
				</div>
				<div class="col-sm-auto" id="webif-plugininfo">
					<h3 id="webif_shng_logo"><img src="/gstatic/img/logo_long.png" alt="shng_logo_long" height="40" valign="top" align="left" style="align: left; display: block;"></h3>
					<div class="m-3">
					<br>
					</div>
					<h5>{{ _('Plugin') }} : <span id="webif_plugin_name"><strong>{{ p.get_shortname() }}</strong></span> v<span id="webif_plugin_version">{{ p.get_version() }}</span></h5>
					{% if p.get_instance_name() != '' %}
						<h5>{{ _('Instanz') }}: <span id="webif_plugin_instance">{{ p.get_instance_name() }}</span></h5>
					{% else %}
						<br>
					{% endif %}
					<h6>{{ _('Plugin') }} &nbsp; &nbsp; : <span id="webif_plugin_state">{% if p.alive %}{{ _('Aktiv') }}{% else %}{{ _('Gestoppt') }}{% endif %}</span></h6>
				</div>
				<div class="col-sm"><div>
				<label for="filelist">{{ _('Gespeicherte Skripte') }}</label>
        <input type= "image" id="alpha-asc" class="sort button-tooltip" onclick="setCookie('sort_order', 'alpha-asc', 36500, window.pluginname);get_filelist('alpha-asc')" src="/gstatic/img/sort-alpha-asc.svg" />
        <input type= "image" id="alpha-desc" class="sort button-tooltip" onclick="setCookie('sort_order', 'alpha-desc', 36500, window.pluginname);get_filelist('alpha-desc')" src="/gstatic/img/sort-alpha-desc.svg" />
        <input type= "image" id="time-asc" class="sort button-tooltip" onclick="setCookie('sort_order', 'time-asc', 36500, window.pluginname);get_filelist('time-asc')" src="/gstatic/img/sort-time-asc.svg" />
        <input type= "image" id="time-desc" class="sort button-tooltip" onclick="setCookie('sort_order', 'time-desc', 36500, window.pluginname);get_filelist('time-desc')" src="/gstatic/img/sort-time-desc.svg" /></div>
					<select style="width: 100%" id="filelist" size=10 onchange="selectFile(this)" ondblclick="doubleclickFile(this)">
					</select>
					<button onclick="btnloadfromfile(this)" id="loadfilename" type="button">{{ _('aus Datei laden') }}</button>
				</div>
				<div class="col-sm">
					<label for="savefilename">{{ _('Dateiname') }}</label>
					<input style="width: 100%;" type="text" id="savefilename" name="savefilename" minlength="4"/>
					<div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-left: auto; margin-right: auto;">
						<button onclick="savetofile()" id="savefile" type="button">{{ _('Aktuellen Code speichern') }}</button>
						<button onclick="deletefile()" id="deletefile" type="button">{{ _('Datei löschen') }}</button>
					</div>
					<button onclick="getexecution()" id="doexec">{{ _('Code ausführen!') }}</button>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container-fluid" style="margin-top: 10px">
			<label>{{ _('Python Code') }}</label><br>
			<div id="pycodetext"></div>
		</div>
	</main>
	<footer>
		<div class="container-fluid" style="margin-top: 10px">
			<label>{{ _('Ergebnis') }}</label><br>
			<div id="resulttext" placeholder="Ergebnisse erscheinen hier"></div>
		</div>
	</footer>
<div>
{%- endblock content %}
