{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				<!--
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				-->
			}
		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Casambi Backend</strong></td>
			<td class="py-1">{% if p.casambiBackendStatus %}{{ _('Online') }}{% else %}{{ _('Offline') }}{% endif %}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>{{ _('Anzahl Netzwerke') }}</strong></td>
			<td class="py-1">{{ p.numberNetworks }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>NetworkID </strong></td>
			<td class="py-1">{% if p.networkIDValid() %}{{ _('Valide') }}{% else %}{{ _('Invalide') }}{% endif %}</td>
			<td></td>
			<td class="py-1"><strong>SessionID</strong></td>
			<td class="py-1">{% if p.sessionIDValid() %}{{ _('Valide') }}{% else %}{{ _('Invalide') }}{% endif %}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<div>
		<button id="btn1" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {learn: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button>
	</div>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 1 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 1 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
	{{ _('Liste der Casambi Items:') }}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>{{ _('Item') }}</th>
		<th>{{ _('Casambi ID') }}</th>
	</tr>
	</thead>
	{% for item in items %}
		{% if p.has_iattr(item.conf, 'casambi_id') %}
			<tr>
				<td class="py-1">{{ item._path }}</td>
				<td class="py-1">{{ item.conf['casambi_id']}}</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>

</div>
{% endblock bodytab1 %}


