{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 10 %}
{% set tab1title = 'Items' %}
{% set tab2title = 'JSON Data (weather)' %}
{% set tab3title = 'JSON Data (forecast)' %}
{% set tab4title = 'JSON Data (uvi)' %}
{% set tab5title = 'JSON Data (onecall)' %}
{% set tab6title = 'JSON Data (onecall-0)' %}
{% set tab7title = 'JSON Data (onecall-1)' %}
{% set tab8title = 'JSON Data (onecall-2)' %}
{% set tab9title = 'JSON Data (onecall-3)' %}
{% set tab10title = 'JSON Data (onecall-4)' %}


{% set start_tab = 5 %}

{% block headtable %}
<script src="/gstatic/codemirror/mode/javascript/javascript.js"></script>
{% endblock %}

{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<h5>OpenWeatherMap Plugin Items ({{ p.get_items()|length }})</h5>

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
					<th>Pfad</th>
					<th>Typ</th>
					<th>owm_matchstring</th>
					<th>Wert</th>
					<th>Letztes Update</th>
					<th>Letzter Change</th>
				</tr>
			</thead>
			<tbody>
				{% for key, item in p.get_items().items() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item[1].property.path }}</td>
						<td class="py-1">{{ item[1].property.type }}</td>
						<td class="py-1">{{ item[0] }}</td>
						<td class="py-1">{% if key in ['precipitation_new', 'clouds_new', 'pressure_new', 'wind_new', 'temp_new'] %}<a class="text-shng" target="_blank" href="{{ item() }}">{{ item[1]() }}</a>{% else %} {{ item[1]() }} {% endif %}</td>
						<td class="py-1">{{ item[1].property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}<br />{{ item[1].property.last_update_by }}</td>
						<td class="py-1">{{ item[1].property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block bodytab2 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_weather.url }}<br />
	Fetched: {{ data_weather.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab2_json" name="bodytab2_json">{{ data_weather.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab2_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab2_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab2_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab3 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_forecast.url }}<br />
	Fetched: {{ data_forecast.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab3_json" name="bodytab3_json">{{ data_forecast.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab3_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab3_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab3_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab4 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_uvi.url }}<br />
	Fetched: {{ data_uvi.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab4_json" name="bodytab4_json">{{ data_uvi.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab4_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab4_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab4_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab5 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_onecall.url }}<br />
	Fetched: {{ data_onecall.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab5_json" name="bodytab5_json">{{ data_onecall.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab5_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab5_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab5_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab6 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_back0day.url }}<br />
	Fetched: {{ data_back0day.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab6_json" name="bodytab6_json">{{ data_back0day.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab6_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab6_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab6_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab7 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_back1day.url }}<br />
	Fetched: {{ data_back1day.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab7_json" name="bodytab7_json">{{ data_back1day.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab7_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab7_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab7_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab8 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_back2day.url }}<br />
	Fetched: {{ data_back2day.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab8_json" name="bodytab8_json">{{ data_back2day.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab8_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab8_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab8_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab9 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_back3day.url }}<br />
	Fetched: {{ data_back3day.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab9_json" name="bodytab9_json">{{ data_back3day.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab9_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab9_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab9_json_editor.refresh()
</script>
{% endblock %}

{% block bodytab10 %}
<br style="clear:both;"/>
<div class="container-fluid">
	Origin: {{ data_back4day.url }}<br />
	Fetched: {{ data_back4day.fetched }}
	<div style="border: 1px solid #ddd; margin-bottom: 10px;">
		<textarea autocomplete="off" id="bodytab10_json" name="bodytab10_json">{{ data_back4day.data }}</textarea>
	</div>
</div>
<script type="text/javascript" language="javascript">
	window.bodytab10_json_editor = CodeMirror.fromTextArea(document.getElementById("bodytab10_json"), {
		mode: {name: "javascript", json: true},
		lineNumbers: true,
		readOnly: true,
		lineWrapping: true,
		extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
		foldGutter: true,
		gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
	});
	window.bodytab10_json_editor.refresh()
</script>

{% endblock %}
