{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = false %}
{% set tabcount = 1 %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>

		<tr>
            <td class="py-1">
                {% if p.connected %}
                <img src="static/img/lamp_green.png" alt="{{ _('connectwd') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% else %}
                <img src="static/img/lamp_red.png" alt="{{ _('not connected') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% endif %}
                <strong>{{ _('Verbunden') }}</strong>
            </td>
			<td class="py-1"><strong>{{ _('Host : Port') }}</strong></td>
			<td class="py-1">{{ p._host }} : {{ p._port }} </td>
		</tr>
        <tr>
            <td class="py-1"><strong>{{ _('') }}</strong></td>
			<td class="py-1"><strong>{{ _('slave Unit') }}</strong></td>
			<td class="py-1">{{ p._slaveUnit }}</td>
		</tr>

        <tr>
            <td class="py-1"><strong>{{ _('') }}</strong></td>
			<td class="py-1"><strong>{{ _('pol_device / cycle-time [seconds]') }}</strong></td>
			<td class="py-1">{{ p._cycle }}</td>
		</tr>
        <tr>
            <td class="py-1"><strong>{{ _('') }}</strong></td>
			<td class="py-1"><strong>{{ _('last_read (readed registers)') }}</strong></td>
			<td class="py-1">{{ p._pollStatus.last_dt.strftime('%d.%m.%Y %H:%M:%S %Z') }} ({{ p._pollStatus.regCount }})</td>
		</tr>
		
	</tbody>
</table>
{% endblock %}

{% set tab1title = "<strong>" ~ p.get_shortname() ~ " readed registers </strong> (" ~ _regToRead|length ~ ")" %}
{% block bodytab1 %}
    <table class="table table-striped table-hover pluginList">
        <thead>
            <tr>
                <th>{{ _('Address') }}</th>
                <th> {{ _('Value') }}</th>
                <th> {{ _('Item') }}</th>
                <th> {{ _('DataType') }}</th>
				<th> {{ _('last_read') }}</th>
				<th> {{ _('prev_read') }}</th>
				<th> {{ _('prev_value') }}</th>
            </tr>
        </thead>
        <tbody>
        
        {% for item in _regToRead %}
            <tr>
                <td class="py-1">{{ item }}</td>
                <td class="py-1">{{ p._regToRead[item].value }}</td>
                <td class="py-1">{{ p._regToRead[item].item }}</td>
                <td class="py-1">{{ p._regToRead[item].dataType }}</td>
				{% if p._regToRead[item].read_dt %}
				<td class="py-1">{{ p._regToRead[item].read_dt.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
				{% else %}
				<td class="py-1"></td>
				{% endif %}
				{% if p._regToRead[item].last_read_dt %}
				<td class="py-1">{{ p._regToRead[item].last_read_dt.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
				{% else %}
				<td class="py-1"></td>
				{% endif %}
				<td class="py-1">{{ p._regToRead[item].last_value }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>  
{% endblock bodytab1 %}




