{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=1200">
    {#
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
	#}
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap
    <link href="{ {bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')} }" rel="stylesheet">
    -->
    <link rel="icon" href="/gstatic/img/favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="/gstatic/img/logo_small_32x32">
    <link rel="apple-touch-icon" sizes="76x76" href="/gstatic/img/logo_small_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/gstatic/img/logo_small_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/gstatic/img/logo_small_152x152.png">
    <link rel="apple-touch-startup-image" href="/gstatic/img/logo_big.png">

    <link rel="stylesheet" href="/gstatic/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/gstatic/css/smarthomeng.css" type="text/css"/>
    {%- endblock styles %}
    {% block scripts %}
    {%- endblock scripts %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}

    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
