{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block headtable %}	
<strong>ACHTUNG</strong>
<br>
Dieses Plugin dient rein als Entwicklungs- und Test-Umgebung. Es wird NICHT Teil von SmartHomeNG 
werden. Die Funktionalität ist als <strong>Proof of Concept</strong> zu verstehen. 
<br>
Die Entwicklungsergebnisse werden in anderer Form in SmartHomeNG einfließen.
<br><br>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set loggerlist = [] %}
{% for l in logging.Logger.manager['loggerDict']|sort %}
	{% if logging.Logger.manager['loggerDict'][l].handlers|length > 0 %}
		{% if logging.Logger.manager['loggerDict'][l].handlers != ['NullHandler'] %}
			{% set x = loggerlist.append(l) %}
		{% endif %}	
	{% else %} 
		{% if logging.Logger.manager['loggerDict'][l].level is defined %}
			{% if logging.Logger.manager['loggerDict'][l].level > 0 %}
				{% set x = loggerlist.append(l) %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Standard Loggers</strong>" %}
{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<th class="p-1">Logger</th>
				<th class="p-1">Disabled</th>
				<th class="p-1">Level</th>
				<th class="p-1"></th>
				<th class="p-1">Handler(s)s</th>
			</thead>
			<tbody>
				{% set levellist = ['NOTSET','DEBUG','INFO','WARNING','ERROR','CRITICAL'] %}
				{% for j in loggerlist %}
					{% set logger = logging.getLogger(j) %}
					{% if logger.handlers|length > 0 or true %}
					{% if logger.name.startswith('items.') or logger.name.startswith('logics.') or logger.name.startswith('plugins.') %}
					{% set levelname = levellist[logger.level//10] %}
					<tr>
						<form name="levelform" action="index.html" method="POST" enctype="multipart/form-data">
						<td class="p-1">
							<input style="border:none; background-color:transparent; width:100%" name="logger" readonly="true" value="{{ logger.name }}" type="text">
						</td>
						<td class="p-1">{{ logger.disabled }}</td>
						<td class="p-1">
							<select class="form-control" name="level" onchange="this.form.submit()">
								<option value="CRITICAL"{% if levelname == 'CRITICAL' %} selected{% endif %}>CRITICAL</option>
								<option value="ERROR"{% if levelname == 'ERROR' %} selected{% endif %}>ERROR</option>
								<option value="WARNING"{% if levelname == 'WARNING' %} selected{% endif %}>WARNING</option>
								<option value="INFO"{% if levelname == 'INFO' %} selected{% endif %}>INFO</option>
								<option value="DEBUG"{% if levelname == 'DEBUG' %} selected{% endif %}>DEBUG</option>
							</select>
						</td>
{#						<td class="p-1">{{ logger.filters }}</td> #}
						<td></td>
						<td class="p-1">
						{% for h in logger.handlers %}
							{{ h.__class__.__name__ }} ( {{ levellist[h.level//10] }} ) {{ h.baseFilename }}<br>
						{% endfor %}
						</td>
						</form>
					</tr>
					{% endif %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab1 %}
logging.Logger

<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Advanced Loggers</strong>" %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover">
			<thead>
				<th class="p-1">Logger</th>
				<th class="p-1">Disabled</th>
				<th class="p-1">Level</th>
				<th class="p-1"></th>
				<th class="p-1">Handler(s)s</th>
			</thead>
			<tbody>
				{% set levellist = ['NOTSET','DEBUG','INFO','WARNING','ERROR','CRITICAL'] %}
				<tr>
					{% set logger = logging.root %}
					{% set levelname = levellist[logger.level//10] %}
					<td class="p-1"><strong>{{ logger.name	}}</strong></td>
					<td class="p-1"><strong>{{ logger.disabled }}</strong></td>
					<td class="p-1"><strong>{{ levelname }}</strong></td>
					<td></td>
					<td class="p-1">
					{% for h in logging.root.handlers %}
						{{ h.__class__.__name__ }} ( {{ h.level }} ) {{ h.baseFilename }}<br>
					{% endfor %}
					</td>
				</tr>

				{% for j in loggerlist %}
					{% set logger = logging.getLogger(j) %}
					{% if logger.handlers|length > 0  and (logger.name.startswith('lib.') or logger.name.startswith('modules.')) %}
					{% if not(logger.handlers|length == 1 and logger.handlers[0].__class__.__name__ == 'NullHandler') %}
					{% set levelname = levellist[logger.level//10] %}
					<tr>
						<form name="levelform" action="index.html" method="POST" enctype="multipart/form-data">
						<td class="p-1">
							<input style="border:none; background-color:transparent; width:100%" name="logger" readonly="true" value="{{ logger.name }}" type="text">
						</td>
						<td class="p-1">{{ logger.disabled }}</td>
						<td class="p-1">
							<select class="form-control" name="level" onchange="this.form.submit()">
								<option value="CRITICAL"{% if levelname == 'CRITICAL' %} selected{% endif %}>CRITICAL</option>
								<option value="ERROR"{% if levelname == 'ERROR' %} selected{% endif %}>ERROR</option>
								<option value="WARNING"{% if levelname == 'WARNING' %} selected{% endif %}>WARNING</option>
								<option value="INFO"{% if levelname == 'INFO' %} selected{% endif %}>INFO</option>
								<option value="DEBUG"{% if levelname == 'DEBUG' %} selected{% endif %}>DEBUG</option>
							</select>
						</td>
						<td></td>
						<td class="p-1">
						{% for h in logger.handlers %}
							{{ h.__class__.__name__ }} ( {{ levellist[h.level//10] }} ) {{ h.baseFilename }}<br>
						{% endfor %}
						</td>
						<td class="p-0">
							<input type="hidden" name="fromtab" readonly="true" value="2" type="text">
						</td>
						</form>
					</tr>
					{% endif %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Custom Loggers</strong>" %}
{% block bodytab3 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<th class="p-1">Logger</th>
				<th class="p-1">Disabled</th>
				<th class="p-1">Level</th>
				<th class="p-1"></th>
				<th class="p-1">Handler(s)s</th>
			</thead>
			<tbody>
				{% set levellist = ['NOTSET','DEBUG','INFO','WARNING','ERROR','CRITICAL'] %}
				{% for j in loggerlist %}
					{% set logger = logging.getLogger(j) %}
					{% if logger.handlers|length > 0 or true %}
					{% if not (logger.name.startswith('plugins.')) and not(logger.name.startswith('logics.')) and not(logger.name.startswith('items.')) and not(logger.name.startswith('lib.')) and not(logger.name.startswith('modules.')) %}
					{% if not(logger.handlers|length == 1 and logger.handlers[0].__class__.__name__ == 'NullHandler') %}
					{% set levelname = levellist[logger.level//10] %}
					<tr>
						<form name="levelform" action="index.html" method="POST" enctype="multipart/form-data">
						<td class="p-1">
							<input style="border:none; background-color:transparent; width:100%" name="logger" readonly="true" value="{{ logger.name }}" type="text">
						</td>
						<td class="p-1">{{ logger.disabled }}</td>
						<td class="p-1">
							<select class="form-control" name="level" onchange="this.form.submit()">
								<option value="CRITICAL"{% if levelname == 'CRITICAL' %} selected{% endif %}>CRITICAL</option>
								<option value="ERROR"{% if levelname == 'ERROR' %} selected{% endif %}>ERROR</option>
								<option value="WARNING"{% if levelname == 'WARNING' %} selected{% endif %}>WARNING</option>
								<option value="INFO"{% if levelname == 'INFO' %} selected{% endif %}>INFO</option>
								<option value="DEBUG"{% if levelname == 'DEBUG' %} selected{% endif %}>DEBUG</option>
							</select>
						</td>
						<td class="p-1"></td>
						<td class="p-1">
						{% for h in logger.handlers %}
							{{ h.__class__.__name__ }} ( {{ h.level }} ) {{ h.baseFilename }}<br>
						{% endfor %}
						</td>
						<td class="p-0">
							<input type="hidden" name="fromtab" readonly="true" value="3" type="text">
						</td>
						</form>
					</tr>
					{% endif %}
					{% endif %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
-->
{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Handlers</strong> (" ~ logging._handlers|length ~ ")" %}
{% block bodytab4 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<th>Handler</th>
				<th>Handler Class</th>
				<th>Level</th>
				<th>Levelname</th>
				<th>Filename</th>
			</thead>
			<tbody>
				{% set x = logging._handlers|sort %}
				{% for i in x %}
					<tr>
						{% set levellist = ['NOTSET','DEBUG','INFO','WARNING','ERROR','CRITICAL'] %}
						{% set levelname = levellist[logging._handlers[i].level//10] %}
						<td>{{ i }}</td>
						<td>{{ logging._handlers[i].__class__.__name__ }}</td>
						<td>{{ logging._handlers[i].level }}</td>
						<td>
							<select class="form-control" id="level">
								<option{% if levelname == 'NOTSET' %} selected{% endif %}>NOTSET</option>
								<option{% if levelname == 'DEBUG' %} selected{% endif %}>DEBUG</option>
								<option{% if levelname == 'INFO' %} selected{% endif %}>INFO</option>
								<option{% if levelname == 'WARNING' %} selected{% endif %}>WARNING</option>
								<option{% if levelname == 'ERROR' %} selected{% endif %}>ERROR</option>
								<option{% if levelname == 'CRITICAL' %} selected{% endif %}>CRITICAL</option>
							</select>
						</td>
						<td>{{ logging._handlers[i].baseFilename }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab4 %}


<!--
	Content block for the fifth tab of the Webinterface
-->
{% set tab5title = "<strong>" ~ p.get_shortname() ~ " logging.yaml</strong>" %}
{% block bodytab5 %}
	sh.logging_config:<br>
	<br>
	{{ logging_config }}<br>
{% endblock bodytab5 %}
