{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 5000 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		// console.log('handleUpdatedData', dataSet);
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse['beodevice_info']) {
				// console.warn(device, objResponse['beodevice_info'][device])
				shngInsertText (device+'_source', objResponse['beodevice_info'][device]['source']['source']);
				shngInsertText (device+'_audiomode', objResponse['beodevice_info'][device]['device']['audiomode'][0]);
				shngInsertText (device+'_stand', objResponse['beodevice_info'][device]['device']['stand'][0]);
				shngInsertText (device+'_powerstate', objResponse['beodevice_info'][device]['device']['powerstate']);

				shngInsertText (device+'_state', objResponse['beodevice_info'][device]['content']['state']);
				shngInsertText (device+'_channel_name', objResponse['beodevice_info'][device]['content']['channel_name']);
				shngInsertText (device+'_volume', objResponse['beodevice_info'][device]['volume']['level']);
				shngInsertText (device+'_nuted', objResponse['beodevice_info'][device]['volume']['muted']);
				// console.log(device, objResponse['beodevice_info'][device]['device']['powerstate'], objResponse['beodevice_info'][device]['source']['source']);
			}
			for (var item in objResponse['item_values']) {
				shngInsertText (item+'_value', objResponse['item_values'][item]['value']);
				shngInsertText (item+'_last_update', objResponse['item_values'][item]['last_update']);
				shngInsertText (item+'_last_change', objResponse['item_values'][item]['last_change']);
				// console.log(item, objResponse['item_values'][item]['value']);
			}
		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>{{ _('Scanne von IP') }}</strong></td>
			<td class="py-1">{{ p.fromip }}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Prompt 4</strong></td>
			<td class="py-1">{{ _('Wert 4') }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Scanne bis IP</strong></td>
			<td class="py-1">{{ p.toip }}</td>
			<td></td>
			<td class="py-1"><strong>Prompt 5</strong></td>
			<td class="py-1">-</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Poll Cycle</strong></td>
			<td class="py-1">{{ p._cycle }} Sek.</td>
			<td></td>
			<td class="py-1"><strong>Prompt 6</strong></td>
			<td class="py-1">{% if 1 == 2 %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
	<div>
		<button id="btn1s" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {scan: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button>
		<button id="btn2s" class="btn btn-shng btn-sm" name="test" onclick="shngGetUpdatedData('devices_info')"><i class="fas fa-network-wired"></i>&nbsp;&nbsp;&nbsp;{{ _('Test') }}&nbsp;</button>
	</div>
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 3 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>{{ _('Item') }}</th>
		<th>{{ _('Typ') }}</th>
		<th>{{ _('Wert') }}</th>
		<th>{{ _('Name') }}</th>
		<th>{{ _('B&O Gerät') }}</th>
		<th>{{ _('Letztes Update') }}</th>
		<th>{{ _('Letzter Change') }}</th>
	</tr>
	</thead>

 	{% for beo_itemkey in p.beo_items.keys()|sort %}
		{%  set item = p.beo_items[beo_itemkey] %}
		{%  set beo_id = p.get_iattr_value(item.conf, 'beo_id') %}
		<tr>
			<td class="py-1">{{ item._path }}</td>
			<td class="py-1">{{ item._type }}</td>
			<td id="{{ item.id() }}_value" class="py-1">{{ item() }}</td>
			<td class="py-1">{{ p.beodevices.beodeviceinfo.get(beo_id,'-')['FriendlyName'] }}</td>
			<td class="py-1">{{ beo_id }}</td>

			<td id="{{ item.id() }}_last_update" class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
			<td id="{{ item.id() }}_last_change" class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Geräte Details/Status</strong> (" ~ device_count ~ ")" %}
{% block bodytab2 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th class="py-1">{{ _('B&O Gerät') }}</th>
		<th class="py-1">{{ _('Name') }}</th>
		<th class="py-1">{{ _('IP Adresse') }}</th>
		<th class="py-1">{{ _('Einschalt-Status') }}</th>
		<th class="py-1">{{ _('Quelle') }}</th>
		<th class="py-1">{{ _('Status') }}</th>
		<th class="py-1">{{ _('Kanal') }}</th>
		<th class="py-1">{{ _('Audiomode') }}</th>
		<th class="py-1">{{ _('Volume') }}</th>
		<th class="py-1">{{ _('Muted') }}</th>
		<th class="py-1" width="100px"></th>
	</tr>
	</thead>
	{% for beokey in p.beodevices.beo_keys %}
		{% if p.beodevices.beodeviceinfo[beokey]['device']['serialNumber'] %}
			<tr>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['serialNumber'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['FriendlyName'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['ip'] }}</td>
				<td id="{{ beokey }}_powerstate" class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['powerstate'] }}</td>
				<td id="{{ beokey }}_source"     class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['source']['source'] }}</td>
				<td id="{{ beokey }}_state"      class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['content']['state'] }}</td>
				<td id="{{ beokey }}_channel_name" class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['content']['channel_name'] }}</td>
				<td id="{{ beokey }}_audiomode"    class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['audiomode'][0] }}</td>
				<td id="{{ beokey }}_volume"       class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['volume']['level'] }}</td>
				<td id="{{ beokey }}_muted"        class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['volume']['muted'] }}</td>
				<td class="py-1"></td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab3
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong> (" ~ device_count ~ ")" %}
{% block bodytab3 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th class="py-1">{{ _('B&O Gerät') }}</th>
		<th class="py-1">{{ _('Name') }}</th>
		<th class="py-1">{{ _('IP Adresse') }}</th>
		<th class="py-1">{{ _('Produkt Typ') }}</th>
		<th class="py-1">{{ _('Software Version') }}</th>
		<th class="py-1">{{ _('Einschalt-Status') }}</th>
		<th class="py-1">{{ _('Quelle') }}</th>
		<th class="py-1">{{ _('Stand') }}</th>
		<th class="py-1">{{ _('Audiomode') }}</th>
		<th class="py-1" width="100px"></th>
	</tr>
	</thead>
	{% for beokey in p.beodevices.beo_keys %}
		{% if p.beodevices.beodeviceinfo[beokey]['device']['serialNumber'] %}
			<tr>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['serialNumber'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['FriendlyName'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['ip'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['productType'] }}</td>
				<td class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['swVersion'] }}</td>
				<td id="{{ beokey }}_powerstate" class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['powerstate'] }}</td>
				<td id="{{ beokey }}_source"     class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['source']['source'] }}</td>
				{% if p.beodevices.beodeviceinfo[beokey]['stand'] %}
					<td id="{{ beokey }}_stand"  class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['stand'][0] }}</td>
				{% else %}
					<td id="{{ beokey }}_stand"  class="py-1">-</td>
				{% endif %}
				<td id="{{ beokey }}_audiomode"  class="py-1">{{ p.beodevices.beodeviceinfo[beokey]['device']['audiomode'][0] }}</td>
				<td class="py-1"></td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}
