{% extends "base_plugin.html" %}
{% set tabcount = 1 %}
{% set tab1title = _('Logik-Editor für SmartHomeNG') %}
{% block pluginstyles %}
<link rel="stylesheet" href="static/blockly/style.css">
<style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
#resize_wrapper {
  height: 100%;
}
#blockly {
  height: 71%;
  width: 99%;
}
</style>
{% endblock pluginstyles %}
{% block pluginscripts %}
<script src="static/blockly/blockly_compressed.js"></script>
<script src="static/blockly/blocks_compressed.js"></script>
<script src="static/blockly/python_compressed.js"></script>
<script src="static/blockly/de.js"></script>
<script src="static/blockly/{{ lang }}.js"></script>

<script type="text/javascript" src="static/shblocks/sh_items.js"></script>
<script type="text/javascript" src="static/shblocks/sh_logics.js"></script>
<script type="text/javascript" src="static/shblocks/sh_logic.js"></script>
<script type="text/javascript" src="static/shblocks/sh_notify.js"></script>
<script type="text/javascript" src="static/shblocks/sh_tools.js"></script>
<script type="text/javascript" src="static/shblocks/sh_time.js"></script>

<script src="static/js/logics_blockly_code.js"></script>
<script type="text/javascript" language="javascript">

function closeEditor() {
  $.ajax({  url: "blockly_close_editor",
            type: "POST",
            data: { content: '' },
        })
    myWait(500);
    window.close();
};

myWait = function (ms){
   var start = new Date().getTime();
   var end = start;
   while(end < start + ms) {
     end = new Date().getTime();
  }
}

</script>
{% endblock pluginscripts %}
{% block headtable %}

{% endblock headtable %}

{% block bodytab1 %}

{% include "logics_blockly_toolbox.html" %}

  <table id="blockly">

    <tr>
      <td colspan=1>
        <table width="100%">
          <tr id="tabRow" height="1em">
            <td id="tab_blocks" class="tabon">Blocks</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_python" class="taboff">Python</td>
            <!--<td class="tabmin">&nbsp;</td>
            <td id="tab_xml" class="taboff">XML</td>-->
            <td class="tabmax">
        		<form name="input" action="index.html" method="POST" enctype="multipart/form-data">
        		{% if cmd != 'edit' and cmd != 'new' %}
        			<button onclick="function() {$.ajax({'url': 'logics_blockly_start'})}" class="btn btn-default btn-xs">{{ _('Aktivieren','button') }}</button>
        			<button onclick="function() {$.ajax({'url': 'logics_blockly_stop'})}" class="btn btn-default btn-xs">{{ _('Beenden','button') }}</button>
        			<button onclick="Code.saveBlocks()" class="btn btn-default btn-xs">{{ _('Blöcke speichern') }}</button>
        			<button onclick="Code.loadBlocks()" class="btn btn-default btn-xs">{{ _('Änderungen verwerfen') }}</button>
        			<button onclick="Code.discardBlocks()" class="btn btn-default btn-xs">{{ _('Leeren') }}</button>
        			<button onclick="javascript:window.close()" class="btn btn-default btn-xs">{{ _('Schließen') }}</button>
        		{% else %}
        			<button onclick="Code.saveBlocks(); closeEditor()" class="btn btn-default btn-xs">{{ _('Speichern & schließen') }}</button>
        			<button onclick="Code.saveBlocks()" class="btn btn-default btn-xs">{{ _('Speichern') }}</button>
        			<button onclick="closeEditor()" class="btn btn-default btn-xs">{{ _('Verwerfen') }}</button>
        		{% endif %}
        		</form>
        	  </td>
			    </tr>
		    </table>
    	</td>
    </tr>
    <tr>
      <td height="99%" colspan=1 id="content_area">
      </td>
    </tr>
  </table>
  <div id="content_blocks" class="content"></div>
  <pre id="content_python" class="content"></pre>
  <textarea id="content_xml" wrap="off" class="content"></textarea>

{% endblock bodytab1 %}
