{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				<!--
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				-->
			}
		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Bridge Serial</strong></td>
			<td class="py-1">{% if bridge.username == undeffined %}-{% else %}{{ p.bridge.serialNumber }}{% endif %}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Leuchten Zyklus</strong></td>
			<td class="py-1">{% if p.light_items_configured == true %}{{ p._cycle_lights }} {{ _('Sek.') }}{% else %}-{% endif %}</td>
			<td class="py-1" width="10px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Bridge IP</strong></td>
			<td class="py-1">{% if bridge.username == undeffined %}-{% else %}{{ p.bridge.ip }}{% endif %}</td>
			<td></td>
			<td class="py-1"><strong>Sensor Zyklus</strong></td>
			<td class="py-1">{% if p.sensor_items_configured == true %}{{ p._cycle_sensors }} {{ _('Sek.') }}{% else %}-{% endif %}</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Anwendungsschlüssel</strong></td>
			<td class="py-1">{% if bridge.username == undeffined %}-{% else %}{{ _('konfiguriert') }}{% endif %}</td>
			<td></td>
			<td class="py-1"><strong>Bridge Zyklus</strong></td>
			<td class="py-1">{{ p._cycle_bridge }} {{ _('Sek.') }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
	<form action="" method="post">
		<button id="btn1" class="btn btn-shng btn-sm" name="scan" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;{{ _('Bridge suchen') }}&nbsp;</button>
	</form>
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 6 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count == 0 %}
	{% set start_tab = 2 %}
{% endif %}
{% if (item_count == 0) and (bridge_lights|length == 0) %}
	{% set start_tab = 6 %}
{% endif %}
{% if bridge_count == 0 %}
	{% set start_tab = 6 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
	{% if bridge_count > 0 %}

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Item') }}</th>
							<th class="py-1">{{ _('Typ') }}</th>
							<th class="py-1">{{ _('Wert') }}</th>
							<th class="py-1">{{ _('hue resource') }}</th>
							<th class="py-1">{{ _('hue id') }}</th>
							<th class="py-1">{{ _('hue function') }}</th>
							<th class="py-1">{{ _('Letztes Update') }}</th>
							<th class="py-1">{{ _('Letzter Change') }}</th>
							<th class="py-1" width="100px"></th>
						</tr>
					</thead>
					<tbody>
						{% for i in items %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ i }}</td>
								<td class="py-1">{{ items[i].item.property.type }}</td>
								<td class="py-1">{{ items[i].item() }}</td>
								<td class="py-1">{{ items[i].resource }}</td>
								<td class="py-1">{{ items[i].id }}</td>
								<td class="py-1">{{ items[i].function }}</td>
<!--
								<td class="py-1">{ { items[i].item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
								<td class="py-1">{ { items[i].item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
-->
								<td class="py-1">{{ items[i].item.last_update().strftime('%H:%M:%S') }}</td>
								<td class="py-1">{{ items[i].item.last_change().strftime('%H:%M:%S') }}</td>

								<td class="py-1"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{ % set tab2title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab2
-->
{% if bridge_count > 0 %}
	{% set tab2title = "<strong>" ~ "Hue " ~ _('Leuchten') ~ "</strong> (" ~ bridge_lights|length ~ ")" %}
{% else %}
	{% set tab2title = "<strong>" ~ "Hue " ~ _('Leuchten') ~ "</strong>" %}
{% endif %}
{% block bodytab2 %}
	{% if bridge_count > 0 %}

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Id') }}</th>
							<th class="py-1">{{ _('Name') }}</th>
							<th class="py-1">{{ _('Eingeschaltet') }}</th>
							<th class="py-1">{{ _('Helligkeit') }}</th>
							<th class="py-1">{{ _('Hue') }}</th>
							<th class="py-1">{{ _('Sättigung') }}</th>
							<th class="py-1">{{ _('xy') }}</th>
							<th class="py-1">{{ _('ct') }}</th>
							<th class="py-1">{{ _('Mode') }}</th>
<!--						<th class="py-1">{{ _('Alarm') }}</th>  -->
							<th class="py-1">{{ _('Erreichbar') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for l in bridge_lights %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ l }}</td>
								<td class="py-1">{{ bridge_lights[l].name }}</td>
								<td class="py-1">{{ _(bridge_lights[l].state.on) }}</td>
								<td class="py-1">{{ bridge_lights[l].state.bri }}</td>
								<td class="py-1">{{ bridge_lights[l].state.hue }}</td>
								<td class="py-1">{{ bridge_lights[l].state.sat }}</td>
								<td class="py-1">{{ bridge_lights[l].state.xy }}</td>
								<td class="py-1">{{ bridge_lights[l].state.ct }}</td>
								<td class="py-1">{{ bridge_lights[l].state.colormode }}</td>
<!--							<td class="py-1">{{ bridge_lights[l].state.alert }}</td>  -->
								<td class="py-1">{{ _(bridge_lights[l].state.reachable) }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>


		<div style="margin-left: 20px;">
			<br>
			<strong>{{ _('weitere Informationen') }}:</strong><br>
		</div>
		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Id') }}</th>
							<th class="py-1">{{ _('Name') }}</th>
							<th class="py-1">{{ _('Typ') }}</th>
							<th class="py-1">{{ _('Produktname') }}</th>
							<th class="py-1">{{ _('SW Version') }}</th>
							<th class="py-1">{{ _('Startup') }}</th>
							<th class="py-1">{{ _('Startup Settings') }}</th>
							<th class="py-1">{{ _('max. Lumen') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for l in bridge_lights %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ l }}</td>
								<td class="py-1">{{ bridge_lights[l].name }}</td>
								<td class="py-1">{{ bridge_lights[l].type }}</td>
								<td class="py-1">{{ bridge_lights[l].productname }}</td>
								<td class="py-1">{{ bridge_lights[l].swversion }}</td>
								{% if (bridge_config.apiversion >= '1.24.0') and (bridge_lights[l].config.startup) %}
									<td class="py-1">{{ bridge_lights[l].config.startup.mode }}</td>
									<td class="py-1">{{ bridge_lights[l].config.startup.customsettings }}</td>
								{% else %}
									<td class="py-1">-</td>
									<td class="py-1">-</td>
								{% endif %}
								{% if bridge_config.apiversion >= '1.22.0' %}
									<td class="py-1">{{ bridge_lights[l].capabilities.control.maxlumen }}</td>
								{% else %}
									<td class="py-1">-</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{ % set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab3
-->
{% if bridge_count > 0 %}
	{% set tab3title = "<strong>" ~ "Hue " ~ _('Szenen') ~ "</strong> (" ~ bridge_scenes|length ~ ")" %}
{% else %}
	{% set tab3title = "<strong>" ~ "Hue " ~ _('Szenen') ~ "</strong>" %}
{% endif %}
{% block bodytab3 %}
	{% if bridge_count > 0 %}

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Id') }}</th>
							<th class="py-1">{{ _('Name') }}</th>
							<th class="py-1">{{ _('Typ') }}</th>
							<th class="py-1">{{ _('Lights') }}</th>
							<th class="py-1">{{ _('Owner') }}</th>
							<th class="py-1">{{ _('Recycle') }}</th>
							<th class="py-1">{{ _('Locked') }}</th>
							<th class="py-1">{{ _('last updated') }}</th>
							<th class="py-1">{{ _('Version') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for s in bridge_scenes %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ s }}</td>
								<td class="py-1">{{ bridge_scenes[s].name }}</td>
								<td class="py-1">{{ bridge_scenes[s].type }}</td>
								<td class="py-1">{{ bridge_scenes[s].lights }}</td>
								<td class="py-1">{{ bridge_scenes[s].owner }}</td>
								<td class="py-1">{{ _(bridge_scenes[s].recycle) }}</td>
								<td class="py-1">{{ _(bridge_scenes[s].locked) }}</td>
								<td class="py-1">{{ bridge_scenes[s].lastupdated }}</td>
								<td class="py-1">{{ bridge_scenes[s].version }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{ % set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab4
-->
{% if bridge_count > 0 %}
	{% set tab4title = "<strong>" ~ "Hue " ~ _('Gruppen') ~ "</strong> (" ~ bridge_groups|length ~ ")" %}
{% else %}
	{% set tab4title = "<strong>" ~ "Hue " ~ _('Gruppen') ~ "</strong>" %}
{% endif %}
{% block bodytab4 %}
	{% if bridge_count > 0 %}

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Id') }}</th>
							<th class="py-1">{{ _('Name') }}</th>
							<th class="py-1">{{ _('Typ') }}</th>
							<th class="py-1">{{ _('Lights') }}</th>
							<th class="py-1">{{ _('Sensors') }}</th>
							<th class="py-1" width="150px">{{ _('Status') }}</th>
							<th class="py-1">{{ _('Recycle') }}</th>
							<th class="py-1">{{ _('Class') }}</th>
							<th class="py-1">{{ _('Action') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for g in bridge_groups %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ g }}</td>
								<td class="py-1">{{ bridge_groups[g].name }}</td>
								<td class="py-1">{{ bridge_groups[g].type }}</td>
								<td class="py-1">{{ bridge_groups[g].lights }}</td>
								<td class="py-1">{{ bridge_groups[g].sensors }}</td>
								<td class="py-1">{{ bridge_groups[g].state }}</td>
								<td class="py-1">{{ _(bridge_groups[g].recycle) }}</td>
								<td class="py-1">{{ bridge_groups[g].class }}</td>
								<td class="py-1">{{ bridge_groups[g].action }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock bodytab4 %}


<!--
	Content block for the fifth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{ % set tab5title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab5
-->
{% if bridge_count > 0 %}
	{% set tab5title = "<strong>" ~ "Hue " ~ _('Sensoren') ~ "</strong> (" ~ bridge_sensors|length ~ ")" %}
{% else %}
	{% set tab5title = "<strong>" ~ "Hue " ~ _('Sensoren') ~ "</strong>" %}
{% endif %}
{% block bodytab5 %}
	{% if bridge_count > 0 %}

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Id') }}</th>
							<th class="py-1">{{ _('Name') }}</th>
							<th class="py-1">{{ _('Typ') }}</th>
							<th class="py-1">{{ _('Status') }}</th>
							<th class="py-1">{{ _('Konfiguration') }}</th>
							<th class="py-1">{{ _('Model Id') }}</th>
							<th class="py-1">{{ _('Hersteller') }}</th>
							<th class="py-1">{{ _('SW-Version') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for s in bridge_sensors %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								<td class="py-1">{{ s }}</td>
								<td class="py-1">{{ bridge_sensors[s].name }}</td>
								<td class="py-1">{{ bridge_sensors[s].type }}</td>
								<td class="py-1">{{ bridge_sensors[s].state }}</td>
								<td class="py-1">{{ bridge_sensors[s].config }}</td>

								<td class="py-1">{{ bridge_sensors[s].modelid }}</td>
								<td class="py-1">{{ bridge_sensors[s].manufacturername }}</td>
								<td class="py-1">{{ bridge_sensors[s].swversion }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock bodytab5 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{ % set tab6title = "<strong>" ~ p.get_shortname() ~ " Bridges</strong>" % }

	It has to be defined before (and outside) the block bodytab6
-->
{% set tab6title = "<strong>Hue Bridge</strong>" %}
{% block bodytab6 %}
	{% if discovered_bridges != [] %}
	<div style="margin-left: 20px;">
		<br>
		<strong>{{ _('Gefundene Bridges') }}:</strong><br>
	</div>
	{%  endif %}
	<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
		<div class="col-sm-12">

			{% if discovered_bridges != [] %}
			<form action="" method="post">
			<table class="table table-striped table-hover pluginList">
				<thead>
					<tr class="shng_heading">
						<th class="py-1">{{ _('Serien-Nr.') }}</th>
						<th class="py-1">{{ _('Hersteller') }}</th>
						<th class="py-1">{{ _('Modell Name') }}</th>
						<th class="py-1">{{ _('Modell Nr.') }}</th>
						<th class="py-1">{{ _('Version') }}</th>
						<th class="py-1">{{ _('') }}</th>
						<th class="py-1">{{ _('API-Version') }}</th>
						<th class="py-1">{{ _('Modell ID') }}</th>
						<th class="py-1">{{ _('swversion') }}</th>
						<th class="py-1">{{ _('IP') }}</th>
						<th class="py-1">{{ _('Port') }}</th>
<!--					<th class="py-1">{{ _('UDN') }}</th>  -->
						<th class="py-1" width="200px"></th>
					</tr>
				</thead>
				<tbody>
					{% for db in discovered_bridges %}
						<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
							<td class="py-1">{{ db.serialNumber }}</td>
							<td class="py-1">{{ db.manufacturer }}</td>
							<td class="py-1">{{ db.modelName }}</td>
							<td class="py-1">{{ db.modelNumber }}</td>
							<td class="py-1">{{ db.version }}</td>
							<td class="py-1">{{ db.gatewayName }}</td>
							<td class="py-1">{{ db.apiversion }}</td>
							<td class="py-1">{{ db.modelid }}</td>
							<td class="py-1">{{ db.swversion }}</td>
							<td class="py-1">{{ db.ip }}</td>
							<td class="py-1">{{ db.port }}</td>
<!--						<td class="py-1">{{ db.UDN }}</td>  -->
							<td class="py-1">
								{% if bridge_count == 0 %}
								<button id="btn1" class="btn btn-shng btn-sm" name="connect" type="submit" value="{{ db.serialNumber }}"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;{{ _('Verbinden') }}&nbsp;</button>
								{% endif %}
							</td>
							<td class="py-1"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</form>
			{% endif %}
		</div>
	</div>

	<div style="margin-left: 20px;">
		{% if bridge_count == 0 %}
			<strong>{{ _('Es ist keine Bridge mit dieser Plugin Instanz verbunden.') }}</strong><br>
			<br>
			{{ _('Zum Verbinden den Knopf an der Hue Bridge drücken und anschließend in der Liste der gefundenen Bridges den Button "Verbinden" drücken.') }}<br>
		{% endif %}
		<br>
	</div>

	{% if bridge_count > 0 %}
		<div style="margin-left: 20px;">
			<strong>{{ _('Konfigurierte Bridge') }}:</strong><br>
		</div>
		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							<th class="py-1">{{ _('Serien-Nr.') }}</th>
							<th class="py-1">{{ _('Modell Name') }}</th>
	<!--					<th class="py-1">{{ _('Modell Nr.') }}</th>  -->
							<th class="py-1">{{ _('Version') }}</th>
							<th class="py-1">{{ _('') }}</th>
							<th class="py-1">{{ _('API-Version') }}</th>
							<th class="py-1">{{ _('Modell ID') }}</th>
							<th class="py-1">{{ _('IP') }}</th>
							<th class="py-1">{{ _('Port') }}</th>
							<th class="py-1">{{ _('Anwendungsschlüssel') }}</th>
							<th class="py-1" width="200px"></th>
						</tr>
					</thead>
					<tbody>
						{% set cb = bridge %}
		<!--
							<tr id="{ { loop.index } }_clickip" style="cursor: pointer;">
		-->
						{% if bridge_count > 0 %}
							<tr style="cursor: pointer;">
								<td class="py-1">{{ cb.serialNumber }}</td>
								<td class="py-1">{{ cb.modelName }}</td>
	<!--						<td class="py-1">{{ cb.modelNumber }}</td>  -->
								<td class="py-1">{{ cb.version }}</td>
								<td class="py-1">{{ cb.gatewayName }}</td>
								<td class="py-1">{{ cb.apiversion }}</td>
								<td class="py-1">{{ cb.modelid }}</td>
								<td class="py-1">{{ cb.ip }}</td>
								<td class="py-1">{{ cb.port }}</td>
								<td class="py-1">{{ cb.username }}</td>
								<td class="py-1">
									<button id="btn1" class="btn btn-shng btn-sm" name="disconnect" type="submit" value="{{ cb.serialNumber }}"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;{{ _('Trennen') }}&nbsp;</button>
								</td>
								<td class="py-1"></td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				</form>
			</div>
		</div>
	{% endif %}


	{% if (bridge_count > 0) and (br_object.config().whitelist|length > 1) %}
		<div style="margin-left: 20px;">
			<br>
			<strong>{{ _('Konfigurierte Benutzer') }}:</strong><br>
		</div>

		<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
			<div class="col-sm-12">

				<form action="" method="post">
				<table class="table table-striped table-hover pluginList">
					<thead>
						<tr class="shng_heading">
							{% if bridge_config.apiversion < '1.31.0' %}
								<th class="py-1">{{ _('Anwendungsschlüssel') }}</th>
							{% endif %}
							<th class="py-1">{{ _('Anwendung') }}</th>
							<th class="py-1">{{ _('Letze Nutzung') }}</th>
							<th class="py-1">{{ _('Erstellt') }}</th>
							<th class="py-1" width="200px"></th>
						</tr>
					</thead>
					<tbody>
						{% for u in bridge_config.whitelist %}
							<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
								{% if bridge_config.apiversion < '1.31.0' %}
									<td class="py-1">{{ u }}</td>
								{% endif %}
								<td class="py-1">{{ bridge_config.whitelist[u].name }}</td>
								<td class="py-1">{{ bridge_config.whitelist[u]['last use date'] }}</td>
								<td class="py-1">{{ bridge_config.whitelist[u]['create date'] }}</td>
								<td class="py-1"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</form>
			</div>
		</div>
	{% endif %}
{% endblock bodytab6 %}
