{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>{{ _('Data File') }}:</strong></td>
			<td class="py-1">{{p._datafile}}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>{{ _('Last Day') }}</strong></td>
			<td class="py-1">{% if p.lastday == '' %}-{% else %}{{ p.lastday }}{% endif %}</td>
		</tr>
		{% if startRecord %}
		<tr>
			<td class="py-1"><strong>{{ _('startrecord Scheduler') }}</strong></td>
			<td class="py-1">{{ startRecord.strftime('%d.%m.%Y %H:%M:%S') }}</td>
		</tr>
		{% elif simulate %}
		<tr>
			<td class="py-1"><strong>{{ _('simulate Scheduler') }}</strong></td>
			<td class="py-1">{{ simulate.strftime('%d.%m.%Y %H:%M:%S') }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endblock headtable %}

{% block buttons %}
<button type="button" class="btn btn-shng btn-sm" onclick="location.href='?cmd=delete_data_file'">{{ _('Clear Data File') }}</button>
{% endblock buttons %}


{% block bodytab1 %}
<div class="col-sm-12">
	{% if cmd == 'delete_data_file' %}
		<div class="mb-2 alert alert-success alert-dismissible fade show" role="alert">
			<strong>{{ _('Datendatei erfolgreich geleert!') }}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
		<h5>{{ _('Simulation Plugin Items') }} ({{ p.get_items()|length }})</h5>

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
					<th>{{ _('Item') }}</th>
					<th>{{ _('Typ') }}</th>
					<th>{{ _('Wert') }}</th>
					<th>{{ _('sim Attribut') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p.get_items() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item._path }}</td>
						<td class="py-1">{{ item._type }}</td>
						<td class="py-1">{{ item() }}</td>
						<td class="py-1">{{ item.conf['sim'] }}</td>
						<td class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab1 %}
