{% extends "base_plugin.html" %}
{% block scripts %}
{{ super() }}
<script>
function mainpage() {
  var url = window.location.href;
  var page = url.substring(url.lastIndexOf('/') + 1);
  var final = url.replace(page, '');
  if ( url.includes("?action=") ) {
    window.location.href = final;
  };
}
</script>
{% endblock scripts %}
{% set logo_frame = false %}


{% set item_count = p.__items|length %}
{% set tab1title = "<strong>StateEngine</strong>" %}
{% set tabcount = 1 %}

{% block headtable %}

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>Log Level</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_level') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Log Folder</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_directory') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Startup Delay</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('startup_delay_default') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Suspend Time</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('suspend_time_default') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong></td>
      <td class="py-1">{{ item_count }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"></td>
      <td class="py-1"></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}

<div class="container-fluid m-2" style="position: relative;">
  <div style="float: left; border:1px solid black; width:200px; position: sticky; position: -webkit-sticky; top:220px; left:0;">
    <a href="https://www.smarthomeng.de/starting-with-state-machine-automation-stateengine-plugin" target="link">Einführung</a><br>
    <a href="?page=doku1">Grundsätzliches</a><br>
    <a href="?page=doku2">Plugin-Konfiguration</a><br>
    <a href="?page=doku3">Das Objekt-Item</a><br>
    <a href="?page=doku4">Das Zustands-Item</a><br>
    <a href="?page=doku5">Bedingungen</a><br>
    <a href="?page=doku6">Aktionen: Ausführung</a><br>
    <a href="?page=doku7">Aktionen: Einzelangabe</a><br>
    <a href="?page=doku8">Aktionen: Combo-Angabe</a><br>
    <a href="?page=doku9">Zustand-Templates</a><br>
    <a href="?page=doku10">Vordefinierte Funktionen</a><br>
    <a href="?page=doku11">Variablen</a><br>
    <a href="?page=doku12">Sperr-Zustand</a><br>
    <a href="?page=doku13">Pausiert-Zustand</a><br>
    <a href="?page=doku14">CLI Kommandos</a><br>
    <a href="?page=doku15">Vollständiges Beispiel</a><br>
  </div>
  <div style="margin-left:230px; max-width: 800px;">
    <h1 id="bedingungen">Bedingungen</h1>

    <p>Jede Bedingung erfordert drei Dinge:</p>

    <ul>
    <li>Einen Namen der die Bedingung und die zugehörigen Elemente identifiziert</li>

    <li>Grenzwerte um zu prüfen, ob die Bedingung erfüllt ist</li>

    <li>Eine Möglichkeit den aktuellen Wert zu ermitteln, gegen den die Grenzwerte geprüft werden</li>
    </ul>

    <h2 id="namederbedingung">Name der Bedingung</h2>

    <p>Der Name der Bedingung ist beliebig und wird lediglich zur Benennung der Attribute verwendet. Die Namen aller Attribute, die zu einer Bedingung gehören, folgen dem Muster "<code>se_&lt;Funktion&gt;_&lt;Bedingungsname&gt;</code>". Es gibt verschiedene "besondere" Bedingungsnamen, die später erläutert werden.</p>

    <h2 id="grenzwerte">Grenzwerte</h2>

    <p>Die Grenzwerte einer Bedingung werden in den Bedingungsgruppen definiert. Die folgenden Grenzwerte sind möglich:</p>

    <h3 id="minimum">Minimum</h3>

    <pre><code>    se_min_&lt;Bedingungsname&gt;: [Wert]
    </code></pre>

    <p>Die Bedingung ist erfüllt, wenn der aktuelle Wert großer als das angegebene Minimum ist.
    Fur das Attribut wird der [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]] verwendet.</p>

    <h3 id="maximum">Maximum</h3>

    <pre><code>    se_max_&lt;Bedingungsname&gt;: [Wert]
    </code></pre>

    <p>Die Bedingung ist erfüllt, wenn der aktuelle Wert kleiner als das angegebene Maximum ist.
    Fur das Attribut wird der [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]] verwendet.</p>

    <h3 id="bestimmterwert">Bestimmter Wert</h3>

    <pre><code>    se_value_&lt;Bedingungsname&gt;: [Wert]
    </code></pre>

    <p>Die Bedingung ist erfüllt, wenn der aktuelle Wert gleich dem angegebenen Wert ist.
    Fur das Attribut wird der [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]] verwendet.</p>

    <p>Für den Fall, dass der Wert aus Festwerten stammt ("<code>[Wert]</code>" ist "<code>value: [Festwert]</code>") kann auch eine Wertliste angegeben werden:</p>

    <pre><code>    se_value_&lt;Bedingungsname&gt;: value:[Wert1]|[Wert2]|(...)[WertN]
    </code></pre>

    <p>In diesem Fall ist die Bedingung erfüllt, wenn der aktuelle Wert in der Wertliste enthalten ist.        </p>

    <h3 id="negieren">Negieren</h3>

    <pre><code>    se_negate_&lt;Bedingungsname&gt;: True|False
    </code></pre>

    <p>Die gesamte Bedingung (Minimum, Maximum und Wert) wird negiert (umgekehrt).
    Für das Attribut wird der Datentyp Boolean verwendet, zulässige Werte sind "true", "1", "yes", "on" bzw. "false", "0", "no", "off"</p>

    <h3 id="mindestalter">Mindestalter</h3>

    <pre><code>    se_agemin_&lt;Bedingungsname&gt;: [Wert]
    </code></pre>

    <p>Die Bedingung ist erfüllt, wenn das Alter des Items, dass zur Ermittlung des Werts angegeben ist, größer als das angegebene Mindestalter ist.
    Fur das Attribut wird der [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]] verwendet.</p>

    <h3 id="hchstalter">Höchstalter</h3>

    <pre><code>    se_agemax_&lt;Bedingungsname&gt;: [Wert]
    </code></pre>

    <p>Die Bedingung ist erfüllt, wenn das Alter des Items, dass zur Ermittlung des Werts angegeben ist, kleiner als das angegebene Höchstalter ist.
    Fur das Attribut wird der [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]] verwendet.</p>

    <h3 id="altersbedingungnegieren">Altersbedingung negieren</h3>

    <pre><code>    se_agenegate_&lt;Bedingungsname&gt;: True|False
    </code></pre>

    <p>Die Altersbedingung (Mindestalter, Höchstalter) wird negiert (umgekehrt).
    Fur das Attribut wird der Datentyp Boolean verwendet, zulässige Werte sind "true", "1", "yes", "on" bzw. "false", "0", "no", "off"</p>

    <h2 id="bereitstellungdesaktuellenwerts">Bereitstellung des aktuellen Werts</h2>

    <p>Der aktuelle Wert kann entweder über ein Item oder über eine Eval-Funktion bereitgestellt werden. Wenn beides angegeben ist wird das Item verwendet und die Eval-Funktion ignoriert.</p>

    <p>Der Name des Items, über das der aktuelle Wert abgerufen werden soll, wird auf Ebene des Objekt-Items über das Attribut "<code>se_item_&lt;Bedingungsname&gt;</code>" angegeben.
    Die Eval-Funktion, über die der aktuelle Wert abgerufen werden soll, wird auf Ebene des Objekt-Items über das Attribut "<code>se_eval_&lt;Bedingungsname&gt;'" angegeben. Der Bedingungsname in "</code>se_item</em><Bedingungsname><code>" bzw. "</code>se_eval</em><Bedingungsname>'" muss mit den Bedingungsnamen in den Bedingungen korrespondieren.</p>

    <p>Das sich Altersbedingungen auf das Alter der hinterlegten Items beziehen können "<code>se_agemin_&lt;Bedingungsname&gt;</code>", "<code>se_agemax_&lt;Bedingungsname&gt;</code>" und "<code>se_agenegate_&lt;Bedingungsname&gt;</code>" nur verwendet werden, wenn der aktuelle Wert über ein Item bereitgestellt wird.</p>

    <h2 id="beispiel">Beispiel</h2>

    <pre><code>beispiel:
        raffstore1:
            automatik:
                rules:
                    &lt;...&gt;
                    se_item_height: beispiel.raffstore1.hoehe
                    se_item_lamella: beispiel.raffstore1.lamelle
                    se_item_brightness: beispiel.wetterstation.helligkeit
                    Daemmerung:
                        type: foo
                        name: Dämmerung
                        &lt;Aktionen&gt;
                        enter:
                            se_min_brightness: 500
                            se_max_brightness: value:1000

                    Nacht:
                        type: foo
                        name: Nacht
                        &lt;Aktionen&gt;
                        enter_todark:
                            se_max_brightness: 500

                    Sonder:
                        type: foo
                        name: Ein spezielles Bedingungsset
                        &lt;Aktionen&gt;
                        enter:
                            se_min_brightness: item:test.wert
                            se_max_brightness: eval:sh.test.wert() + 500
    </code></pre>

    <h2 id="besonderebedingungen">"Besondere" Bedingungen</h2>

    <p>Das Plugin stellt die Werte für einige "besondere" Bedingungen automatisch bereit. Für diese Bedingungen muss daher kein Item und keine Eval-Funktion zur Ermittlung des aktuellen Werts angegeben werden.
    Die "besonderen" Bedingungen werden über reservierte Bedingungsnamen gekennzeichnet. Diese Bedingungsnamen dürfen daher nicht für andere Bedingungen verwendet werden.</p>

    <p>Die folgenden "besonderen" Bedingungsnamen können verwendet werden</p>

    <h3 id="time">time</h3>

    <p><em>Aktuelle Uhreit</em></p>

    <p>Die Werte für "<code>se_value_time</code>", "<code>se_min_time</code>" und "<code>se_max_time</code>" müssen im Format "hh:mm" ("<zweistellige Stunde>:<Zweistellige Minute>") angegeben werden. Es wird ein 24 Stunden-Zeitformat verwendet. Beispiele: "08:00" oder "13:37". Um das Ende des Tages anzugeben kann der Wert "24:00" verwendet werden, der für die Prüfungen automatisch zu "23:59:59" konvertiert wird.</p>

    <h3 id="weekday">weekday</h3>

    <p><em>Wochentag</em></p>

    <p>0 = Montag, 1 = Dienstag, 2 = Mittwoch, 3 = Donnerstag, 4 = Freitag, 5 = Samstag, 6 = Sonntag</p>

    <h3 id="month">month</h3>

    <p>_Monat | 1 = Januar, ..., 12 = Dezember</p>

    <h3 id="sun_azimut">sun_azimut</h3>

    <p><em>Sonnenstand (Horizontalwinkel)</em></p>

    <p>Der Azimut (Horizontalwinkel) ist die Kompasrichtung in der die Sonne steht. Der Azimut wird von smarthomeNg auf Basis der aktuellen Zeit sowie der konfigurierten geographischen Position berechnet. Siehe auch <a href="https://github.com/smarthomeNG/smarthome/wiki/Logic#shsun">SmarthomeNg Dokumentation</a> für Voraussetzungen zur Berechnung der Sonnenposition. Beispielwerte: 0 → Sonne exakt im Norden, 90 → Sonne exakt im Osten, 180 → Sonne exakt im Süden, 270 → Sonne exakt im Westen</p>

    <h3 id="sun_altitude">sun_altitude</h3>

    <p><em>Sonnenstand (Vertikalwinkel)</em></p>

    <p>Die Altitude (Vertikalwikel) ist der Winkel, in dem die Sonne über dem Horizont steht. Die Altitude wird von smarthomeNg auf Basis der aktuellen Zeit sowie der konfigurierten geographischen Position berechnet. Siehe auch <a href="https://github.com/smarthomeNG/smarthome/wiki/Logic#shsun">SmarthomeNG Dokumentation</a> für Voraussetzungen zur Berechnung der Sonnenposition. Werte: negativ → Sonne unterhalb des Horizonts, 0 → Sonnenaufgang/Sonnenuntergang, 90 → Sonne exakt im Zenith (passiert nur in äquatorialen Bereichen)</p>

    <h3 id="age">age</h3>

    <p><em>Zeit seit der letzten Änderung des Zustands (Sekunden)</em></p>

    <p>Das Alter wird über die letzte Änderung des Items, dass als <code>se_laststate_item_id</code> angegeben ist, ermittelt.</p>

    <h3 id="random">random</h3>

    <p><em>Zufallszahl zwischen 0 und 100</em></p>

    <p>Wenn etwas zufällig mit einer Wahrscheinlichkeit von 60% passieren soll, kan beispielsweise die Bedingung <code>max_random = 60</code> verwendet werden.</p>

    <h3 id="laststate">laststate</h3>

    <p><em>Id des Zustandsitems des aktuellen Status</em></p>

    <p>Wichtig: Hier muss die vollständige Item-Id angegeben werden</p>

    <h3 id="trigger_itemtrigger_callertrigger_sourcetrigger_dest">trigger_item, trigger_caller, trigger_source, trigger_dest</h3>

    <p><em>item, caller, source und dest-Werte durch die die Zustandsermittlung direkt ausgelöst wurde</em></p>

    <p>Über diese vier Bedingungen kann der direkte Auslöser der Zustandsermittlung abgeprüft werden, also die Änderung, die smarthomeNG veranlasst, die Zustandsermittlung des stateengine-Plugins aufzurufen.</p>

    <h3 id="original_itemoriginal_calleroriginal_source">original_item, original_caller, original_source</h3>

    <p><em>item, caller, source und dest-Werte durch die die Zustandsermittlung ursprünglich ausgelöst wurde</em></p>

    <p>Über diese vier Bedingungen kann der ursprüngliche Auslöser der Zustandsermittlung abgeprüft werden. Beim Aufruf der Zustandsermittung über einen "<code>eval_trigger</code>" Eintrag wird über "<code>trigger_caller</code>" beispielsweise nur "<code>Eval</code>" weitergegeben. In den drei "<code>original_*</code>" Bedingungen wird in diesem Fall der Auslöser der Änderung zurückverfolgt und der Einstieg in die "<code>Eval</code>"-Kette ermittelt.</p>
  </div>
</div>
{% endblock bodytab1 %}
