{% extends "base_plugin.html" %}
{% block scripts %}
{{ super() }}
<script>
function mainpage() {
  var url = window.location.href;
  var page = url.substring(url.lastIndexOf('/') + 1);
  var final = url.replace(page, '');
  if ( url.includes("?action=") ) {
    window.location.href = final;
  };
}
</script>
{% endblock scripts %}
{% set logo_frame = false %}


{% set item_count = p.__items|length %}
{% set tab1title = "<strong>StateEngine</strong>" %}
{% set tabcount = 1 %}

{% block headtable %}

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>Log Level</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_level') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Log Folder</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_directory') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Startup Delay</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('startup_delay_default') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Suspend Time</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('suspend_time_default') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong></td>
      <td class="py-1">{{ item_count }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"></td>
      <td class="py-1"></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}

<div class="container-fluid m-2" style="position: relative;">
  <div style="float: left; border:1px solid black; width:200px; position: sticky; position: -webkit-sticky; top:220px; left:0;">
    <a href="https://www.smarthomeng.de/starting-with-state-machine-automation-stateengine-plugin" target="link">Einführung</a><br>
    <a href="?page=doku1">Grundsätzliches</a><br>
    <a href="?page=doku2">Plugin-Konfiguration</a><br>
    <a href="?page=doku3">Das Objekt-Item</a><br>
    <a href="?page=doku4">Das Zustands-Item</a><br>
    <a href="?page=doku5">Bedingungen</a><br>
    <a href="?page=doku6">Aktionen: Ausführung</a><br>
    <a href="?page=doku7">Aktionen: Einzelangabe</a><br>
    <a href="?page=doku8">Aktionen: Combo-Angabe</a><br>
    <a href="?page=doku9">Zustand-Templates</a><br>
    <a href="?page=doku10">Vordefinierte Funktionen</a><br>
    <a href="?page=doku11">Variablen</a><br>
    <a href="?page=doku12">Sperr-Zustand</a><br>
    <a href="?page=doku13">Pausiert-Zustand</a><br>
    <a href="?page=doku14">CLI Kommandos</a><br>
    <a href="?page=doku15">Vollständiges Beispiel</a><br>
  </div>
  <div style="margin-left:230px; max-width: 800px;">
    <h1 id="konfigurationdesplugins">Konfiguration des Plugins</h1>

    <p>Um das StateEngine Plugin zu verwenden müssen die folgenden Zeilen in die plugin.yaml Datei der smarthomeNG Installation eingetragen werden.</p>

    <pre><code>stateengine:
        class_name: StateEngine
        class_path: plugins.stateengine
        #startup_delay_default: 10
        #suspend_time_default: 3600
        #log_level: 0
        #log_directory: var/log/StateEngine/
        #log_maxage: 0
    </code></pre>

    <p>Auskommentierte Attribute sind Vorgabewerte, die nach den eigenen Bedürfnissen angepasst werden können.</p>

    <p><strong>startup_delay_default (optional):</strong> <br />
    <em>Vorgabewert für die Startverzögerung der ersten Zustandsermittlung beim Start von smarthomeNG</em></p>

    <p>Beim Starten von smarthomeNG dauert es üblicherweise einige Sekunden, bis alle Items initialisiert sind. Um zu verhindern, dass die erste Zustandsermittlung stattfindet, bevor alle Items ihren Initialwert haben, wird die erste Zustandsermittlung verzögert. Die Dauer der Verzögerung kann bei den Objekt-Items angegeben werden. Wenn bei einem Objekt-Item kein Wert angegeben ist, wird der hier angegebene Standardwert verwendet. Wenn kein abweichender Standardwert in der Plugin-Konfiguration angegeben ist, ist der Vorgabewert 10 Sekunden.</p>

    <p>Folgende Werte sind möglich:</p>

    <p><em>Zahl größer 0:</em> <br />
    Angabe der Startverzögerung in Sekunden. Während der Startverzögerung sind die Auslöser der Zustandsermittlung inaktiv. Sie werden erst nach Ablauf der Startverzögerung und der ersten Zustandsermittlung aktiviert.</p>

    <p><em>0:</em> <br />
    Keine Startverzögerung. Die erste Zustandsermittlung wird direkt nach der Initialisierung des Objekt-Items durchgeführt. Anschließend werden die Auslöser für die Zustandsermittung aktiviert.</p>

    <p><em>-1:</em> <br />
    Es wird keine erste Zustandsermittlung durchgeführt. Nach der Initialisierung des Objekt-Items sind alle Auslöser für die Zustandsermittlung aktiv.</p>

    <p><strong>suspend_time_default (optional):</strong> <br />
    <em>Vorgabezeit zur Unterbrechung der automatischen Steuerung nach manuellen Aktionen</em></p>

    <p>Nach manuellen Aktionen kann die Automatik für eine bestimmte Zeit Unterbrochen werden. Die Dauer dieser Unterbrechungen kann bei den Objekt-Items angegeben werden. Die Einheit für den Wert sind Sekunden. Wenn bei einem Objekt-Item kein Wert angegeben ist, wird der hier angegebene Standardwert verwendet. Wenn kein abweichender Standardwert in der Plugin-Konfiguration angegeben ist, ist der Vorgabewert 3600 Sekunden (1 Stunde)</p>

    <p><strong>log_level(optional):</strong> <br />
    _Erweiterte Protokollierung: Loglevel (0: aus, 1: Info, 2: Debug</em></p>

    <p>Die erweiterte Protokollierung wird über das Setzen des Loglevels auf 1 (Info) oder 2 (Debug) aktiviert. Wenn der Parameter nicht angegeben ist, ist die erweiterte Protokollierung deaktiviert.</p>

    <p><strong>log_directory (optional):</strong> <br />
    _Erweiterte Protokollierung: Verzeichnis für die Protokolldateien</em></p>

    <p>Die Logdateien der erweiterten Protokollierung werden in das hier angegebene Verzeichnis geschrieben. <br />
    Wenn der angegebene Verzeichnisname mit "/" beginnt wird er als absoluter Verzeichnisname behandelt. Alle anderen Verzeichnisnamen werden als Unterverzeichnisse des smarthomeNG Basisverzeichnisses behandelt.
    Das angegebene Verzeichnis wird angelegt, wenn es nicht existiert. <br />
    Wenn hier kein abweichendes Verzeichnis angegeben ist, wird das Verzeichnis <code>&lt;smarthome_base_directory&gt;/var/log/AutoState/</code> verwendet.</p>

    <p><strong>log_maxage (optional):</strong> <br />
    _Erweiterte Protokollierung: Anzahl der Tage, nach der die Dateien im Verzeichnis "<code>log_directory</code>" wieder gelöscht werden sollen</em></p>

    <p>Alte Protokolldateien können nach einer bestimmten Zeit automatisch gelöscht werden. Diesen Parameter wird die Anzahl der Tage festgelegt, nachdem die Dateien gelöscht werden sollen. Das Löschen ist ausgesetzt solange der Parameter den Wert 0 hat. Wenn der Parameter auf einen anderen Wert gesetzt wird, wird das Alter der Dateien im Protokollverzeichnis "<code>log_directory</code>" täglich geprüft und überalterte Dateien werden gelöscht. <br />
    <strong>Wichtig:</strong> Die Löschfunktionalität prüft und löscht alle Dateien im Protokollverzeichnis, ob sie Protokolldateien sind oder nicht. Daher sollten keine anderen Dateien in diesem Verzeichnis abgelegt werden!</p>

  </div>
</div>
{% endblock bodytab1 %}
