{% extends "base_plugin.html" %}
{% block scripts %}
{{ super() }}
<script>
function mainpage() {
  var url = window.location.href;
  var page = url.substring(url.lastIndexOf('/') + 1);
  var final = url.replace(page, '');
  if ( url.includes("?action=") ) {
    window.location.href = final;
  };
}
</script>
{% endblock scripts %}
{% set logo_frame = false %}


{% set item_count = p.__items|length %}
{% set tab1title = "<strong>StateEngine</strong>" %}
{% set tabcount = 1 %}

{% block headtable %}

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>Log Level</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_level') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Log Folder</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_directory') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Startup Delay</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('startup_delay_default') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Suspend Time</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('suspend_time_default') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong></td>
      <td class="py-1">{{ item_count }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"></td>
      <td class="py-1"></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}

<div class="container-fluid m-2" style="position: relative;">
  <div style="float: left; border:1px solid black; width:200px; position: sticky; position: -webkit-sticky; top:220px; left:0;">
    <a href="https://www.smarthomeng.de/starting-with-state-machine-automation-stateengine-plugin" target="link">Einführung</a><br>
    <a href="?page=doku1">Grundsätzliches</a><br>
    <a href="?page=doku2">Plugin-Konfiguration</a><br>
    <a href="?page=doku3">Das Objekt-Item</a><br>
    <a href="?page=doku4">Das Zustands-Item</a><br>
    <a href="?page=doku5">Bedingungen</a><br>
    <a href="?page=doku6">Aktionen: Ausführung</a><br>
    <a href="?page=doku7">Aktionen: Einzelangabe</a><br>
    <a href="?page=doku8">Aktionen: Combo-Angabe</a><br>
    <a href="?page=doku9">Zustand-Templates</a><br>
    <a href="?page=doku10">Vordefinierte Funktionen</a><br>
    <a href="?page=doku11">Variablen</a><br>
    <a href="?page=doku12">Sperr-Zustand</a><br>
    <a href="?page=doku13">Pausiert-Zustand</a><br>
    <a href="?page=doku14">CLI Kommandos</a><br>
    <a href="?page=doku15">Vollständiges Beispiel</a><br>
  </div>
  <div style="margin-left:230px; max-width: 800px;">
    <h1 id="diegrundkonfigurationfreineautomatikdasobjektitem">Die Grundkonfiguration für eine Automatik: Das Objekt-Item</h1>

    <p>Für jedes Objekt, dass mit dem StateEngine Plugin gesteuert werden soll, ist ein Item erforderlich, dass alle Konfigurationsdaten für dieses Objekt enthält. Dieses Item wird aus "Objekt-Item" bezeichnet.
    Es können beliebig viele Objekt-Items und damit beliebig viele Automatiken angelegt werden.</p>

    <h2 id="grundlegendeeinstellungen">Grundlegende Einstellungen</h2>

    <p>Über die folgenden Attribute werden die grundlegenden Einstellungen für eine Automatik festgelegt</p>

    <pre><code>beispiel:
        raffstore1:
            automatik:
                rules:
                    type: bool
                    name: Automatik Raffstore 1
                    se_plugin: active
                    se_startup_delay: 30
                    se_laststate_item_id: beispiel.raffstore1.automatik.state_id
                    se_laststate_item_name: beispiel.raffstore1.automatik.state_name
                    se_repeat_actions: true
                    se_suspend_time: 7200
    </code></pre>

    <p><strong>type (obligatorisch):</strong> <br />
    <em>Datentp des Items</em>  </p>

    <p>Für das Objekt-Item muss immer der Datentyp "bool" verwendet werden</p>

    <p><strong>name (optional):</strong> <br />
    <em>Name des Items</em>  </p>

    <p>Wenn das Attribut nicht angegeben ist, wird die Id des Items als Name verwendet.</p>

    <p><strong>se_plugin (obligatorisch):</strong> <br />
    _Kennzeichnet das Item als Objekt-Item des StateEngine-Plugins</em>  </p>

    <p>Der Wert dieses Attributs muss zwingend "<code>active</code>" sein, damit das Plugin das Item berücksichtigt. Zu Debuggingzwecken kann der Wert dieses Attributs auf einen anderen Wert geändert werden, dadurch wird das Plugin das Objekt ignorieren.</p>

    <p><strong>se_startup</em>delay (optional):</strong> <br />
    <em>Startverzögerung der ersten Zustandsermittlung beim Start von smarthomeNG</em>  </p>

    <p>Beim Starten von smarthomeNG dauert es üblicherweise einige Sekunden, bis alle Items initialisiert sind. Um zu verhindern, dass die erste Zustandsermittlung stattfindet, bevor alle Items ihren Initialwert haben, wird die erste Zustandsermittlung verzögert. Erst nach der ersten Zustandsermittlung werden alle Auslöser und Funktionen vollständig aktiviert. Zustandsermittlungen, die durch Items oder Timer vor Ablauf der Startverzögerung ausgelöst werden, werden nicht durchgeführt.
    Die zulässigen Werte für "<code>se_startup_delay</code>" sind identisch mit den zulässigen Werten für den Plugin-Parameter "<code>startup_delay_default</code>". <br />
    Der Parameter verwendet den [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]]</p>

    <p><strong>se_laststate</em>item<em>id (optional):</strong> <br />
    _Id des Items, in dem die Id des aktuellen Zustands abgelegt wird</em></p>

    <p>In das hier angegebene Item wird die Id des aktuellen Zustands abgelegt. Das Item kann mit dem Attribut "<code>cache = yes</code>" versehen werden, dann bleibt der vorherige Zustand bei einem Neustart von smarthomeNG erhalten. Wenn das Item "<code>se_laststate_item_id</code>" nicht angegeben ist, wird der aktuelle Zustand nur im Plugin gespeichert und geht mit einem Neustart von smarthomeNG verloren.</p>

    <p>Sofern verwendet, sollte das Item für "<code>se_laststate_item_id</code>" wie folgt definiert werden</p>

    <pre><code>beispiel:
        raffstore1:
            automatik:
                state_id:
                    type: str
                    name: Id des aktuellen Zustands
                    visu_acl: r
                    cache: yes
    </code></pre>

    <p><strong>se_laststate</em>item<em>name (optional):</strong> <br />
    _Id des Items, in dem der Name des aktuellen Zustands abgelegt wird</em></p>

    <p>In das hier angegebene Item wird der Name des aktuellen Zustands abgelegt. Das Item kann für Displayzwecke verwendet werden. Wenn das Item "<code>se_laststate_item_name</code>" nicht angegeben ist, steht der Name des aktuellen Zustands nicht zur Verfügung</p>

    <p>Sofern verwendet, sollte das Item für "<code>se_laststate_item_name</code>" wie folgt definiert werden</p>

    <pre><code>beispiel:
        raffstore1:
            automatik:
                state_name:
                    type: str
                    name: Name des aktuellen Zustands
                    visu_acl: r
                    cache: yes
    </code></pre>

    <p><strong>se_repeat</em>actions (optional):</strong> <br />
    <em>Wiederholen der Aktionen bei unverändertem Zustand</em></p>

    <p>Im Normalfall werden Aktionen jedesmal ausgeführt wenn der aktuelle Zustand neu ermittelt wurde. Dies ist unabhängig davon, ob sich der Zustand bei der Neuermittlung geändert hat oder nicht.
    Dieses Verhalten kann über die Angabe von "<code>se_repeat_actions = false</code>" umgestellt werden. Wenn das Attribut auf "<code>false</code>" gesetzt ist, werden Aktionen nur ausgeführt, wenn sich der Zustand tatsächlich geändert hat.
    Der Parameter verwendet den [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]]</p>

    <p><strong>se_suspend</em>time (optional):</strong> <br />
    <em>Zeit zur Unterbrechung der automatischen Steuerung nach manuellen Aktionen</em>  </p>

    <p>Nach manuellen Aktionen kann die Automatik für eine bestimmte Zeit Unterbrochen werden. Die Dauer dieser Unterbrechungen wird hier angegeben. Die Einheit für den Wert sind Sekunden. Wenn bei einem Objekt-Item kein Wert angegeben ist, wird der in der Pluginkonfiguration angegebene Standardwert (suspend<em>time</em>default) verwendet.
    Der Parameter verwendet den [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]]</p>

    <h2 id="einstellungenzumauslsenderzustandsermittlung">Einstellungen zum Auslösen der Zustandsermittlung</h2>

    <p>Eine Neuermittlung des aktuellen Zustands wird jedesmal durchgeführt, wenn ein Wert für das Objekt-Item geschrieben wird. Somit können die Standardmöglichkeiten von smarthomeNG wie "<code>cycle</code>", "<code>crontab</code>" und "<code>eval_trigger</code>" verwendet werden, um die Neuermittlung des aktuellen Zustands auszulösen. </p>

    <pre><code>beispiel:
        rafffstore2:
            automatik:
                rules:
                    &lt;...&gt;
                    cycle: 300
                    crontab: 0 5 * * | 0 6 * *
                    eval_trigger: beispiel.trigger.raffstore | beispiel.raffstore2.automatik.anwesenheit
    </code></pre>

    <p>Details zu diesen Attributen können der <a href="https://github.com/smarthomeNG/smarthome/wiki/Items">smarthomeNG Dokumentation</a> entnommen werden.</p>

    <p>Um die Konfiguration einfach zu halten, verändert das Plugin einige Einstellungen des Objekt-Items.
    Folgende Erleichterungen werden dabei vorgenommen:</p>

    <ul>
    <li><p>Es ist nicht erforderlich mit "<code>cycle</code>" bzw. "<code>crontab</code>" Werte anzugeben. Das StateEngine Plugin ergänzt diese automatisch, sofern erforderlich. Statt "<code>cycle = 300=1</code>" ist es ausreichend, wenn man "<code>cycle = 300</code>" angibt.</p></li>

    <li><p>Es ist nicht erforderlich das Attribut "<code>eval = (irgendwas)</code>" anzugeben, wenn "<code>eval_trigger</code>" verwendet wird. Das StateEngine plugin ergänzt dies automatisch, sofern erforderlich.</p></li>

    <li><p>"<code>crontab = init</code>" funktioniert nicht für das StateEngine Plugin. Die Neuberechnung des ersten Zustands nach dem Start von smarthomeNG wird über das Attribut "<code>se_startup_delay</code>" gesteuert.</p></li>
    </ul>

    <p>Es ist auch möglich andere Wege zu verwenden, um den Wert des Objekt-Items zu setzen:</p>

    <ul>
    <li><p>Zuweisung einer hörenden KNX Gruppenadresse zum Objekt-Item und Senden eines Wertes auf diese Gruppenadresse.</p></li>

    <li><p>Setzen des Werts des Objekt-Items aus einer Logik, einer anderen Automatik oder sogar aus der selben Automatik (ggf. mit Verzögerung).</p></li>
    </ul>

  </div>
</div>
{% endblock bodytab1 %}
