{% extends "base_plugin.html" %}
{% block scripts %}
{{ super() }}
<script>
function mainpage() {
  var url = window.location.href;
  var page = url.substring(url.lastIndexOf('/') + 1);
  var final = url.replace(page, '');
  if ( url.includes("?action=") ) {
    window.location.href = final;
  };
}
</script>
{% endblock scripts %}
{% set logo_frame = false %}


{% set item_count = p.__items|length %}
{% set tab1title = "<strong>StateEngine</strong>" %}
{% set tabcount = 1 %}

{% block headtable %}

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>Log Level</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_level') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Log Folder</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_directory') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Startup Delay</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('startup_delay_default') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Suspend Time</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('suspend_time_default') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong></td>
      <td class="py-1">{{ item_count }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"></td>
      <td class="py-1"></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}

<div class="container-fluid m-2" style="position: relative;">
  <div style="float: left; border:1px solid black; width:200px; position: sticky; position: -webkit-sticky; top:220px; left:0;">
    <a href="https://www.smarthomeng.de/starting-with-state-machine-automation-stateengine-plugin" target="link">Einführung</a><br>
    <a href="?page=doku1">Grundsätzliches</a><br>
    <a href="?page=doku2">Plugin-Konfiguration</a><br>
    <a href="?page=doku3">Das Objekt-Item</a><br>
    <a href="?page=doku4">Das Zustands-Item</a><br>
    <a href="?page=doku5">Bedingungen</a><br>
    <a href="?page=doku6">Aktionen: Ausführung</a><br>
    <a href="?page=doku7">Aktionen: Einzelangabe</a><br>
    <a href="?page=doku8">Aktionen: Combo-Angabe</a><br>
    <a href="?page=doku9">Zustand-Templates</a><br>
    <a href="?page=doku10">Vordefinierte Funktionen</a><br>
    <a href="?page=doku11">Variablen</a><br>
    <a href="?page=doku12">Sperr-Zustand</a><br>
    <a href="?page=doku13">Pausiert-Zustand</a><br>
    <a href="?page=doku14">CLI Kommandos</a><br>
    <a href="?page=doku15">Vollständiges Beispiel</a><br>
  </div>
  <div style="margin-left:230px; max-width: 800px;">
    <h1 id="suspendzeitweisesdeaktivierenderautomatischenzustandsermittlungnachmanuellenaktionen">Suspend - Zeitweises Deaktivieren der automatischen Zustandsermittlung nach manuellen Aktionen</h1>

    <p>Eine besondere Anforderung: Nach bestimmten manuellen Aktionen (z. B. über einen Taster, die Visu, o. ä.) soll die automatische Zustandsermittlung für eine gewisse Zeit ausgesetzt werden. Nach Ablauf dieser Zeit soll die Automatik wieder aktiv werden.</p>

    <p>Für dieses Verhalten sind zunächst einige weitere Steueritems erforderlich, dann kann das Verhalten in einem Zustand abgebildet werden.</p>

    <h2 id="dassuspenditem">Das "Suspend"-Item</h2>

    <p>Zunächst wird ein "Suspend"-Item benötigt. Dieses Item zeigt zum einen die zeitweise Deaktivierung an, außerdem kann die Deaktivierung über dieses Item vorzeitig beendet werden:</p>

    <pre><code>beispiel:
        suspend:
            suspend:
                type: bool
                name: Suspend-Item
                visu_acl: rw
    </code></pre>

    <h2 id="dasmanuellitem">Das "Manuell"-Item</h2>

    <p>Ein weiteres Item wird benötigt, um alle Aktionen, die den Suspend-Zustand auslösen sollen, zu kapseln. Dieses Item ist das "Manuell"-Item.
    Es wird so angelegt, dass der Wert dieses Items bei jeder manuellen Betätigung invertiert wird:</p>

    <pre><code>beispiel:
        suspend:
            manuell:
                type: bool
                name: Manuelle Bedienung
                eval_trigger: beispiel.item1 | beispiel.item2 | ...
                se_manual_invert = true
    </code></pre>

    <p>In das Attribut <code>eval_trigger</code> werden alle Items eingetragen, deren Änderung als manuelle Betätigung gewertet werden soll. Änderungen an diesen Items, die vom stateengine-Plugin selbst vorgenommen wurden, werden dabei automatisch ausgefiltert um Endlosschleifen zu verhindern.</p>

    <p>Das Attribut <code>se_manual_invert: true</code> veranlasst das stateengine-Plugin dabei, den Wert des Items bei Änderungen zu invertieren, wie es für das Auslösen des Suspend-Zustands erforderlich ist.</p>

    <p>Das Manuell-Item kann noch wesentlich komplexer ausgestaltet werden. Beispielsweise können Änderungen durch bestimmte Ereignisse ausgeschlossen werden. Details hierzu finden sich auf der Seite [[Erweiterte Funktionen des "Manuell"-Items für den Suspend-Zustand|Doku-De-BesondereZustaende-Suspend-Manuell]].</p>

    <h2 id="dersuspendzustand">Der Suspend-Zustand</h2>

    <p>Mit diesen beiden Items kann nun ein einfacher Suspend-Zustand definiert werden. Als Aktion im Suspend-Zustand wird dabei die Sonderaktion "suspend" verwendet. Diese hat zwei Parameter:</p>

    <pre><code>se_special_suspend: suspend:&lt;Suspend-Item&gt;,&lt;Manuell-Item&gt;
    </code></pre>

    <p>Der Suspend-Zustand sieht damit wie folgt aus:</p>

    <pre><code>suspend:
        type: foo
        name: Ausgesetzt

        on_enter_or_stay:
            type: foo
            name: Ausführen immer wenn ein Zustand aktiv ist

            # Suspend-Item setzen
            se_special_suspend: suspend:test.suspend.suspend,test.suspend.manuell

        on_leave:
            type: foo
            name: Ausführen beim Verlassen des Zustands

            # Suspend-Item zurücksetzen
            se_set_suspend: False

       enter_manuell:
            type: foo
            name: Bedingung: Suspend beginnen

            #Bedingung: Manuelle Aktion wurde durchgeführt
            se_value_trigger_source: test.suspend.manuell

        enter_stay:
            type: foo
            name: Bedingung: Im Suspend verbleiben

            #Bedingung: Suspend ist aktiv
            se_value_laststate: var:current.state_id

            #Bedingung: Suspendzeit ist noch nicht abgelaufen
            se_agemax_manuell: var:item.suspend_time

            #Bedingung: Suspend-Item wurde nicht extern geändert
            se_value_suspend: True
    </code></pre>

    <p>Bei der Zustandsermittlung die Reihenfolge der Definition der Zustände relevant. Da der Suspend-Zustand anderen Zuständen vorgehen sollte steht er üblicherweise sehr weit vorrne in der Reihenfolge. In der Regel wird der Suspend-Zustand in der Definition der zweite Zustand, nach dem [[Lock-Zustand|Doku-De-BesondereZustaende-Lock]] sein.</p>

    <h2 id="komplettesbeispiel">Komplettes Beispiel</h2>

    <p>Baut man die einzelnen Teile zusammen erhält man die folgende Konfiguration. </p>

    <p>test:
            type: foo</p>

    <pre><code>    suspend:
            type: foo
            name: stateengine Suspend Beispiel

            suspend:
                type: bool
                name: Suspend-Item
                visu_acl: rw

            manuell:
                type: bool
                name: Manuelle Bedienung
                eval_trigger: beispiel.item1 | beispiel.item2 | ...
                se_manual_invert: true

            rules:
                type: bool
                name: Automatik Test Suspend
                se_plugin: active

                # Sowohl das Manuell- als auch das Suspend-Item müssen eine Zustandsermittlung auslösen
                eval_trigger: test.suspend.manuell | test.suspend.suspend

                #Items für Bedingungen und Aktionen zuweisen
                se_item_suspend: test.suspend.suspend
                se_item_manuell: test.suspend.manuell

                suspend:
                    type: foo
                    name: Ausgesetzt

                    on_enter_or_stay:
                        type: foo
                        name :Ausführen immer wenn ein Zustand aktiv ist

                        # Suspend-Item setzen
                        se_special_suspend: suspend:test.suspend.suspend,test.suspend.manuell

                    on_leave:
                        type: foo
                        name: Ausführen beim Verlassen des Zustands

                        # Suspend-Item zurücksetzen
                        se_set_suspend: False

                    enter_manuell:
                        type: foo
                        name: Bedingung: Suspend beginnen

                        #Bedingung: Manuelle Aktion wurde durchgeführt
                        se_value_trigger_source_ test.suspend.manuell

                    enter_stay:
                        type: foo

                        name: Bedingung: Im Suspend verbleiben

                        #Bedingung: Suspend ist aktiv
                        se_value_laststate: var:current.state_id

                        #Bedingung: Suspendzeit ist noch nicht abgelaufen
                        se_agemax_manuell: var:item.suspend_time

                        #Bedingung: Suspend-Item wurde nicht extern geändert
                        se_value_suspend: True
    </code></pre>

    <h2 id="dauerderzeitweisendeaktivierung">Dauer der zeitweisen Deaktivierung</h2>

    <p>Die Dauer der zeitweisen Deaktivierung wird in der Plugin-Konfiguration über die Einstellung <code>suspend_time_default</code> angegeben. Vorgabewert sind 3600 Sekunden (1 Stunde).
    Wenn die Dauer der zeitweisen Deaktivierung für ein einzelnes Objekt-Item abweichend sein soll, kann dort das Attribut</p>

    <pre><code>    se_suspend_time: &lt;Sekunden&gt;
    </code></pre>

    <p>angegeben werden. <br />
    Der Parameter verwendet den [[Datentyp AbValue|Doku-De-Grundsaetzliches-AbValue]]</p>

    <h1 id="erweitertefunktionendesmanuellitemsfrdensuspendzustand">Erweiterte Funktionen des "Manuell"-Items für den Suspend-Zustand</h1>

    <h2 id="bestimmteitemnderungennichtalsmanuellebedienungauswerte">Bestimmte Item-Änderungen nicht als "manuelle Bedienung" auswerte</h2>

    <p>In bestimmten Fällen ist es erforderlich, das Item-Änderungen, die durch bestimmte Aufrufe ausgelöst werden, nicht als manuelle Betätigung gewertet werden. Hierzu zählt zum Beispiel die Rückmeldung der Raffstore-Position nach dem Verfahren durch den Jalousieaktor.
    Hierfür stehen zwei für das Manuell-Item weitere Attribute bereit:</p>

    <p><strong>as<em>manual</em>include</strong> <br />
    <em>Liste der Aufrufe, die als "manuelle Betätigung" gewertet werden sollen</em>  </p>

    <p><strong>as<em>manual</em>exclude</strong> <br />
    <em>Liste der Aufrufe, die nicht als "manuelle Betätigung" gewertet werden sollen</em>  </p>

    <p>Bei beiden Attributen wird eine Liste von Elementen angegeben. Die einzelnen Elemente bestehen dabei aus dem Aufrufenden ("<code>Caller</code>") einem Doppelpunkt und der Quelle ("<code>Source</code>"). Mehrere Elemente werden durch "|" getrennt. Für "<code>Caller</code>" und "<code>Source</code>" kann dabei jeweils auch "*" angegeben werden, dies bedeutet, dass der jeweilige Teil nicht berücksichtigt werd.</p>

    <p>Wenn bei der Prüfung festgestellt wird, dass ein Wert über eine Eval-Funktionalität geändert wurde, so wird die Änderung zurückverfolgt bis zur ursprünglichen Änderung, die die Eval-Kette ausgelöst hat. Diese ursprüngliche Änderung wird dann geprüft.</p>

    <p>Der Wert von "<code>Caller</code>" zeigt an, welche Funktionalität das Item geändert hat. Der Wert von "<code>Source</code>" ist Abhängig vom Caller. Häufig verwendete "<code>Caller</code>" sind:</p>

    <ul>
    <li>"<code>Init</code>": Initialisierung von smarthomeNG. "<code>Source</code>" ist in der Regel leer</li>

    <li>"<code>Visu</code>": Änderung über die Visualisierung (Visu-Plugin). "<code>Source</code>" beinhaltet die IP und den Port der Gegenstelle</li>

    <li>"<code>KNX</code>": Änderung über das KNX-Plugin. "<code>Source</code>" ist die physische Adresse des sendenden Geräts</li>
    </ul>

    <p>Wenn <code>se_manual_include</code> oder <code>se_manual_exclude</code> angegeben sind, muss <code>se_manual_invert</code> nicht angegeben werden.</p>

    <pre><code>beispiel:
        suspend:
            manuell:
                type: bool
                name: Manuelle Bedienung
                eval_trigger: beispiel.item1 | beispiel.item2 | ...
                se_manual_exclude: KNX:1.1.42 | Init:*
    </code></pre>

    <p>Hier werden alle Änderungen der Items <code>beispiel.item1</code> und <code>beispiel.item2</code> als manuelle Betätigung gewertet, sofern Sie nicht durch das KNX-Gerät mit der physischen Adresse 1.1.42 oder durch die Initialisierung von smarthomeNG erfolgt sind.</p>

    <h2 id="erweitertesloggingfrdasmanuellitem">Erweitertes Logging für das Manuell-Item:</h2>

    <p>Sofern im Manuell-Item die Attribute <code>se_manual_include</code> bzw. <code>se_manual_exclude</code> verwendet werden, ist auch hier eine Protokollierung mittels des erweiterten Loggings möglich. Dazu muss das Item, unter dem das Log geführt wird über das zusätzliche Attribut <code>se_manual_logitem</code> angegeben werden. Hier wird man als Item in der Regel das Manuell-Item angeben:</p>

    <pre><code>beispiel:
        suspend:
            manuell:
                type: bool
                name: Manuelle Bedienung
                eval_trigger: beispiel.item1 | beispiel.item2 | ...
                se_manual_exclude: KNX:1.1.42 | Init:*
                se_manual_logitem: beispiel.suspend.manuell
    </code></pre>

    <p>Wird statt <code>se_manual_include</code> oder <code>se_manual_exclude</code> nur <code>se_manual_invert</code> verwendet, ist kein erweitertes Logging möglich.</p>
  </div>
</div>
{% endblock bodytab1 %}
