{% extends "base_plugin.html" %}
{% block scripts %}
{{ super() }}
<script>
function mainpage() {
  var url = window.location.href;
  var page = url.substring(url.lastIndexOf('/') + 1);
  var final = url.replace(page, '');
  if ( url.includes("?action=") ) {
    window.location.href = final;
  };
}
</script>
{% endblock scripts %}
{% set logo_frame = false %}


{% set item_count = p.__items|length %}
{% set tab1title = "<strong>StateEngine</strong>" %}
{% set tabcount = 1 %}

{% block headtable %}

<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>Log Level</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_level') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Log Folder</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('log_directory') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Startup Delay</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('startup_delay_default') }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"><strong>Suspend Time</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('suspend_time_default') }}</td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong></td>
      <td class="py-1">{{ item_count }}</td>
      <td class="py-1" width="50px"></td>
      <td class="py-1"></td>
      <td class="py-1"></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}

<div class="container-fluid m-2" style="position: relative;">
  <div style="float: left; border:1px solid black; width:200px; position: sticky; position: -webkit-sticky; top:220px; left:0;">
    <a href="https://www.smarthomeng.de/starting-with-state-machine-automation-stateengine-plugin" target="link">Einführung</a><br>
    <a href="?page=doku1">Grundsätzliches</a><br>
    <a href="?page=doku2">Plugin-Konfiguration</a><br>
    <a href="?page=doku3">Das Objekt-Item</a><br>
    <a href="?page=doku4">Das Zustands-Item</a><br>
    <a href="?page=doku5">Bedingungen</a><br>
    <a href="?page=doku6">Aktionen: Ausführung</a><br>
    <a href="?page=doku7">Aktionen: Einzelangabe</a><br>
    <a href="?page=doku8">Aktionen: Combo-Angabe</a><br>
    <a href="?page=doku9">Zustand-Templates</a><br>
    <a href="?page=doku10">Vordefinierte Funktionen</a><br>
    <a href="?page=doku11">Variablen</a><br>
    <a href="?page=doku12">Sperr-Zustand</a><br>
    <a href="?page=doku13">Pausiert-Zustand</a><br>
    <a href="?page=doku14">CLI Kommandos</a><br>
    <a href="?page=doku15">Vollständiges Beispiel</a><br>
  </div>
  <div style="margin-left:230px; max-width: 800px;">
    <h1 id="vollstndigesbeispiel">Vollständiges Beispiel</h1>

    <p>In diesem Beispiel soll die Automatisierung eines Raffstores gezeigt werden. Folgende Zustände sollen abgedeckt werden:</p>

    <ul>
    <li>Sperre über Sperr-Item</li>

    <li>Zeitweises Deaktivieren ("Suspend") bei manuellen Aktionen</li>

    <li>Nachführen der Lamellen zum Sonnenstand bei großer Helligkeit</li>

    <li>Nacht</li>

    <li>Morgens</li>

    <li>Abends</li>

    <li>Tag</li>
    </ul>

    <p>Dabei sollen möglichst viele Features des stateengine Plugins verwendet werden</p>

    <h2 id="itemszumprfen">Items zum Prüfen</h2>

    <p>Zuerst benötigen wir ein paar Items, die nachher als Bedingungen abgeprüft werden sollen:</p>

    <pre><code>beispiel:
        steckdosen:
            type: bool

        licht:
            type: bool

        wetterstation:
            helligkeit:
                name: Helligkeit
                type: num

                gt43k:
                    type: bool
                    name: Flag: Helligkeit größer als 43 kLux
                    eval: sh.beispiel.wetterstation.helligkeit() &gt; 43000
                    eval_trigger beispiel.wetterstation.helligkeit

                gt35k:
                    type: bool
                    name: Flag: Helligkeit größer als 35 kLux
                    eval: sh.beispiel.wetterstation.helligkeit() &gt; 35000
                    eval_trigger beispiel.wetterstation.helligkeit

                gt25k:
                    type: bool
                    name: Flag: Helligkeit größer als 25 kLux
                    eval: sh.beispiel.wetterstation.helligkeit() &gt; 25000
                    eval_trigger beispiel.wetterstation.helligkeit

                gt20k:
                    type: bool
                    name: Flag: Helligkeit größer als 20 kLux
                    eval: sh.beispiel.wetterstation.helligkeit() &gt; 20000
                    eval_trigger beispiel.wetterstation.helligkeit

            temperatur:
        name: Temperatur
        type: num
    </code></pre>

    <h2 id="trigger">Trigger</h2>

    <p>Da wir mehrere Raffstores automatisieren wollen und alle Raffstores gleichzeitig fahren sollen, brauchen wir einen externen Trigger, auf den dann alle Automatiken hören:</p>

    <pre><code>beispiel:
        trigger:
            raffstore:
                type: bool
                name: Gemeinsamer Trigger für alle Raffstores
                enforce_updates: yes
                cycle: 300 = 1
    </code></pre>

    <p>In diesem Fall wird die Zustandsermittlung alle 300 Sekunden (5 Minuten) ausgelöst.</p>

    <h2 id="defaultkonfiguration">Default-Konfiguration</h2>

    <p>Nun kommt die Default-Konfiguration. Sie ist unabhängig von konkreten zu automatisierenden Objekten. Sie beinhaltet jedoch umfangreiche Einstellungen, so dass die zu automatisierenden Objekte, die die Einstellungen aus der Default-Konfiguration verwenden, oft sehr simpel aufgebaut werden können.</p>

    <pre><code>beispiel:
        default:
            raffstore:
                # Item für Helligkeit außen
                se_item_brightness: beispiel.wetterstation.helligkeit
                # Item für Temperatur außen
                se_item_temperature: beispiel.wetterstation.temperatur
                # Item das anzeigt, ob die Helligkeit außen mehr als 25kLux beträgt
                se_item_brightnessGt25k: beispiel.wetterstation.helligkeit.gt25k
                # Item das anzeigt, ob die Helligkeit außen mehr als 43kLux beträgt
                se_item_brightnessGt43k: beispiel.wetterstation.helligkeit.gt43k
                # Item für Behanghöhe
                se_item_hoehe: ...hoehe
                # Keine Änderung der Behanghöhe wenn Abweichung kleiner 10
                se_mindelta_hoehe: 10
                # Item für Lamellenwinkel
                se_item_lamelle: ...lamelle
                # Keine Änderung des Lamellenwinkels wenn Abweichung kleiner 5
                se_mindelta_lamelle: 5
                # "Manuell" Item
                se_item_manuell: ..manuell
                # "Lock" Item
                se_item_lock: ..lock
                # "Suspend" Item
                se_item_suspend: ..suspend

                # Zustand "Sperre über Sperr-Item"
                Lock:
                    type: foo
                    name: Automatik manuell gesperrt
                    # Aktionen:
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False
                    # sonst nichts tun
                    enter
                        # Einstieg in "Lock": Wenn
                        # - das "Lock"-Item gesetzt ist
                        se_value_lock: True

                # Zustand "Zeitweises Deaktivieren bei manuellen Aktionen"
                Suspend:
                    type: foo
                    name: Ausgesetzt
                    # Namensermittlung über eval-Funktion
                    se_name: eval:stateengine_eval.insert_suspend_time("..suspend", "Automatik ausgesetzt bis %X")
                    # Aktionen:
                    # - "Suspend"-Item setzen
                    se_set_suspend: True
                    # sonst nichts tun

                    # Einstieg in "Suspend": Wenn
                    enter_manuell:
                        # - die Zustandsermittlung über das "Manuell"-Item ausgelöst wurde
                        se_value_trigger_source: eval:    stateengine_eval.get_relative_itemid("..manuell")

                    # Verbleib in "Suspend": Wenn
                    enter_stay:
                        # - wir bereits in "Suspend" sind
                        se_value_laststate: var:current.state_id
                        # - wir weniger 3600 Sekunden im Suspend-Zustand sind
                        se_agemax_suspend: 3600
                        # - das "Suspend"-Item nicht von irgendwo anders auf "False" gesetzt wurde
                        se_value_suspend: True

                # Zustand "Nachführen der Lamellen zum Sonnenstand bei großer Helligkeit", Gebäudeseite 1
                Nachfuehren_Seite_Eins:
                    type: foo
                    name: Tag (nachführen)
                    # Aktionen:
                    # - Behang ganz herunterfahren
                    se_set_hoehe: value:100
                    # - Lamellen zur Sonne ausrichten
                    se_set_lamelle: eval:stateengine_eval.sun_tracking()
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False

                    # Einstieg in "Nachführen": Wenn
                    enter:
                        # - das Flag "Helligkeit &gt; 43kLux" seit mindestens 60 Sekunden gesetzt ist
                        se_value_brightnessGt43k: true
                        se_agemin_brightnessGt43k: 60
                        # - die Sonnenhöhe mindestens 18° ist
                        se_min_sun_altitude: 18
                        # - die Sonne aus Richtung 130° bis 270° kommt
                        se_min_sun_azimut: 130
                        se_max_sun_azimut: 270
                        # - es draußen mindestens 22° hat
                        se_min_temperature: 22

                    # Hysterese für Helligkeit: Wenn
                    enter_hysterese:
                        # ... wir bereits in "Nachführen" sind
                        se_value_laststate: var:current.state_id
                        # .... das Flag "Helligkeit &gt; 25kLux" gesetzt ist
                        se_value_brightnessGt25k: true
                        # ... die Sonnenhöhe mindestens 18° ist
                        se_min_sun_altitude: 18
                        # ... die Sonne aus Richtung 130° bis 270° kommt
                        se_min_sun_azimut: 130
                        se_max_sun_azimut: 270
                        # Anmerkung: Hier keine erneute Prüfung der Temperatur, damit Temperaturschwankungen nicht
                        # zum Auf-/Abfahren der Raffstores führen

                    # Verzögerter Ausstieg nach Unterschreitung der Mindesthelligkeit: Wenn
                    enter_delay:
                        # ... wir bereits in "Nachführen" sind
                        se_value_laststate: var:current.state_id
                        # .... das Flag "Helligkeit &gt; 25kLux" nicht (!) gesetzt ist, aber diese Änderung nicht mehr als 20 Minuten her ist
                        se_value_brightnessGt25k: false
                        se_agemax_brightnessGt25k: 1200
                        # ... die Sonnenhöhe mindestens 18° ist
                        se_min_sun_altitude: 18
                        # ... die Sonne aus Richtung 130° bis 270° kommt
                        se_min_sun_azimut: 130
                        se_max_sun_azimut: 270
                        # Anmerkung: Auch hier keine erneute Prüfung der Temperatur, damit Temperaturschwankungen nicht
                        # zum Auf-/Abfahren der Raffstores führen

                # Zustand "Nachführen der Lamellen zum Sonnenstand bei großer Helligkeit", Gebäudeseite 2
                Nachfuehren_Seite_Zwei:
                    type: foo
                    # Einstellungen des Vorgabezustands "Nachfuehren_Seite_Eins" übernehmen
                    se_use: beispiel.default.raffstore.Nachfuehren_Seite_Eins

                    # Sonnenwinkel in den Bedingungsgruppen anpassen
                    enter:
                        # ... die Sonne aus Richtung 220° bis 340° kommt
                        se_min_sun_azimut: 220
                        se_max_sun_azimut: 340

                    enter_hysterese:
                        # ... die Sonne aus Richtung 220° bis 340° kommt
                        se_min_sun_azimut: 220
                        se_max_sun_azimut: 340

                    :enter_delay:
                        # ... die Sonne aus Richtung 220° bis 340° kommt
                        se_min_sun_azimut: 220
                        se_max_sun_azimut: 340

                # Zustand "Nacht"
                Nacht:
                    type: foo
                    name: Nacht
                    # Aktionen:
                    # - Behang ganz herunterfahren
                    se_set_hoehe: value:100
                    # - Lamellen ganz schließen
                    se_set_lamelle: value:0
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False

                    # Einstieg in "Nacht": Wenn
                    enter:
                        # - es zwischen 16:00 und 08:00 Uhr ist
                        se_min_time: 08:00
                        se_max_time: 16:00
                        se_negate_time: True
                        # - die Helligkeit höchstens 90 Lux beträgt
                        se_max_brightness: 90

                # Zustand "Morgens"
                Morgens:
                    type: foo
                    name: Dämmerung Morgens
                    # Aktionen:
                    # - Behang ganz herunterfahren
                    se_set_hoehe: value:100
                    # - Lamellen ca 45° nach unten
                    se_set_lamelle: value:25
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False

                    # Einstieg in "Morgens": Wenn
                    enter:
                        # - die Helligkeit zwischen 90 und 250 Lux beträgt
                        se_min_brightness: 90
                        se_max_brightness: 250
                        # - es zwischen 00:00 und 12:00 Uhr ist
                        se_min_time: 00:00
                        se_max_time: 12:00

                # Zustand "Abends"
                Abends:
                    type: foo
                    name: Dämmerung Abends
                    # Aktionen:
                    # - Behang ganz herunterfahren
                    se_set_hoehe: value:100
                    # - Lamellen ca 45° nach oben
                    se_set_lamelle: value:75
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False

                    # Einstieg in "Abends": Wenn
                    enter:
                        # - die Helligkeit zwischen 90 und 250 Lux beträgt
                        se_min_brightness: 90
                        se_max_brightness: 250
                        # - es zwischen 12:00 und 24:00 Uhr ist
                        se_min_time: 12:00
                        se_max_time: 24:00
                        # Anmerkung: "24:00" ist eigentlich eine ungültige Zeit. Sie wird aber automatisch zu 23:59:59 umgewandelt

                # Zustand "Tag"
                Tag:
                    type: foo
                    name: Tag (statisch)
                    # Aktionen:
                    # - Behang ganz hochfahren
                    se_set_hoehe: value:0
                    # - Lamellen auf den Standardwert bei ganz hochgefahrenem Behang
                    se_set_lamelle: value:100
                    # - "Suspend"-Item ggf. zurücksetzen
                    se_set_suspend: False

                    # Einstieg in "Tag": Wenn
                    enter:
                        # - es zwischen 06:30 und 21:30 Uhr ist
                        se_min_time: 06:30
                        se_max_time: 21:30
    </code></pre>

    <h2 id="automatisierungraffstore1">Automatisierung Raffstore 1</h2>

    <p>Jetzt wollen wir den ersten Raffstore automatisieren. Einige Items dazu haben wir sowieso schon, da der Raffstore über diese Items gesteuert wird.</p>

    <pre><code>beispiel:
        raffstore1:
            name: Raffstore Beispiel 1

            aufab:
                type: bool
                name: Raffstore auf/ab fahren
                enforce_updates: on

            step:
                type: bool
                name: Raffstore Schritt fahren/stoppen
                enforce_updates: on

            hoehe:
                type: num
                name: Behanghöhe des Raffstores

            lamelle:
                type: num
                name: Lamellenwinkel des Raffstores
    </code></pre>

    <p>Jetzt kommen noch die Items zur Automatisierung und schließlich das stateengine Objekt-Item hinzu:</p>

    <pre><code>beispiel:
        raffstore1:
            automatik:
                lock:
                    type: bool
                    name: Sperr-Item
                    visu_acl: rw
                    cache: on

                suspend:
                    type: bool
                    name: Suspend-Item
                    visu_acl: rw
                    # Achtung: Beim "Suspend"-Item niemals "enforce_updates = yes" setzen! Das führt dazu dass das Setzen des
                    # Suspend-Items bei der Initialisierung zu einem endlosen sofortigen Wiederaufruf der Statusermittlung führt!

                state_id:
                    type: str
                    name: Id des aktuellen Zustands
                    visu_acl: r
                    cache: on

                state_name:
                    type: str
                    name: Name des aktuellen Zustands
                    visu_acl: r
                    cache: on

                manuell:
                    type: bool
                    name: Manuelle Bedienung
                    # Änderungen dieser Items sollen als manuelle Bedienung gewertet werden
                    eval_trigger: beispiel.raffstore1.aufab | beispiel.raffstore1.step | beispiel.raffstore1.hoehe | beispiel.raffstore1.lamelle
                    # Änderungen, die ursprünglich von diesen Triggern (&lt;caller&gt;:&lt;source&gt;) ausgelöst wurden, sollen nicht als manuelle Bedienung gewertet werden
                    se_manual_exclude: KNX:y.y.y | Init:*

                rules:
                    type: bool
                    name: Automatik Raffstore 1
                    se_plugin: active
                    # Erste Zustandsermittlung nach 30 Sekunden
                    se_startup_delay: 30
                    # Über diese Items soll die Statusermittlung ausgelöst werden
                    eval_trigger: beispiel.trigger.raffstore | beispiel.raffstore1.automatik.anwesenheit | beispiel.raffstore1.automatik.manuell | beispiel.raffstore1.automatik.lock | beispiel.raffstore1.automatik.suspend
                    # In dieses Item soll die Id des aktuellen Zustands geschrieben werden
                    se_laststate_item_id: ..state_id
                    # In dieses Item soll der Name des aktuellen Zustands geschrieben werden
                    se_laststate_item_name: ..state_name

                    Lock:
                        # Zustand "Lock": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Lock

                    Suspend:
                        # Zustand "Suspend": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Suspend

                    Nachfuehren:
                        # Zustand "Nachfuehren": Nur die Vorgabeeinstellungen übernehmen (Gebäudeseite 2)
                        se_use: beispiel.default.raffstore.Nachfuehren_Seite_Zwei

                    Nacht:
                        # Zustand "Nacht": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Nacht

                    Morgens:
                        # Zustand "Morgens": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Morgens

                    Abends:
                        # Zustand "Abends": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Abends

                    Tag:
                        # Zustand "Tag": Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Tag
    </code></pre>

    <h2 id="automatisierungraffstore2">Automatisierung Raffstore 2</h2>

    <p>Der zweite Raffstore ist ein komplexeres Beispiel. Hier werden nicht nur die Vorgabewerte übernommen, hier werden komplett neue Bedingungsgruppen definiert, sowie vorhandene Bedingungsgruppen abgeändert.</p>

    <pre><code>beispiel:
        raffstore2:
            name: Raffstore Beispiel 2

            aufab:
                type: bool
                name: Raffstore auf/ab fahren
                enforce_updates: on

            step:
                type: bool
                name: Raffstore Schritt fahren/stoppen
                enforce_updates: on

            hoehe:
                type: num
                name: Behanghöhe des Raffstores

            lamelle:
                type: num
                name: Lamellenwinkel des Raffstores

            automatik:
                lock:
                    type: bool
                    name: Sperr-Item
                    visu_acl: rw
                    cache: on

                suspend:
                    type: bool
                    name: Suspend-Item
                    visu_acl: rw
                    # Achtung: Beim "Suspend"-Item niemals "enforce_updates = yes" setzen! Das führt dazu dass das Setzen des
                    # Suspend-Items bei der Initialisierung zu einem endlosen sofortigen Wiederaufruf der Statusermittlung führt!

                state_id:
                    type: str
                    name: Id des aktuellen Zustands
                    visu_acl: r
                    cache: on

                state_name:
                    type: str
                    name: Name des aktuellen Zustands
                    visu_acl: r
                    cache: on

                manuell:
                    type: bool
                    name: Manuelle Bedienung
                    # Änderungen dieser Items sollen als manuelle Bedienung gewertet werden
                    eval_trigger: beispiel.raffstore2.aufab | beispiel.raffstore2.step | beispiel.raffstore2.hoehe | beispiel.raffstore2.lamelle
                    # Änderungen, die ursprünglich von diesen Triggern (&lt;caller&gt;:&lt;source&gt;) ausgelöst wurden, sollen nicht als manuelle Bedienung gewertet werden
                    se_manual_exclude: KNX:y.y.y | Init:*

                anwesenheit:
                    type: bool
                    name: Anwesenheit im Raum
                    eval: or
                    eval_trigger: beispiel.steckdosen | beispiel.licht

                rules:
                    type: bool
                    name: Automatik Raffstore 2
                    se_plugin: active
                    # Erste Zustandsermittlung nach 30 Sekunden
                    se_startup_delay: 30
                    # Über diese Items soll die Statusermittlung ausgelöst werden
                    eval_trigger: beispiel.trigger.raffstore | beispiel.raffstore2.automatik.anwesenheit | beispiel.raffstore2.automatik.manuell | beispiel.raffstore2.automatik.lock | beispiel.raffstore2.automatik.suspend
                    # In dieses Item soll die Id des aktuellen Zustands geschrieben werden
                    se_laststate_item_id: ..state_id
                    # In dieses Item soll der Name des aktuellen Zustands geschrieben werden
                    se_laststate_item_name: ..state_name
                    # Dieses Item zeigt die Anwesenheit im Raum
                    se_item_anwesend: ..anwesenheit
                    # Item das anzeigt, ob die Helligkeit außen mehr als 35kLux beträgt
                    se_item_brightnessGt35k: beispiel.wetterstation.helligkeit.gt35k
                    # Item das anzeigt, ob die Helligkeit außen mehr als 20Lux beträgt
                    se_item_brightnessGt20k: beispiel.wetterstation.helligkeit.gt20k

                    Lock:
                        # Zustand "Lock": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Lock

                    Suspend:
                        # Zustand "Suspend": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Suspend

                    Nachfuehren:
                        # Zustand "Nachführen": Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Nachfuehren_Seite_Eins

                        # ..und jetzt verändern wir das ganze, in dem wir abhängig vom "Anwesend"-Flag andere
                        # Grenzwerte für die Helligkeit setzen.

                        # Erst definieren wir mal zusätzliche Einstiegsbedingungen, die die neuen Grenzwerte beinhalten:
                        :enter_anwesend:
                            # Einstieg in "Nachführen" bei Anwesenheit: Wenn
                            # - das Flag "Anwesenheit" gesetzt ist
                            se_value_anwesend: true
                            # - das Flag "Helligkeit &gt; 35kLux" seit mindestens 60 Sekunden gesetzt ist (also 8k Lux früher als in "enter")
                            se_value_brightnessGt35k: true
                            se_agemin_brightnessGt35k: 60
                            # - die Sonnenhöhe mindestens 15° ist (also 3° früher als in "enter")
                            se_min_sun_altitude: 15
                            # - die Sonne aus Richtung 110° bis 270° kommt (also 20° früher als in "enter"
                            se_min_sun_azimut: 110
                            se_max_sun_azimut: 270

                        enter_anwesend_hysterese:
                            # Hysterese für Helligkeit bei Anwesenheit: Wenn
                            # - das Flag "Anwesenheit" gesetzt ist
                            se_value_anwesend: true
                            # ... wir bereits in "Nachführen" sind
                            se_value_laststate: var:current.state_id
                            # .... das Flag "Helligkeit &gt; 20kLux" gesetzt ist (also 5 kLux früher als in "enter_hysterese")
                            se_value_brightnessGt20k: true
                            # ... die Sonnenhöhe mindestens 15° ist (Übernahme aus "enter_anwesend")
                            se_min_sun_altitude: 15
                            # ... die Sonne aus Richtung 110° bis 270° kommt (Übernahme aus "enter_anwesend")
                            se_min_sun_azimut: 110
                            se_max_sun_azimut: 270

                        enter_anwesend_delay:
                            # Verzögerter Ausstieg nach Unterschreitung der Mindesthelligkeit bei Anwesenheit: Wenn
                            # - das Flag "Anwesenheit" gesetzt ist
                            se_value_anwesend: true
                            # ... wir bereits in "Nachführen" sind
                            se_value_laststate: var:current.state_id
                            # .... das Flag "Helligkeit &gt; 20kLux" nicht (!) gesetzt ist, aber diese Änderung nicht mehr als 20 Minuten her ist
                            se_value_brightnessGt20k: false
                            se_agemax_brightnessGt20k: 1200
                            # ... die Sonnenhöhe mindestens 15° ist (Übernahme aus "enter_anwesend")
                            se_min_sun_altitude: 15
                            # ... die Sonne aus Richtung 110° bis 270° kommt (Übernahme aus "enter_anwesend")
                            se_min_sun_azimut: 110
                            se_max_sun_azimut: 270

                        # Jetzt müssen wir die vorhandenen Bedingungen noch erweitern (sie gelten ja nur noch, wenn "Anwesenheit" nicht gesetzt ist)
                        enter:
                            # Einstieg in "Nachführen": Wenn zusätzlich
                            # - das Flag "Anwesenheit" nicht gesetzt ist
                            se_value_anwesend: false

                        enter_hysterese:
                            # Hysterese für Helligkeit: Wenn zusätzlich
                            # - das Flag "Anwesenheit" nicht gesetzt ist
                            se_value_anwesend: false

                        enter_delay:
                            # Verzögerter Ausstieg nach Unterschreitung der Mindesthelligkeit:  Wenn zusätzlich
                            # - das Flag "Anwesenheit" nicht gesetzt ist
                            se_value_anwesend: false

                    Nacht:
                        # Zustand "Nacht": Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Nacht
                        # .. und zwei weitere Einstiegsbedingungen definieren

                        enter_schlafenszeit_woche:
                            # Einstieg in "Nacht": Wenn
                            # - es zwischen 21:00 und 07:00 Uhr ist
                            se_min_time: 07:00
                            se_max_time: 21:00
                            se_negate_time: True
                            # - der Wochentag zwischen Montag und Freitag liegt
                            se_min_weekday: 0
                            se_max_weekday: 4

                        enter_schlafenszeit_wochenende:
                            # Einstieg in "Nacht": Wenn
                            # - es zwischen 21:00 und 08:30 Uhr ist
                            se_min_time: 08:30
                            se_max_time: 21:00
                            se_negate_time: True
                            # - der Wochentag Samstag oder Sonntag ist
                            se_value_weekday: 5 | 6

                    Morgens:
                        # Zustand "Morgens": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Morgens

                    Abends:
                        # Zustand "Abends": Nur die Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Abends

                    Tag:
                        # Zustand "Tag": Vorgabeeinstellungen übernehmen
                        se_use: beispiel.default.raffstore.Tag
    </code></pre>
  </div>
</div>
{% endblock bodytab1 %}
