{% extends "base_plugin.html" %}
{% block buttons %}
{{ super() }}
<button type="button" class="btn btn-shng btn-sm" onclick="location.href='?'">{{ _('Übersicht') }}</button>
{% endblock buttons %}
{% set logo_frame = false %}
{% set tabcount = 1 %}
{% block bodytab1 %}

<div class="container-fluid m-2">
  <div class="mb-2">
    {{ _('Detailvisualisierung') }} - {{ item }}
    <a href="static/img/visualisations/{{ item }}.svg" style="display: inline-block; position: relative; z-index: 1;" target="_blank">
      {{ _('Klicken für volle Größe') }}</a>
    {{ p.get_graph(item, 'graph') }}

  </div>
</div>
{% endblock bodytab1 %}
