{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% block pluginstyles %}
<style>
  table th.item {
    width: 300px;
  }
  table th.type {
    width: 40px;
  }
  table th.value {
    width: 120px;
  }
  table th.dpt {
    width: 60px;
  }
</style>
{% endblock pluginstyles %}
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    try {
      {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
      if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
        console.log('Activating automatic table resize');
      }
      else {
        resize = false;
      }
    }
    catch (e) {
      webif_pagelength = 100;
      resize = false;
      console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
    }
    try {
      itemtable = $('#itemtable').DataTable( {
        order: [[1, 'asc']],
        columnDefs: [
        { className: "item", targets: 1 },
        { className: "type", targets: 2 },
        { className: "value", targets: 3 },
        { className: "dpt", targets: 4 },
        { className: "cache", targets: 5 },
        { className: "send", targets: 6 },
        { className: "reply", targets: 7 },
        { className: "status", targets: 8 },
        { className: "poll", targets: 9 }
        ].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength,
        pageResize: resize} );
      gatable = $('#gatable').DataTable( {pageLength: webif_pagelength, pageResize: resize} );
      patable = $('#patable').DataTable( {pageLength: webif_pagelength, pageResize: resize} );
      {% if p.knxproj_ga is not none %}
        knxprojtable = $('#knxprojtable').DataTable( {pageLength: webif_pagelength, pageResize: resize} );
      {% endif %}
    }
    catch (e) {
      console.warn("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });

$(document).ready(
    function(){
        $('#fupload').change(
            function(){
                if ($(this).val()) {
                    $('#btnupload').attr('disabled',false);
                } else {
                    $('#btnupload').attr('disabled',true);
                }
            }
            );
    });
</script>
{% endblock pluginscripts %}

{% block headtable %}
	<table class="table table-striped table-hover" style="min-width: 550px;">
		<tbody>
			<tr>
				<td class="py-1"><strong>{{ _('KNX Service') }}</strong></td>
				<td class="py-1">{{ knxdaemon }}</td>
				<td class="py-1"><strong>{{ _('Statistiken') }}</strong></td>
				<td class="py-1">{% if p.enable_stats %}{{ _('aktiviert') }}{% else %}{{ _('deaktiviert') }}{% endif %}</td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{ _('Letzte Aktivität') }}</strong></td>
				<td class="py-1">
				{% if p.get_stats_last_action() %}
					{{ p.get_stats_last_action().strftime('%d.%m.%Y %H:%M:%S %Z') }}
				{% endif %}
				</td>
				<td class="py-1"><strong></strong></td>
				<td class="py-1"></td>
			</tr>
			{% if p.use_project_file %}
                <form method="post" action="index" enctype="multipart/form-data">
				{% if p.projectpath %}
				<tr>
					<td class="py-1"><strong>{{ _('Pfad zur KNX Projektdatei') }}</strong></td>
					<td class="py-1">{{ p.projectpath }}</td>
					<td class="py-1"><strong>{{ _('gültig') }}</strong></td>
					<td class="py-1">{% if p.knxproj_ga is not none %}{{ _('Ja') }} ({{ p.knxproj_ga|length }}){% else %}{{ _('Nein') }}{% endif %}</td>
				</tr>
				{% endif %}
				<tr>
					<td class="py-1"><strong>{{ _('Projektdatei') }}</strong></td>
					<td class="py-1">
							<input id="fupload" type="file" name="knxprojfile" accept="*.knxproj|*.esf"/>
							<button id="btnupload" disabled="True">{{ _('hochladen') }}</button>
					</td>
					<td class="py-1"><strong>{{ _('optionales Passwort') }}</strong></td>
					<td class="py-1"><input id="pwd" type="password" name="password"/></td>
				</tr>
                </form>
			{% endif %}
		</tbody>
	</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 4 %}
{% if stats_ga_list|length == 0 %}
	{% set tabcount = tabcount - 1 %}
{% endif %}
{% if stats_pa_list|length == 0 %}
	{% set tabcount = tabcount - 1 %}
{% endif %}
{% if not p.use_project_file %}
	{% set tabcount = tabcount - 1 %}
{% endif %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ items|length ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2 table-resize">
		<table id="itemtable">
			<thead>
				<tr><th></th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Item') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Typ') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border); width: 100;">{{ _('Wert') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ 'knx_dpt' }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">cache/init/listen</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ 'knx_send' }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ 'knx_reply' }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ 'knx_status' }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ 'knx_poll' }}</th>
					</tr>
			</thead>
			<tbody>
			{% for item in items %}
				<tr><td></td>
					<td class="py-1">{{ item._path }}</td>
					<td class="py-1">{{ item._type }}</td>
					<td class="py-1">{{ item() }}</td>
					<td class="py-1">{{ item.conf['knx_dpt'] }}</td>
					<td class="py-1">
					{% if 'knx_cache' in item.conf %}
						{% if item.conf['knx_cache'] in p.get_unsatisfied_cache_read_ga() %}<span style="color: red;">{% endif %}
						knx_cache: {{ item.conf['knx_cache'] }}
						{% if item.conf['knx_cache'] in p.get_unsatisfied_cache_read_ga() %}</span>{% endif %}<br>
					{% endif %}
					{% if 'knx_init' in item.conf %}
						knx_init: {{ item.conf['knx_init'] }}<br>
					{% endif %}
					{% if 'knx_listen' in item.conf %}
						knx_listen: {{ item.conf['knx_listen'] }}<br>
					{% endif %}
					</td>
					{% if item.conf['knx_send']|length == 1 %}
						<td class="py-1">{{ item.conf['knx_send'][0] }}</td>
					{% else %}
						<td class="py-1">{{ item.conf['knx_send'] }}</td>
					{% endif %}
					<td class="py-1">{{ item.conf['knx_reply'] }}</td>
					{% if item.conf['knx_status']|length == 1 %}
						<td class="py-1">{{ item.conf['knx_status'][0] }}</td>
					{% else %}
						<td class="py-1">{{ item.conf['knx_status'] }}</td>
					{% endif %}
					<td class="py-1">{{ item.conf['knx_poll'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>GA " ~ _('Statistiken') ~ " </strong> (" ~ stats_ga_list|length ~ ")" %}
{% block bodytab2 %}
<div class="container-fluid m-2 table-resize">
		<table id="gatable">
			<thead>
				<tr><th></th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Gruppen Adresse') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# gelesen') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# geschrieben') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# geantwortet') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_read') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_write') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_response') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for ga in stats_ga_list %}
				<tr><td></td>
					<td class="py-1">{{ ga }}</td>
					<td class="py-1">{{ stats_ga[ga].read }}</td>
					<td class="py-1">{{ stats_ga[ga].write }}</td>
					<td class="py-1">{{ stats_ga[ga].response }}</td>
					{% if stats_ga[ga].last_read %}
					<td class="py-1">{{ stats_ga[ga].last_read.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_ga[ga].last_write %}
					<td class="py-1">{{ stats_ga[ga].last_write.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_ga[ga].last_response %}
					<td class="py-1">{{ stats_ga[ga].last_response.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab3
-->
{% set tab3title = "<strong>PA " ~ _('Statistiken') ~ " </strong> (" ~ stats_pa_list|length ~ ")" %}
{% block bodytab3 %}
<div class="container-fluid m-2 table-resize">
		<table id="patable">
			<thead>
				<tr><th></th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Physische Adresse') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# gelesen') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# geschrieben') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('# geantwortet') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_read') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_write') }}</th>
					<th style="border-bottom: 1px solid var(--shng-border);">{{ _('last_response') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for pa in stats_pa_list %}
				<tr><td></td>
					<td class="py-1">{{ pa }}</td>
					<td class="py-1">{{ stats_pa[pa].read }}</td>
					<td class="py-1">{{ stats_pa[pa].write }}</td>
					<td class="py-1">{{ stats_pa[pa].response }}</td>
					{% if stats_pa[pa].last_read %}
					<td class="py-1">{{ stats_pa[pa].last_read.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_pa[pa].last_write %}
					<td class="py-1">{{ stats_pa[pa].last_write.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_pa[pa].last_response %}
					<td class="py-1">{{ stats_pa[pa].last_response.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
</div>
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab4
-->
{% if p.knxproj_ga is not none and p.use_project_file %}
    {% set num_ga_knxproj = '(' ~ p.knxproj_ga|length ~ ')' %}
    <script>
    $(document).ready( function () {
        $('#knxprojtable').DataTable( {
            "paging": false,
            fixedHeader: true
            } );
    } );
    </script>
{% else %}
    {% set num_ga_knxproj = '' %}
{% endif %}

{% if p.use_project_file %}
	{% set tab4title = "<strong>" ~ _('ETS KNX Projekt') ~ " " ~ num_ga_knxproj ~ "</strong>" %}
	{% block bodytab4 %}
<div class="container-fluid m-2 table-resize">
			{% if p.knxproj_ga is not none %}
			<table id="knxprojtable">
				<thead>
					<tr><th></th>
						<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Gruppen Adresse') }}</th>
						<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Name') }}</th>
						<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Beschreibung') }}</th>
						<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Kommentar') }}</th>
						<th style="border-bottom: 1px solid var(--shng-border);">{{ _('Datenpunkt') }}</th>
						<th style="border-bottom: 1px solid var(--shng-border); border-left: 1px solid var(--shng-border);">Item(s)</th>
					</tr>
				</thead>
				<tbody>
					{% for ga in p.knxproj_ga %}
					<tr><td></td><td id="GA-{{ ga }}">{% if not (ga in ga_usage_by_Item) %}<span style="color:#bbb;">{% endif %}{{ ga }}{% if not (ga in ga_usage_by_Item) %}</span>{% endif %}</td>
						<td>{% if not (ga in ga_usage_by_Item) %}<span style="color:#bbb;">{% endif %}{{ p.knxproj_ga[ga]["HG"] }} / {{ p.knxproj_ga[ga]["MG"] }} / {{ p.knxproj_ga[ga]["Name"] }}{% if not (ga in ga_usage_by_Item) %}</span>{% endif %}</td>
						<td>{% if not (ga in ga_usage_by_Item) %}<span style="color:#bbb;">{% endif %}{{ p.knxproj_ga[ga]["Description"] }}{% if not (ga in ga_usage_by_Item) %}</span>{% endif %}</td>
						<td>{% if not (ga in ga_usage_by_Item) %}<span style="color:#bbb;">{% endif %}{{ p.knxproj_ga[ga]["Comment"] }}{% if not (ga in ga_usage_by_Item) %}</span>{% endif %}</td>
						<td>{% if not (ga in ga_usage_by_Item) %}<span style="color:#bbb;">{% endif %}{{ p.knxproj_ga[ga]["DatapointType"] }}{% if not (ga in ga_usage_by_Item) %}</span>{% endif %}</td>
						{#
							# build a dict with groupaddress as key to items and their attributes
							# ga_usage_by_Item = { '0/1/2' : { ItemA : { attribute1 : True, attribute2 : True },
							#                                  ItemB : { attribute1 : True, attribute2 : True }}, ...}
							# ga_usage_by_Attrib={ '0/1/2' : { attribut1 : { ItemA : True, ItemB : True },
							#                                  attribut2 : { ItemC : True, ItemD : True }}, ...}
						#}
						<td  style="border-left: 1px solid var(--shng-border);">
							{% if ga in ga_usage_by_Item %}
								{% set itemlist = ga_usage_by_Item[ga] %}
								{% for item in itemlist %}
									{{ item._path }} ({{ item._type }}) ->
									{% set attribs = itemlist[item] %}
										{% for att in attribs %}
											{% if loop.last %}
												{{ att }}
											{% else %}
												{{ att }},
											{% endif %}
										{% endfor %}
								{% endfor %}
							{% else %}
								<span style="color:#bbb;">{{ _('nicht zugewiesen') }}</span>
							{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				{{ _('Keine ETS5 Projektdatei gefunden') }}
			{% endif %}
	</div>

	{% endblock bodytab4 %}
{% endif %}
