<!DOCTYPE html>
{% extends "base_plugin.html" %}

{% set logo_frame = false %}

{% block headtable %}	
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td class="py-1"><strong>{{ _('Service für den KNX Support') }}</strong></td>
				<td class="py-1">{{ knxdeamon }}</td>
				<td class="py-1" width="50px"></td>
				<td class="py-1"><strong></strong></td>
				<td class="py-1"></td>
				<td class="py-1" width="50px"></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{ _('Statistiken') }}</strong></td>
				<td class="py-1">{% if p.enable_stats %}{{ _('aktiviert') }}{% else %}{{ _('deaktiviert') }}{% endif %}</td>
				<td></td>
				<td class="py-1"><strong></strong></td>
				<td class="py-1"></td>
				<td></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{ _('Letzte KNX Aktivität') }}</strong></td>
				<td class="py-1">
				{% if p.get_stats_last_action() %}
					{{ p.get_stats_last_action().strftime('%d.%m.%Y %H:%M:%S %Z') }}
				{% endif %}
				</td>
				<td></td>
				<td class="py-1"><strong></strong></td>
				<td class="py-1"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	<button id="btn1" class="btn btn-shng btn-sm" name="learn" type="submit" value="on"><i class="fas fa-wifi"></i>&nbsp;&nbsp;&nbsp;Mach was&nbsp;</button>
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}
{% if stats_ga_list|length == 0 %}
	{% set tabcount = tabcount - 1 %}
{% endif %}
{% if stats_pa_list|length == 0 %}
	{% set tabcount = tabcount - 1 %}
{% endif %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ items|length ~ ")" %}
{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th>{{ _('Item') }}</th>
					<th>{{ _('Typ') }}</th>
					<th style="width: 100;">{{ _('Wert') }}</th>
					<th>{{ _('knx_dpt') }}</th>
					<th>cache/init/listen</th>
					<th>{{ _('knx_send') }}</th>
					<th>{{ _('knx_reply') }}</th>
					<th>{{ _('knx_status') }}</th>
					<th>{{ _('knx_poll') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for item in items %}
				<tr>
					<td class="py-1">{{ item._path }}</td>
					<td class="py-1">{{ item._type }}</td>
					<td class="py-1">{{ item() }}</td>
					<td class="py-1">{{ item.conf['knx_dpt'] }}</td>
					<td class="py-1">
					{% if 'knx_cache' in item.conf %}
						knx_cache: {{ item.conf['knx_cache'] }}<br>
					{% endif %}
					{% if 'knx_init' in item.conf %}
						knx_init: {{ item.conf['knx_init'] }}<br>
					{% endif %}
					{% if 'knx_listen' in item.conf %}
						knx_listen: {{ item.conf['knx_listen'] }}<br>
					{% endif %}
					</td>
					<td class="py-1">{{ item.conf['knx_send'] }}</td>
					<td class="py-1">{{ item.conf['knx_reply'] }}</td>
					<td class="py-1">{{ item.conf['knx_status'] }}</td>
					<td class="py-1">{{ item.conf['knx_poll'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>GA " ~ _('Statistiken') ~ " </strong> (" ~ stats_ga_list|length ~ ")" %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th>{{ _('Gruppen Adresse') }}</th>
					<th>{{ _('# read') }}</th>
					<th>{{ _('# write') }}</th>
					<th>{{ _('# response') }}</th>
					<th>{{ _('last_read') }}</th>
					<th>{{ _('last_write') }}</th>
					<th>{{ _('last_response') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for ga in stats_ga_list %}
				<tr>
					<td class="py-1">{{ ga }}</td>
					<td class="py-1">{{ stats_ga[ga].read }}</td>
					<td class="py-1">{{ stats_ga[ga].write }}</td>
					<td class="py-1">{{ stats_ga[ga].response }}</td>
					{% if stats_ga[ga].last_read %}
					<td class="py-1">{{ stats_ga[ga].last_read.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_ga[ga].last_write %}
					<td class="py-1">{{ stats_ga[ga].last_write.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_ga[ga].last_response %}
					<td class="py-1">{{ stats_ga[ga].last_response.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab3
-->
{% set tab3title = "<strong>PA " ~ _('Statistiken') ~ " </strong> (" ~ stats_pa_list|length ~ ")" %}
{% block bodytab3 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th>{{ _('Physische Adresse') }}</th>
					<th>{{ _('# read') }}</th>
					<th>{{ _('# write') }}</th>
					<th>{{ _('# response') }}</th>
					<th>{{ _('last_read') }}</th>
					<th>{{ _('last_write') }}</th>
					<th>{{ _('last_response') }}</th>
					</tr>
			</thead>
			<tbody>
			{% for pa in stats_pa_list %}
				<tr>
					<td class="py-1">{{ pa }}</td>
					<td class="py-1">{{ stats_pa[pa].read }}</td>
					<td class="py-1">{{ stats_pa[pa].write }}</td>
					<td class="py-1">{{ stats_pa[pa].response }}</td>
					{% if stats_pa[pa].last_read %}
					<td class="py-1">{{ stats_pa[pa].last_read.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_pa[pa].last_write %}
					<td class="py-1">{{ stats_pa[pa].last_write.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
					{% if stats_pa[pa].last_response %}
					<td class="py-1">{{ stats_pa[pa].last_response.strftime('%d.%m.%Y %H:%M:%S %Z') }}</td>
					{% else %}
					<td class="py-1"></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}
