<!-- Functions in Scripts       -->
<script src="./static/js/handler.js"></script>
<style>
.CodeMirror {
font-family: Arial, monospace;
font-size: 12px;
}
</style>
<!-- Functions in Scripts       -->
{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 5 %}
{% set tab1title = 'Cookie Handling / Standard Login' %}
{% if pyOTP == false %}
  {% set tab2title = ' <i id="MFA_OK" class="fas fa-check-circle" style="visibility: visible; margin-left: 20px; font-size: 20px; color: green;"></i>&nbsp&nbspMFA Login' %}
{% else %}
  {% set tab2title = ' <i id="MFA_OK" class="fas fa-exclamation-triangle" style="visibility: visible; margin-left: 20px; font-size: 20px; color: red;"></i>&nbsp&nbspMFA Login' %}
{% endif %}

{% set tab3title = 'Alexa Devices' %}
{% set tab4title = 'Command Handling' %}
{% set tab5title = 'Communication-Protocol' %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>csrf Cookie</strong></td>
			<td align="right" class="py-1" id="csrfCookie">{{ csrf_cookie }}</td>
		</tr>

		<tr>
			<td class="py-1"><strong>{{ _('No. of Alexa-Devices') }}</strong></td>
			<td align="right" class="py-1">{{ alexa_device_count }}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>{{ _('last/next Auto-Login') }}</strong></td>
			<td align="right" class="py-1">{{ time_auto_login }}</td>
		</tr>

		<tr>
			<td class="py-1"><strong>{{ _('selected Device') }}</strong></td>
			<td align ="right" class="py-1" id="actDevice" align="right">no Device selected</td>
		</tr>

	</tbody>
</table>
{% endblock headtable %}

{% block buttons %}
{% endblock buttons %}


{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px; margin-bottom: 5px;margin-top: 5px;" class="row">
	<table class="table table-striped table-hover">
			<tr style="height: 10px;font-size: 12px" valign = "middle">
				<td style="width: 20%; vertical-align:middle;align:left">
				  {{ _('Credentials:') }}
				</td>
				<td style="width: 20%" valign = "middle" align="left">
          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtUser" id="txtUser" placeholder="{{ _('Amazon-User') }}" value="">			
				</td>
				<td style="width: 20%" valign = "middle" align="left">
          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtPwd" id="txtPwd" placeholder="{{ _('Password') }}" value="">			
				</td>
        <td style="width:40%">
        <button type="button" onclick="BtnEncode()"style="margin-left : 5px" class="btn btn-shng btn-sm" value="btnEncode" id="btnEncode">&nbsp;{{ _('Encode, save and login') }}</button>
        </td>
      </tr>
			<tr style="height: 10px;font-size: 12px">      
				<td style="vertical-align: middle;text-align: center;"> 
			          <button type="button" onclick="BtnLogOff()"style="margin-left : 5px" class="btn btn-shng btn-sm" value="btnLogOff" id="btn-logoff">&nbsp;{{ _('LogOff') }}</button>
				</td>
				<td style="vertical-align: middle;text-align: center;"> 
			          <button type="button" onclick="BtnLogIn()"style="margin-left : 5px" class="btn btn-shng btn-sm" value="btnLogIn" id="btn-login">&nbsp;{{ _('LogIn') }}</button>
				</td>
 				<td style="vertical-align: middle;text-align: center;"> 
				  <strong>Result :</strong>
				</td>			
				<td style="width: 75%;margin-top: 5px;margin-bottom: 5px; margin-left : 5px;margin-right: 5px; height : 120px;font-size: 12px;" valign = "middle" align="left" colspan=2>
					<textarea type="input" rows="5" style="width: 100%;height: 100%;font-size: 12px;" class="form-control" name="txt_Result" id="txt_Result" placeholder="{{ _('...') }}" disabled >{{ txt_Result }}</textarea>

				</td>				
      </tr>			
	</table>
</div>

<div class="table-responsive" style="margin-left: 2px; margin-right: 2px; margin-bottom: 5px;margin-top: 5px;" class="row">
<form name="input" action="storecookie.html" method="GET" enctype="multipart/form-data">
	<table class="table table-striped table-hover">

			<tr>
				<td style="width: 10%"> 
				  <input name="save" value="{{ _('Store Cookie') }}" onclick="BtnStoreCookie()"  class="btn btn-shng btn-sm"></br>
				</td>
				<td style="width: 10%"> 
				  <input id="reloadPage" name="reloadPage" value="{{ _('Reload Page') }}" onclick="document.getElementById('reload').click()"  class="btn btn-shng btn-sm" style="visibility:hidden; background-color:lightgreen; color:black">
				</td>				
			</tr>
	</table>

        <div class="container-fluid" style="width: 100%;">
			<div style="width: 100%; float: left; border: 1px solid #ccc; margin-bottom: 100px; margin-right: 5px; height:45%">
				<div title="{{ _('Paste the Cookie-File here') }}">
	       		        <div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Paste the Cookie-File here') }}</div>
					
					<textarea style="width: 100%" size="8"  id="cookie_txt" name="cookie_txt">{{ cookie_txt }}</textarea>
					
					
				</div>
			</div>
	</div>
</form>
</div>
<script>
     var rulers = [];
     for (var i = 1; i <= 100; i++) {
        rulers.push({color: '#eee', column: i * 4, lineStyle: "dashed"});
     }

     var myCodeMirrorConf = CodeMirror.fromTextArea(document.getElementById("cookie_txt"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: false,
        indentWithTabs: false,
        mode: "yaml"

     });


     window.addEventListener("resize", function(){resizeCodeMirror(myCodeMirrorConf, 60)}, false);
     resizeCodeMirror(myCodeMirrorConf, 60);

</script>
{% endblock bodytab1 %}

{% block bodytab2 %}
<br>
<br>

<div class="table-responsive" id="MFA_Steps"  style="margin-left: 2px; margin-right: 2px;" class="row">

 <div class="col-sm-12">

  <div id="Tooltip" style="position:fixed;bottom:10px;right: 5%;max-width:50%;display:block" class="mb-2 alert alert-success alert-dismissible fade show" role="alert">
    <div>
     <strong>Enter Credentials</strong><br>
     Enter your credentials for the alexa.amazon-Website<br>Press the button to continue
    </div>
 </div>
<!-- Alert if no pyotp installed -->
{% if pyOTP == true %}
 <div id="pyotpAlert" style="position:fixed;bottom:10px;left: 5%;max-width:50%;display:block;background-color: red;" class="mb-2 alert alert-success alert-dismissible fade show" role="alert">
  <div>
   <strong>no pyOTP installed</strong><br>
     you can not use MFA - please install pyOTP <br>
     you can use <br>
     "cd /usr/local/smarthome"<br>
     "pip3 install -r ./plugins/alexarc4shng/requirements.txt --user"
  </div>
 </div>
{% endif %}
 

	<table class="table table-striped table-hover">
  <div class="card-text" style="">
    <div id="MFAcardOverlay" class="cardOverlay">
        <div style="position: relative; top: 50%; left:50%;">
            <span id="reload-element" class="fas fa-sync fa-4x"/>
        </div>
    </div>
  </div>    
<!-- Step 1 -->
			<tr style="height: 10px;font-size: 12px; width:100%" valign = "middle">
      <td style="width: 10%; vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 1 :
      </td>
				<td style="width: 10%; vertical-align:middle;text-align:left;padding-left: 40px;">{{ _('Credentials:') }}</td>
				<td style="width: 25%" valign = "middle" align="left">
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtMFAUser" id="txtMFAUser" placeholder="{{ _('Amazon-User') }}" value="">			
				</td>
				<td style="width: 25%" valign = "middle" align="left">
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtMFAPwd" id="txtMFAPwd" placeholder="{{ _('Password') }}" value="">			
				</td>
        <td style="width:20%">
          <button type="button" onclick="BtnHandleMFA(1)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm"> {{ _('Speichern') }} </button>
        </td>
        <td  style="width:20%; text-align:right">
          <i id="Status_1" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: green;"></i>        
        </td>
			</tr>

<!-- Step 2 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_2">
      <td style="vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 2 :
      </td>
				<td style="vertical-align:middle;text-align:left;padding-left: 40px;"  colspan=3>
				  {{ _('Amazon Seite öffnen und erstelle eine neue APP') }}
				</td>      
        <td style="">
          <button type="button" onclick="BtnHandleMFA(2)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm" value="btnEncode" id="btnEncode">&nbsp;{{ _('öffne amazon.de ') }}</button>
        </td>
        <td  style="text-align:right">
          <i id="Status_2" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: red;"></i>
        </td>        				
        
			</tr>

<!-- Step 3 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_3">
      <td style="vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 3 :
      </td>
				<td style="vertical-align:middle;text-align:left;padding-left: 40px;">{{ _('MFA-Secret:') }}</td>      
				<td style="" valign = "middle" align="left" colspan=2>
			          <input type="input" style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtMFA" id="txtMFA" placeholder="{{ _('your Secret') }}" value="">			
				</td>

        <td style="">
          <button type="button" onclick="BtnHandleMFA(3)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm">{{ _('Code berechnen') }}</button>
        </td>
        <td  style="text-align:right">
          <i id="Status_3" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: red;"></i>
        </td>        				
        
			</tr>

<!-- Step 4 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_4">
      <td style="vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 4 :
      </td>			
			<td style="vertical-align:middle;text-align:left;padding-left: 40px;">{{ _('OTP-Code:') }}</td>      
			<td style="" valign = "middle" align="left" colspan=2>
			   <input type="input" disabled style="margin-bottom: 1px; margin-left: 5px; width: 100%;font-size: 12px" class="form-control" name="txtOTP" id="txtOTP" placeholder="{{ _('your calculated OTP-Code') }}" value="">			
			</td>
      <td>
          <button type="button" onclick="BtnHandleMFA(4)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm">{{ _('Code erfolgreich angegeben') }}</button>
      </td>
      <td  style="text-align:right">
        <i id="Status_4" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: red;"></i>
      </td>        				      				
			</tr>			

<!-- Step 5 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_5">
      <td style="vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 5 :
      </td>
				<td style="vertical-align:middle;text-align:left;padding-left: 40px;"  colspan=3>
				  {{ _('MFA-Code in /etc/plugin.yaml speichern') }}
				</td>      
        <td style="">
          <button type="button" onclick="BtnHandleMFA(5)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm"> {{ _('speichern') }}</button>
        </td>
        <td  style="text-align:right">
          <i id="Status_5" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: red;"></i>
        </td>        				
        
			</tr>

<!-- Step 6 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_6">
      <td style="vertical-align:middle;background-color:#709cc2;border-radius: 10px;padding: .25rem .5rem;color: white;text-align: center;font-size: large;">
        {{ _('Schritt') }} 6 :
      </td>
				<td style="vertical-align:middle;text-align:left;padding-left: 40px;"  colspan=3>
				  {{ _('Einloggen mit MFA - Setup prüfen') }}
				</td>      
        <td style="">
          <button type="button" onclick="BtnHandleMFA(6)"style="margin-left : 5px;width:250px" class="btn btn-shng btn-sm"> {{ _('Login') }}</button>
        </td>
        <td  style="text-align:right">
          <i id="Status_6" class="fas" style="visibility: visible; margin-left: 20px; font-size: 35px; color: red;"></i>
        </td>        				
			</tr>			

<!-- Step 7 -->
			<tr style="height: 10px;font-size: 12px; visibility:hidden" valign = "middle" id="Line_7">
      <td style="border-radius: 10px;padding: .25rem .5rem;text-align: center; vertical-align: middle;">
        <i id="Status_7" class="fas fa-check-circle" style="font-size: 45px; color: green; "></i>
      </td>
			<td id="goal" style="vertical-align:middle;text-align:center;padding-left: 40px;font-size:35px"  colspan=2>
			  congratulations<br>You did it !
			</td>
			<td style="height: 7em;">
			  <img id="img_goal" src="static/img/alexa_cookie_good.png" alt="Got good cookie" style="height: 100%;"> 
			</td>

        <td style="vertical-align: middle;">
          <button type="button" onclick="mfaReset()"style="margin-left : 5px;width:250px; visibility:hidden" class="btn btn-shng btn-sm" id="btnMfaReset">{{ _('Reset') }}</button>
          <button type="button" onclick="document.getElementById('reload').click()" style="margin-left : 5px;width:250px; visibility:hidden;background-color: green;" class="btn btn-shng btn-sm" id="btnMfaReload"> {{ _('Reload Page') }}</button>
        </td>
      <td style="border-radius: 10px;padding: .25rem .5rem;text-align: right; vertical-align: middle;">
        <i id="Status_7_1" class="fas fa-check-circle" style="font-size: 45px; color: green;"></i>
      </td>				                
		
        
			</tr>						
	</table>
  </div>
</div>

<script>
  function ToggleTooltip() {
    var div = document.getElementById('Tooltip');
    div.style.display = div.style.display == "none" ? "block" : "none";
  }

  function HideTooltip() {
    document.getElementById('Tooltip').style.display = "none";
  }
</script>
{% endblock bodytab2 %}



{% block bodytab3 %}
<div class="table-responsive" id="AlexaDevices"  style="margin-left: 2px; margin-right: 2px;" class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th>{{ _('Alexa-Device-Name') }}</th>
                        		<th style="width: 200;">{{ _('deviceFamily') }}</th>
					<th style="width: 200;">{{ 'deviceSerial' }}</th>
					<th>deviceType</th>
					<th>deviceOwnerCustomerId</th>
					</tr>
			</thead>
			<tbody>
			{% for item in device_list %}
				<tr>
					<td class="py-1">{{ item.name }}</td>
					<td class="py-1">{{ item.family }}</td>					
					<td class="py-1">{{ item.serialNumber }}</td>					
					<td class="py-1">{{ item.deviceType }}</td>
					<td class="py-1">{{ item.deviceOwnerCustomerId }}</td>					
				</tr>
			{% endfor %}
			</tbody>
		    </table>
        </div>
</div>


<script>

$('#AlexaDevices').on('click', 'tr',function()
  {
   var value = $(this).closest('tr').find('td').first().text();

   if (value != "") {
        document.getElementById("selectedDevice").value= value;
        selectedDevice = value;
        // Set Value in Form
        document.getElementById("actDevice").innerHTML = value;
        document.getElementById("actDevice").Refresh();
      }
  });

</script>
{% endblock bodytab3 %}

{% block bodytab4 %}
<style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
</style>



<table style="width: 100%; align=left">
<th style="width: 25%; align=left">
</th>
<th style="width: 50%; align=left">
</th>
<tr>
<td valign=top>

<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
                <div class="row">
                    <div class="col" style="max-width: 100%;">
                        <div class="card">
                            <div class="card-header p-1 shng_heading">
                                <a class="float-sm-right" href="#" onclick="reloadCmds();" title="{{ _('Neu Laden' ) }}"><span id="refresh-element" class="fas fa-sync"></span></a>
                                <strong>{{ _('existing Commands') }}</strong>
                            </div>
                            <div class="card-body p-1">
                                <div class="card-text" style="">
                                    <div id="cardOverlay" class="cardOverlay">
                                        <div style="position: relative; top: 45%; left:45%;">
                                            <span id="reload-element" class="fas fa-sync fa-4x"/>
                                        </div>
                                    </div>
                                    <div id="Cmds" class="data-container refresh-data pre-scrollable" style="overflow-x: auto;">
                                    {{ cmd_list }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


</td>

<td align"=left" valign="top">


          <div class="row" align="left"  valign="top" style="margin-bottom: 15px">
          <button onclick="BtnSave()" style="margin-left : 34px" type="submit" class="btn btn-shng btn-sm"  id="btn-save"> <i class="far fa-save"></i></i>&nbsp;{{ _('Save') }}</input>
          <button onclick="BtnCheck()"style="margin-left : 5px" type="submit" class="btn btn-shng btn-sm" value="btnCheck" id="btn-check"><i class="far fa-check-square"></i></i>&nbsp;{{ _('Check Json') }}</input>
          <button onclick="BtnTest()" style="margin-left : 5px" type="submit" class="btn btn-shng btn-sm" value="btnTest" id="btn-test"><i class="far fa-play-circle"></i></i>&nbsp;{{ _('Test') }}</input>
          <button onclick="BtnDelete()" style="margin-left :5px" type="submit" class="btn btn-shng btn-sm" value="btnDelete" id="btn-delete"><i class="far fa-trash-alt"></i>&nbsp;{{ _('Delete') }}</input>

	  <button id="resultOK" style="visibility:hidden; margin-left:20px; font-size: 35px;color:green"   class="fas fa-check-circle"></button>
	  <button id="resultNOK" style="visibility:hidden; margin-left:1px; font-size: 35px;color:red"   class="fas fa-exclamation-triangle"></button>

	  <textarea type="input" style="width:350px;margin-bottom: 5px; margin-left : 5px;margin-right: 5px; height : 50px;font-size: 12px;" class="form-control" name="txtresult" id="txtresult" placeholder="{{ _('...') }}"  disabled>{{ txtResult }}</textarea><br/>


	  </div>
<form id="myForm" name="input" action="handleButtons.html" method="GET" enctype="multipart/form-data" align="left">
          <div class="row" align="left" >
          <input type="input" style="margin-bottom: 1px; margin-left: 34px; width: 90%" class="form-control" name="txtCmdName" id="txtCmdName" placeholder="{{ _('Command-Name...') }}" value=""><br/>
          </div>
          <div class="row" align="left" >
          <input type="input" style="margin-bottom: 1px; margin-left : 34px;width: 90%" class="form-control" name="txtApiUrl" id="txtApiUrl" placeholder="{{ _('API-URL (/api/..)') }}" value=""><br/>
          </div>
          <div class="row" align="left" >
          <textarea type="input" style="margin-bottom: 5px; margin-left : 34px;width: 90%; height : 80px" class="form-control" name="txtDescription" id="txtDescription" placeholder="{{ _('Description...') }}" value=""></textarea><br/>
          </div>

          <div class="row" align="left" >
          <input type="input" style="margin-bottom: 1px; margin-left : 34px;width: 90%" class="form-control" name="txtValue" id="txtValue" placeholder="{{ _('value') }}" value=""><br/>
          </div>

        <div style="width: 95%; float: left; border: 1px solid #ccc; margin-bottom: 10px; margin-right: 5px; margin-left: 20px;height:60%"> 
            <div style="margin-bottom: 10px;height: 100%">
<!--            <div title="{{ _('Hier den Ausdruck eingeben, der ausgewertet werden soll. Items können mit absolutem Pfad oder relativem Pfad angegeben werden.') }}">-->
                <div style="font-weight: bold; margin-left : 30px; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('(Payload for Api-Call in json-Format - if no Payload enter {})') }}</div>
                <textarea  style="font-size: 16px" id="txt_payload" name="txt_payload">{{ txt_payload }}</textarea>
            </div>

        </div>
        <div class="row" align="left" >
          <input style="margin-bottom: 1px; margin-left: 34px; width: 90%;visibility:hidden;" class="form-control" name="txtButton" id="txtButton" value=""><br/>
	</div>
        <div class="row" align="left" >
          <input style="margin-bottom: 1px; margin-left: 34px; width: 90%;visibility:hidden;" class="form-control" name="selectedDevice" id="selectedDevice" value="no Device selected"><br/>
    	</div>
	</div>
   
    <br>

</form>
</td>
</tr>
</table>
<script>
    reloadCmds();

     var rulers = [];
     for (var i = 1; i <= 100; i++) {
        rulers.push({color: '#eee', column: i * 4, lineStyle: "dashed"});
     }

     var myCodeMirrorPayload = CodeMirror.fromTextArea(document.getElementById("txt_payload"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: true,
        indentWithTabs: false,
        height: 300,
        name: "javascript", json: true
     });

     function resizeCodeMirrors() {
        if (!myCodeMirrorPayload.getOption("fullScreen")) {
            var browserHeight = $( window ).height();
            offsetTop = $('.CodeMirror').offset().top;
            myCodeMirrorPayload.getScrollerElement().style.maxHeight = ((-1)*(offsetTop) -300 + browserHeight)+ 'px';
            myCodeMirrorPayload.refresh();
        }

     }

     window.addEventListener("resize", resizeCodeMirrors, false);
     resizeCodeMirrors();
</script>
<script>
 $(document).ready(function() {
	  mycsrf = document.getElementById("csrfCookie").innerHTML;
	  if (mycsrf != "N/A") //N/A
	   {
    	    $('.nav-tabs a[href="#bodytab_4"]').tab('show');
	   }
	  else
	   {
	    myTest= document.getElementById("bodytab_1").innerHTML;
	   }
	   try
	     {
	    	  var otpOK = document.getElementById("pyotpAlert");
	    	  if (otpOK != null)
	    	    {
	    	      document.getElementById("BtnHandleMFA_1").disabled = true;
  	    	    console.log("OTP-Check: no-OTP disable Buttons")	    	      
	    	    }
	    	  else
	    	    {
	    	      document.getElementById("BtnHandleMFA_1").disabled = false;
  	    	    console.log("OTP-Check: OTP installed enable Buttons")	    	      	    	      
	    	    }
	     }
  	catch (e)
    	  {
    	  }
    });
</script>

{% endblock bodytab4 %}



{% block bodytab5 %}
<!--
<table class="table table-striped table-hover">
	<tbody>
    <tr>
        <td>
        	<button id="btn_clear_proto_commun" class="btn btn-shng btn-sm" name="btn_clear_proto_commun" value="on" onclick="DeleteProto(this.name)"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;delete protocol&nbsp;</button>
        </td>
        <td>
            <div class="custom-control custom-checkbox" style =" vertical-align:middle;align:left">
                <input type="checkbox" class="custom-control-input" id="proto_commun_check" name="proto_commun_check">
                <label class="custom-control-label" for="proto_commun_check">automatisch akutalisieren ( 5 Sek.)</label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
-->
<br>
<br>
<div class="container-fluid" style="overflow: none; border-left: 1px solid #ccc;height: 60%">
    <div style="margin-bottom: 10px;">
        {% if log_file %}<textarea autocomplete="off" id="log_file" name="log_file" >{% for line in log_file %}{% if not loop.last %}{{ line }}{% else %}{{ line  | replace('\n', '') }}{% endif %}{% endfor %}</textarea>{% else %}{{ _('no data available') }}{% endif %}
    </div>
</div>

<script type="text/javascript" language="javascript">


function SetCookiePic()
{
 	myImage=document.getElementsByTagName("img")[0];
	myPath = myImage.src;
	myPath = myPath.replace("plugin_logo.png","alexa_cookie_bad.png");
	myImage.src = myPath;
}
/*
$( document ).ready(function() {
  SetCookiePic()
});
*/
  



var logCodeMirror = CodeMirror.fromTextArea(document.getElementById("log_file"),
 {
    lineNumbers: true,
    mode: "{{ mode }}",
    readOnly: true,
    indentUnit: 4,
    lineSeparator: '\n',
    mode: 'ttcn',
    lineWrapping: false,
    indentWithTabs: false,
});

window.addEventListener("resize", function(){resizeCodeMirror(logCodeMirror, 10)}, false);
resizeCodeMirror(logCodeMirror, 10);
logCodeMirror.refresh();

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href") // activated tab
  if (target == "#bodytab_5")
        { logCodeMirror.refresh(); }

});

</script>

{% endblock bodytab5 %}



<!-- -->
