<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}
<div class="container">
		<br>
		<br>
        <div class="row">
            <div class="col-md-7 col-md-offset-2 panel panel-default">
				<h1 class="margin-base-vertical">
				<img src="static/img/logo_big.png" width="150" height="75">
	        	&nbsp; SmartHomeNG backend</h1>
                <p align="center">
                {{ _('Willkommen im Backend von') }} SmartHomeNG.
                </p>
				<br>
				
                <!--
                <form class="margin-base-vertical">
                    <p class="input-group">
                        <span class="input-group-addon"><span class="icon-envelope"></span></span>
                        <input type="text" class="form-control input-lg" name="email" placeholder="redaktion@linux-magazin.de" />
                    </p>
                    <p class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">Funktionsloser Button</button>
                    </p>
                    </span>
                </form>
                -->

            </div><!-- //main content -->
        </div><!-- //row -->
    </div> <!-- //container -->
{% endblock %}