{% extends "base_plugin.html" %}
{% set update_interval = 5000 %}
{% block pluginstyles %}
<style>
  table th.bit {
    width: 40px;
  }
  table th.value, th.nextvalue, th.lastvalue {
    width: 90px;
  }
  table th.interpolation {
    width: 100px;
  }
  table th.nexttime {
    width: 130px;
  }
</style>
{% endblock pluginstyles %}
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    try {
      /* get pagelength from http module or plugin. */
	    {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
      if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
      }
      else {
        resize = false;
      }
	  console.log("Webif page length " + webif_pagelength + ", pageResize: " + resize);
    }
    catch (e) {
      webif_pagelength = 100;
      resize = false;
      console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
    }
		try {
      table = $('#maintable').DataTable( {
        columnDefs: [{ "targets": [8], "className": "none"}].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength,
        pageResize: resize});
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (item in objResponse['items']) {
        planned = objResponse['items'][item]['planned']['value'];
        lastvalue = objResponse['items'][item]['lastvalue'];
        if (objResponse['items'][item]['active'] == 'True' && planned == '-') {color = 'red';}
        else if (planned == '-' || objResponse['items'][item]['active'] == 'False' ){color = 'gray';}
        else {color = 'green'}

        if (objResponse['items'][item]['depend']['item'] == null) {
          depend_text = '{{ _('Item existiert nicht!') }}';
          color = 'red';
        }
        else {
          depend_text = objResponse['items'][item]['depend']['item'] + '&nbsp;(' + objResponse['items'][item]['interpolation']['itemtype'] + ')';
        }

        if (objResponse['items'][item]['interpolation'] == undefined) {
          intpl_text = "{{ _('fehlt!') }}";
          bit_text = "{{ _('fehlt!') }}";
          color = 'red';
        }
        else {
          if (objResponse['items'][item]['interpolation']['itemtype'] == 'bool') {
            if (planned == 1) {planned = 'True';}
            else if (planned == 0) {planned = 'False';}
            if (lastvalue == 1) {lastvalue = 'True';}
            else if (lastvalue == 0) {lastvalue = 'False';}
          }
          if (objResponse['items'][item]['interpolation']['initage'] === '') {
            bit_text = '0';
          }
          else {
            bit_text = objResponse['items'][item]['interpolation']['initage'];
          }
          if (objResponse['items'][item]['interpolation']['interval'] == '' || objResponse['items'][item]['interpolation']['interval'] == undefined) {
            if (objResponse['items'][item]['interpolation']['type'] == 'none') {
              interval = '';
            }
            else {
              interval = ' (<span style="color: gray;">5</span>)';
            }
          }
          else {
            if (objResponse['items'][item]['interpolation']['type'] == 'none') {
              interval = '';
            }
            else {
            interval = ' (' + objResponse['items'][item]['interpolation']['interval'] + ')';
            }
          }
          intpl_text = objResponse['items'][item]['interpolation']['type'] + interval;
          if (objResponse['items'][item]['sun'] == undefined) {
            sunrise_text = '';
            sunset_text = '';
          }
          else {
            sunrise_text = '';
            sunset_text = '';
            entries_rise = objResponse['items'][item]['sun']['sunrise'];
            entries_set = objResponse['items'][item]['sun']['sunset'];

            dict_length = Object.keys(entries_rise).length;
            for (let i = 0; i < dict_length; i++) {
              sunrise_text += Object.keys(entries_rise)[i] + ': ';
              sunrise_text += Object.values(entries_rise)[i]
              sunset_text += Object.keys(entries_set)[i] + ': ';
              sunset_text += Object.values(entries_set)[i]
              if (i < dict_length - 1) {
                sunrise_text += ', ';
                sunset_text += ', ';
              }

            }
          }
        }
        $('#' + $.escapeSelector(item)).css({'color': color});
        shngInsertText (item+'_interpolation', intpl_text, 'maintable', 10);
        shngInsertText (item+'_backintime', bit_text, 'maintable', 10);
        shngInsertText (item+'_dict', objResponse['items'][item]['dict'], 'maintable');
        shngInsertText (item+'_dependvalue', objResponse['items'][item]['depend']['value'], 'maintable', 10);
        shngInsertText (item+'_nextvalue', planned, 'maintable', 10);
        if (objResponse['items'][item]['planned']['time'] == '-')
          shngInsertText (item+'_nexttime', '-', 'maintable', 10);
        else
          shngInsertText (item+'_nexttime', '&#x202a;'+objResponse['items'][item]['planned']['time']+'&#x202c;', 'maintable', 10);
        shngInsertText (item+'_dependitem', depend_text, 'maintable');
        shngInsertText (item+'_lastvalue', lastvalue, 'maintable', 10);
        shngInsertText ('sunrise', sunrise_text, null, 2);
        shngInsertText ('sunset', sunset_text, null, 2);
			}
		}
	}
</script>

{% endblock pluginscripts %}
{% set logo_frame = false %}

{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% set tabcount = 1 %}

{% block headtable %}
{% set sun = namespace() %}
{% set sun.sunrise_text = '' %}
{% set sun.sunset_text = '' %}
{% set entries_rise = p._webdata['sunCalculated']['sunrise'] %}
{% set entries_set = p._webdata['sunCalculated']['sunset'] %}
{% for i in entries_rise %}
  {% set sun.sunrise_text = sun.sunrise_text ~ i ~ ': ' %}
  {% set sun.sunrise_text = sun.sunrise_text ~ p._webdata['sunCalculated']['sunrise'][i] %}
  {% set sun.sunset_text = sun.sunset_text ~ i ~ ': ' %}
  {% set sun.sunset_text = sun.sunset_text ~ p._webdata['sunCalculated']['sunset'][i] %}
  {% if not loop.last %}
    {% set sun.sunrise_text = sun.sunrise_text ~ ', ' %}
    {% set sun.sunset_text = sun.sunset_text ~ ', ' %}
  {% endif %}
{% endfor %}
<table class="table table-striped table-hover" style="min-width:550px;">
  <tbody>
    <tr>
      <td class="py-1"><strong>{{ _('Sonnenaufgang') }}</strong><br>
        <span id="sunrise">{{ sun.sunrise_text }}</span></td>
    </tr>
    <tr>
    <td class="py-1"><strong>{{ _('Sonnenuntergang') }}</strong><br>
    <span id="sunset">{{ sun.sunset_text }}</span></td>
    </tr>
    <tr>
      <td class="py-1"><strong>Items</strong>: {{ item_count }}</td>
    </tr>

  </tbody>
</table>
{% endblock headtable %}

{% block bodytab1 %}
<div class="container-fluid m-2 table-resize">
  <div class="mb-2">

    {{ _('Die folgenden Items sind dem UZSU Plugin zugewiesen') }}.
  </div>
  <table id="maintable">
    <thead>
    <tr>
      <th></th>
      <th>{{ _('UZSU Item') }}</th>
      <th>{{ _('Abhängige Items (mit Typ)') }}</th>
      <th class="value">{{ _('Wert') }}</th>
      <th class="nextvalue">{{ _('Nächster Wert') }}</th>
      <th class="nexttime">{{ _('Nächstes Update') }}</th>
      <th class="lastvalue">{{ _('Letzter Wert') }}</th>
      <th class="interpolation">{{ _('Interpolation (Intervall)') }}</th>
      <th class="bit">{{ _('Init') }}</th>
      <th>{{ _('Dictionary') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in p._webdata['items'] %}
        {% set planned = p._webdata['items'][item]['planned']['value'] %}
        {% if (p._webdata['items'][item]['active'] == 'True' and planned == '-') or
            p._webdata['items'][item]['interpolation'] is not defined or p._webdata['items'][item]['interpolation']['itemtype'] == none %}
          {% set color = 'red' %}
        {% elif p._webdata['items'][item]['planned'] == '-' or p._webdata['items'][item]['active'] == 'False' %}
          {% set color = 'gray' %}
        {% else %}
          {% set color = 'green' %}
        {% endif %}
        <tr id="{{ item }}" style="color: {{ color }}">
          <td></td>
          <td class="py-1" id="{{ item }}_path">{{ item }}</td>
          <td class="py-1" id="{{ item }}_dependitem">
            {% if p._webdata['items'][item]['interpolation'] is not defined %}

            {% elif p._webdata['items'][item]['interpolation']['itemtype'] == none %}
              {{ _('Item existiert nicht!') }}
            {% else %}{{ p._webdata['items'][item]['depend']['item'] }}&nbsp;({{ p._webdata['items'][item]['interpolation']['itemtype'] }})
            {% endif %}
          </td>
            <td class="py-1" id="{{ item }}_dependvalue">
              {% if p._webdata['items'][item]['depend']['value'] is defined %}
                {{ p._webdata['items'][item]['depend']['value'] }}
              {% endif %}
            </td>
            <td class="py-1" id="{{ item }}_nextvalue">
              {{ p._webdata['items'][item]['planned']['value'] }}
            </td>
            <td class="py-1" id="{{ item }}_nexttime">
              {% if p._webdata['items'][item]['planned']['time'] == '-' %}
              -
              {% else %}
                &#x202a;{{ p._webdata['items'][item]['planned']['time'] }}&#x202c;
              {% endif %}
            </td>
            <td class="py-1" id="{{ item }}_lastvalue">
                {{ p._webdata['items'][item]['lastvalue'] }}
            </td>
            <td class="py-1" id="{{ item }}_interpolation">
              {% if p._webdata['items'][item]['interpolation'] is not defined %}
                {{ _('fehlt!') }}
              {% elif p._webdata['items'][item]['interpolation']['type'] %}
                {{ p._webdata['items'][item]['interpolation']['type'] }}
                {% if p._webdata['items'][item]['interpolation']['type'] != 'none' and p._webdata['items'][item]['interpolation']['interval'] %}
                  ({{ p._webdata['items'][item]['interpolation']['interval'] }})
                {% endif %}
              {% else %}-
              {% endif %}
            </td>
            <td class="py-1" id="{{ item }}_backintime">
              {% if p._webdata['items'][item]['interpolation'] is not defined %}
                {{ _('fehlt!') }}
              {% elif p._webdata['items'][item]['interpolation']['initage'] is defined %}
                {{ p._webdata['items'][item]['interpolation']['initage'] }}
              {% else %}-
              {% endif %}
            </td>
            <td id="{{ item }}_dict">
              {{ p._webdata['items'][item]['dict'] }}
            </td>

    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock bodytab1 %}
