{% extends "base_plugin.html" %}
{% set update_interval = 2000 %}
{% block pluginstyles %}
<style>
  table th.bit {
    width: 40px;
  }
  table th.value, th.nextvalue, th.lastvalue {
    width: 90px;
  }
  table th.interpolation {
    width: 100px;
  }
  table th.nexttime {
    width: 130px;
  }
  #maintable {
     display: none;
     table-layout: fixed;
  }
</style>
{% endblock pluginstyles %}
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    try {
      /* get pagelength from plugin. Also see hidden span element in bodytab1 block! */
      webif_pagelength = parseInt(document.getElementById('webif_pagelength').innerHTML);
      if (webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
      }
      else {
        resize = false;
      }
    }
    catch (e) {
      webif_pagelength = 100;
      resize = false;
      console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
    }
		try {
      table = $('#maintable').DataTable( {
        columnDefs: [{ "targets": [8], "className": "none"}].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength,
        pageResize: resize});
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (item in objResponse) {
        planned = objResponse[item]['planned']['value'];
        lastvalue = objResponse[item]['lastvalue'];
        if (objResponse[item]['active'] == 'True' && planned == '-') {color = 'red';}
        else if (planned == '-'){color = 'gray';}
        else {color = 'green'}

        if (objResponse[item]['depend']['item'] == null) {
          depend_text = '{{ _('Item existiert nicht!') }}';
          color = 'red';
        }
        else {
          depend_text = objResponse[item]['depend']['item'] + '&nbsp;(' + objResponse[item]['interpolation']['itemtype'] + ')';
        }

        if (objResponse[item]['interpolation'] == undefined) {
          intpl_text = "{{ _('fehlt!') }}";
          bit_text = "{{ _('fehlt!') }}";
          color = 'red';
        }
        else {
          if (objResponse[item]['interpolation']['itemtype'] == 'bool') {
            if (planned == 1) {planned = 'True';}
            else if (planned == 0) {planned = 'False';}
            if (lastvalue == 1) {lastvalue = 'True';}
            else if (lastvalue == 0) {lastvalue = 'False';}
          }
          if (objResponse[item]['interpolation']['initage'] == '') {
            bit_text = '0';
          }
          else {
            bit_text = objResponse[item]['interpolation']['initage'];
          }
          if (objResponse[item]['interpolation']['interval'] == '' || objResponse[item]['interpolation']['interval'] == undefined) {
            if (objResponse[item]['interpolation']['type'] == 'none') {
              interval = '';
            }
            else {
              interval = ' (<span style="color: gray;">5</span>)';
            }
          }
          else {
            if (objResponse[item]['interpolation']['type'] == 'none') {
              interval = '';
            }
            else {
            interval = ' (' + objResponse[item]['interpolation']['interval'] + ')';
            }
          }
          intpl_text = objResponse[item]['interpolation']['type'] + interval;
          if (objResponse[item]['sun'] == undefined) {
            sunrise_text = '';
            sunset_text = '';
          }
          else {
            sunrise_text = '';
            sunset_text = '';
            entries_rise = objResponse[item]['sun']['sunrise'];
            entries_set = objResponse[item]['sun']['sunset'];

            dict_length = Object.keys(entries_rise).length;
            for (let i = 0; i < dict_length; i++) {
              sunrise_text += Object.keys(entries_rise)[i] + ': ';
              sunrise_text += Object.values(entries_rise)[i]
              sunset_text += Object.keys(entries_set)[i] + ': ';
              sunset_text += Object.values(entries_set)[i]
              if (i < dict_length - 1) {
                sunrise_text += ', ';
                sunset_text += ', ';
              }

            }
          }
        }
        $('#' + $.escapeSelector(item)).css({'color': color});
        shngInsertText (item+'_interpolation', intpl_text, 'maintable', 10);
        shngInsertText (item+'_backintime', bit_text, 'maintable', 10);
        shngInsertText (item+'_dict', objResponse[item]['dict'], 'maintable');
        shngInsertText (item+'_dependvalue', objResponse[item]['depend']['value'], 'maintable', 10);
        shngInsertText (item+'_nextvalue', planned, 'maintable', 10);
        shngInsertText (item+'_nexttime', '&#x202a;'+objResponse[item]['planned']['time']+'&#x202c;', 'maintable', 10);
        shngInsertText (item+'_dependitem', depend_text, 'maintable');
        shngInsertText (item+'_lastvalue', lastvalue, 'maintable', 10);
        shngInsertText ('sunrise', sunrise_text, null, 2);
        shngInsertText ('sunset', sunset_text, null, 2);
			}
		}
	}
</script>

{% endblock pluginscripts %}
{% set logo_frame = false %}

{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% set tabcount = 1 %}

{% block headtable %}
<span id='webif_pagelength' style="display:none">{{ webif_pagelength }}</span>
<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1"><strong>{{ _('Sonnenaufgang') }}</strong><br>
        <span id="sunrise">...</span></td>
      <td class="py-1"><strong>{{ _('Sonnenuntergang') }}</strong><br>
      <span id="sunset">...</span></td>
    </tr>
    <tr>
      <td class="py-1" colspan="2"><strong>Items</strong>: {{ item_count }}</td>
    </tr>

  </tbody>
</table>
{% endblock headtable %}


{% block bodytab1 %}
<div class="container-fluid m-2 table-resize dataTableAdditional">
  <div class="mb-2">

    {{ _('Die folgenden Items sind dem UZSU Plugin zugewiesen') }}.
  </div>
  <table id="maintable" class="table table-striped table-hover pluginList">
    <thead>
    <tr>
      <th>{{ _('UZSU Item') }}</th>
      <th>{{ _('Abhängige Items (mit Typ)') }}</th>
      <th class="value">{{ _('Wert') }}</th>
      <th class="nextvalue">{{ _('Nächster Wert') }}</th>
      <th class="nexttime">{{ _('Nächstes Update') }}</th>
      <th class="lastvalue">{{ _('Letzter Wert') }}</th>
      <th class="interpolation">{{ _('Interpolation (Intervall)') }}</th>
      <th class="bit">{{ _('Init') }}</th>
      <th>{{ _('Dictionary') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in p._webdata %}
          <tr id="{{ item }}">
            <td class="py-1" id="{{ item }}_path">{{ item }}</td>
            <td class="py-1" id="{{ item }}_dependitem">
              {{ _('Initialisiere...') }}
            </td>
              <td class="py-1" id="{{ item }}_dependvalue">
                ...
              </td>
              <td class="py-1" id="{{ item }}_nextvalue">
                ...
              </td>
              <td class="py-1" id="{{ item }}_nexttime">
                ...
              </td>
              <td class="py-1" id="{{ item }}_lastvalue">
                ...
              </td>
              <td class="py-1" id="{{ item }}_interpolation">
                ...
              </td>
              <td class="py-1" id="{{ item }}_backintime">
                ...
              </td>
              <td id="{{ item }}_dict">
                ...
              </td>

    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock bodytab1 %}
