{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional styles go into this block. Examples are for datatables
-->
{% block pluginstyles %}
<style>
  table th.value {
    width: 100px;
  }
  /*
  These are used for highligt effect in web interface when a value changes. If you don't want to overwrite the
  default color, you can remove the entries here as the classes are already defined in smarthomeng.css
  */
  .shng_effect_highlight {
    background-color: #FF0000;
  }
  .shng_effect_standard {
    background-color: #00FF00;
  }
</style>
{% endblock pluginstyles %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (item in objResponse) {
			/*
        Parameters for shngInsertText:
          0: mandatory, ID of the HTML element, e.g. the table cell
          1: mandatory, Value to be written - taken from the objResponse dict
          2: optional, If element of parameter 0 is in a (data)table, the ID of the table has to be put here
          3: optional, If you want a visual highlight effect when a value changes, provide the duration in seconds.
				shngInsertText (item+'_value', objResponse[item]['value'], 'maintable', 5);
				*/
			}
		}
	}
</script>
<!--
	This part is used to implement datatable JS for the tables. It allows resorting tables by column, etc.
	For each table you have to implement the code part $('#<table_id>').DataTable(..); where the <table_id> matches the id of a table tag
-->
<script>
    $(document).ready( function () {
			/*
			loading defaults from /modules/http/webif/gstatic/datatables/datatables.defaults.js
			You can copy that file, put it in your plugin directory, rename the "bind" function and
			trigger that function here instead of datatables_defaults if you want to change the behaviour.
			Of course you can also overwrite defaults by putting the option declarations in {} below.
			*/
			$(window).trigger('datatables_defaults');
      try {
        /* get pagelength from plugin. Also see hidden span element in headtable block! */
        webif_pagelength = parseInt(document.getElementById('webif_pagelength').innerHTML);
        if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
          resize = true;
          webif_pagelength = -1;
  				console.log('Activating automatic table resize');
        }
        else {
          resize = false;
        }
      }
      catch (e) {
        webif_pagelength = 100;
        resize = false;
        console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
      }
      try {
        /*
        Copy this part for every datatable on your page. Adjust options if necessary.
        pageLength and pageResize should be included as they are to adjust it based on the plugin settings
        */
        table = $('#maintable').DataTable( {
          /* If you want to define your own columnDefs options (e.g. for hiding a column by default), use the concat function shown here.
          columnDefs: [{ "targets": [8], "className": "none"}].concat($.fn.dataTable.defaults.columnDefs),
          */
          pageLength: webif_pagelength,
          pageResize: resize});
      }
      catch (e) {
        console.warn("Datatable JS not loaded, showing standard table without reorder option " + e);
      }
    });
</script>
<!--
This is an example on how to update the page refresh method. You can set the dataSet, update interval, special parameters or (de)activate the auto refresh
In the example the update is deactivated on the 12th of December 2022 (what might make no sense at all)
<script>
  var today = new Date();
  var today_date = String(today.getDate()) + String(today.getMonth() + 1) + today.getFullYear();
  let test_date = "12122022";
  if (today_date === test_date)
      window.refresh.update({dataSet:'test', update_params:'specialitem', update_interval: 2000, update_active:false});
  </script>
-->
{% endblock pluginscripts %}


{% block headtable %}
<!--
	This span needs to be put somewhere on the page to read the table pagelength from the plugin / users' plugin.yaml
-->
<span id='webif_pagelength' style="display:none">{{ webif_pagelength }}</span>

<table class="table table-striped table-hover pluginList">
	<tbody>
		<tr>
			<td class="py-1" width="150px"><strong>GPIO-Pin:</strong></td>
			<td class="py-1">{{ p._gpio}}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>Send Duration:</strong></td>
			<td class="py-1">{{ p._send_duration }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<div>
		<button id="btn1" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {learn: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button>
	</div>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 6)
-->
{% set tabcount = 1 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 1 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
	{{ _('Die folgenden Items sind dieser Instanz des rcs1000n Plugins zugewiesen') }}:
</div>

<div>
<table class="table table-striped table-hover pluginList" style="width:80%">
	<thead>
	<tr>
		<th style="width:50%">{{ _('Item') }}</th>
		<th style="width:10%">{{ _('SystemCode') }}</th>
		<th style="width:10%">{{ _('ButtonCode') }}</th>
		<th style="width:10%" class="value">{{ _('Wert') }}</th>

	</tr>
	</thead>
	<tbody>
			{% for item in items %}
				<tr>
				  <td class="py-1" id="{{ item._path }}">{{ item.path }}</td>
				  <td class="py-1" id="{{ item._SystemCode }}">{{ item.SystemCode }}</td>
				  <td class="py-1" id="{{ item._ButtonCode }}">{{ item.ButtonCode }}</td>
				  <td class="py-1" id="{{ item._value }}">{{ item.value }}</td>
				</tr>
			{% endfor %}
		</tbody>
</table>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface

{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong> (" ~ device_count ~ ")" %}
{% block bodytab2 %}
{% endblock bodytab2 %}
-->

<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab3

{% block bodytab3 %}
{% endblock bodytab3 %}
-->

<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4

{% block bodytab4 %}
{% endblock bodytab4 %}
-->