{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				/*
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				*/
			}
		}
	}
</script>
<!--
	This part is used to implement datatable JS for the tables. It allows resorting tables by column, etc.
	For each table you have to implement the code part $('#<table_id>').DataTable(..); where the <table_id> matches the id of a table tag
-->
<script>
    $(document).ready( function () {
		try 
			{	
			$('#maintable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );	
            $('#sensortable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sysitems').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sensoritems').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sensordata').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
			}
		catch (e) 
			{
			console.log("Datatable JS not loaded, showing standard table without reorder option")
			}					
        });
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Class</strong></td>
			<td class="py-1">{{ p.get_shortname() }}</td>
            <td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Sensors connected</strong></td>
			<td class="py-1">{{ len(p._sensordata) }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Cycle</strong></td>
			<td class="py-1">{{ p.cycle }}</td>
            <td></td>
            <td class="py-1"><strong>Items connected</strong></td>
			<td class="py-1">{{ len(p.sensoritems) }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Pfad</strong></td>
			<td class="py-1">{{ p.dirname }}</td>
            <td></td>
            <td></td>
            <td></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
    <div>
        <button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Wollen Sie die Sensoren aktualisieren?') }}')) { jQuery.get('update_sensors'); }">{{ _('Update Sensors') }}</button>
		<!-- <button id="btn1" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {learn: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button> -->
	</div>
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 6)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if len(p.sensoritems)==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> " %}
{% block bodytab1 %}
<div class="container-fluid m-2">
	<table id="maintable" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('Item') }}</th>
              <th>{{ _('Typ') }}</th>
              <th>{{ _('Sensor_ID') }}</th>
			  <th>{{ _('Wert') }}</th>
              <th>{{ _('Aktualisiert') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for sensor in p.sensoritems %}
				<tr>
				  <td class="py-1">{{ p.sensoritems[sensor]._path }}</td>
                  <td class="py-1">{{ p.sensoritems[sensor]._type }}</td>
				  <td class="py-1">{{ sensor }}</td>
                  <td class="py-1">{{ p.sensoritems[sensor]._value }}</td>
                  <td class="py-1">{{ p.sensoritems[sensor].property.last_update }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Sensoren</strong> " %}
{% block bodytab2 %}
<div class="container-fluid m-2">
	<table id="sensortable" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
                <th>{{ _('Sensor_ID') }}</th>
                <th>{{ _('Sensor-Typ') }}</th>
                <th>{{ _('Wert') }}</th>
                <th>{{ _('Connected Item') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for sensor in p._sensordata %}
				<tr>
                    <td class="py-1">{{ sensor }}</td>
                    <td class="py-1">{{ p._sensordata[sensor]['sensortype'] }}</td>
                    <td class="py-1">{{ p._sensordata[sensor]['value'] }}</td>
                    {% if p.sensoritems[sensor]%}
                        <td class="py-1">{{ p.sensoritems[sensor]._path }}</td>
                    {% else %}
                        <td class="py-1">{{ '-' }}</td>
                    {% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock bodytab2 %}


{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Maintenance</strong> " %}
{% block bodytab3 %}
<div class="container-fluid m-2">
	<table id="sysitems" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "sysitems"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.sysitems }}</td>
            </tr>
		</tbody>
	</table>
    <table id="sensoritems" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "sensoritems"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.sensoritems }}</td>
            </tr>
		</tbody>
	</table>
    <table id="sensordata" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "_sensordata"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p._sensordata }}</td>
            </tr>
		</tbody>
	</table>
</div>
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}
