# not updated since 2022 but still in use:
rrdtool>=0.1.16

# Spiritual successor to python-rrdtool as above:
#rrdtool-bindings

# see https://pypi.org/project/rrdtool-bindings/ for additional installation requirements
# needs Python >= 3.10 

