{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 2000 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var item in objResponse['item_values']) {
				shngInsertText (item+'_value', objResponse['item_values'][item]['value']);
				shngInsertText (item+'_last_update', objResponse['item_values'][item]['last_update']);
				shngInsertText (item+'_last_change', objResponse['item_values'][item]['last_change']);
			}
			shngInsertText ('broker_uptime', objResponse['broker_uptime']);

			shngInsertText ('version', objResponse['broker_info']['version']);
			shngInsertText ('active_clients', objResponse['broker_info']['active_clients']);
			shngInsertText ('subscriptions', objResponse['broker_info']['subscriptions']);
			shngInsertText ('stored_messages', objResponse['broker_info']['stored_messages']);
			shngInsertText ('retained_messages', objResponse['broker_info']['retained_messages']);

			shngInsertText ('msg_rcv_1min', objResponse['broker_info']['msg_rcv_1min']);
			shngInsertText ('msg_rcv_5min', objResponse['broker_info']['msg_rcv_5min']);
			shngInsertText ('msg_rcv_15min', objResponse['broker_info']['msg_rcv_15min']);
			shngInsertText ('msg_snt_1min', objResponse['broker_info']['msg_snt_1min']);
			shngInsertText ('msg_snt_5min', objResponse['broker_info']['msg_snt_5min']);
			shngInsertText ('msg_snt_15min', objResponse['broker_info']['msg_snt_15min']);

		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td class="py-1"><strong>{{_('Broker Host')}}</strong></td>
				<td class="py-1">{{ p.broker_config.host }}</td>
				<td class="py-1" width="50px"></td>
				<td class="py-1"><strong>{{_('Broker Port')}}</strong></td>
				<td class="py-1">{{ p.broker_config.port }}</td>
				<td class="py-1" width="50px"></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('Benutzer')}}</strong></td>
				<td class="py-1">{{ p.broker_config.user }}</td>
				<td></td>
				<td class="py-1"><strong>{{_('Passwort')}}</strong></td>
				<td class="py-1">
				{% if p.broker_config.password %}
					{% for letter in p.broker_config.password %}*{% endfor %}
				{% endif %}
				</td>
				<td></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('QoS')}}</strong></td>
				<td class="py-1">{{ p.broker_config.qos }}</td>
				<td></td>
				<td class="py-1"><strong>{{_('')}}</strong></td>
				<td class="py-1">{{ '' }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p.shelly_items == [] %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}
{% block bodytab1 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>{{ _('Item') }}</th>
		<th>{{ _('Typ') }}</th>
		<th>{{ _('Wert') }}</th>
		<th>{{ _('Shelly Device') }}</th>
		<th>{{ _('Shelly ID') }}</th>
		<th>{{ _('Relais') }}</th>
		<th>{{ _('Letztes Update') }}</th>
		<th>{{ _('Letzter Change') }}</th>
	</tr>
	</thead>
	{% for item in p.shelly_items %}
		<tr>
			<td class="py-1">{{ item._path }}</td>
			<td class="py-1">{{ item._type }}</td>
			<td id="{{ item.id() }}_value" class="py-1">{{ item() }}</td>
			<td class="py-1">{{ p.get_iattr_value(item.conf, 'shelly_type') }}</td>
			<td class="py-1">{{ p.get_iattr_value(item.conf, 'shelly_id') }}</td>

			<td class="py-1">{% if p.shelly_relay %}{{ p.get_iattr_value(item.conf, 'shelly_relay') }}{% else %}0{% endif %}</td>
			<td id="{{ item.id() }}_last_update" class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
			<td id="{{ item.id() }}_last_change" class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Devices</strong>" %}
{% block bodytab2 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>{{ _('Shelly ID') }}</th>
		<th>{{ _('Online') }}</th>
		<th>{{ _('Mac Adresse') }}</th>
		<th>{{ _('IP Adresse') }}</th>
		<th>{{ _('Firmware Version') }}</th>
		<th>{{ _('neue Firmware') }}</th>
		<th>{{ _('konfiguriert') }}</th>
	</tr>
	</thead>
	{% for device in p.shelly_devices %}
		<tr>
			<td class="py-1"><a class="text-shng" href="http://{{ p.shelly_devices[device].ip }}" target="_blank">{{ device }}</a></td>
			<td class="py-1">{{ p.shelly_devices[device].online }}</td>
			<td class="py-1">{{ p.shelly_devices[device].mac }}</td>
			<td class="py-1">{{ p.shelly_devices[device].ip }}</td>
			<td class="py-1">{{ p.shelly_devices[device].fw_ver }}</td>
			<td class="py-1">{{ p.shelly_devices[device].new_fw }}</td>

			<td class="py-1">{{ p.shelly_devices[device].connected_to_item }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}


<!--
	Content block for the third tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ " Broker Information</strong>" %}
{% block bodytab3 %}
<table class="table table-striped table-hover pluginList">
	<tr>
		<td class="py-1"><strong>{{ 'Broker Version' }}</strong></td>
		<td id="version" class="py-1">{{ p._broker.version }}</td>
		<td class="py-1">{{ connection_result }}</td>
<!--
        <td width="500"></td>
-->
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Active Clients' }}</strong></td>
		<td id="active_clients" class="py-1">{{ p._broker.active_clients }}</td>
        <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Subscriptions' }}</strong></td>
		<td id="subscriptions" class="py-1">{{ p._broker.subscriptions }}</td>
        <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Messages stored' }}</strong></td>
		<td id="stored_messages" class="py-1">{{ p._broker.stored_messages }}</td>
        <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Retained Messages' }}</strong></td>
		<td id="retained_messages" class="py-1">{{ p._broker.retained_messages }}</td>
        <td></td>
	</tr>
	{% if p.broker_monitoring %}
	<tr>
		<td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ _('Laufzeit') }}</strong></td>
		<td id="broker_uptime" class="py-1">{{ p.broker_uptime() }}</td>
        <td width="500"></td>
	</tr>
	<tr>
		<td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
	</tr>
	{% endif %}
</table>

{% if p.broker_monitoring %}
<table class="table table-striped table-hover pluginList">
	<thead>
		<th class="py-1">{{ _('Message Durchsatz') }}</th>
		<th class="py-1">{{ _('letzte Minute') }}</th>
		<th class="py-1">{{ _('letzte 5 Min.') }}</th>
		<th class="py-1">{{ _('letzte 15 Min.') }}</th>
		<th width="500"></th>
	</thead>
	<tr>
		<td class="py-1">{{ _('Durchschnittlich Messages je Minute empfangen') }}</td>
		<td id="msg_rcv_1min" class="py-1">{{ p._broker.msg_rcv_1min }}</td>
		<td id="msg_rcv_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_5min }}</td>
		<td id="msg_rcv_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_15min }}</td>
		<td></td>
	</tr>
	<tr>
		<td class="py-1">{{ _('Durchschnittlich Messages je Minute gesendet') }}</td>
		<td id="msg_snt_1min" class="py-1">{{ p._broker.msg_snt_1min }}</td>
		<td id="msg_snt_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_5min }}</td>
		<td id="msg_snt_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_15min }}</td>
		<td></td>
	</tr>
</table>
{% endif %}

{% endblock %}
msg_rcv_1min

<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab3
-->
{% block bodytab4 %}
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>Item</th>
		<th>Typ</th>
		<th>Wert</th>
		<th>Topic In</th>
		<th>Letztes Update</th>
		<th>Letzter Change</th>
	</tr>
	</thead>
	{% for item in items %}
		{% if p.has_iattr(item.conf, 'mqtt_topic_in') or p.has_iattr(item.conf, 'mqtt_topic_out') %}
			<tr>
				<td class="py-1">{{ item._path }}</td>
				<td class="py-1">{{ item._type }}</td>
				<td class="py-1">{{ item() }}</td>
				<td class="py-1">{% if p.has_iattr(item.conf, 'mqtt_topic_in') %}{{ p.get_iattr_value(item.conf, 'mqtt_topic_in') }}{% endif %}</td>
				<td class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
				<td class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock %}


