<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid m-3">
	<div style="margin-right: 2px;" class="row">
		<div class="card col-sm-2">
			<img src="static/img/plugin_logo.png" width="150" height="150" style="margin-left: auto; margin-right: auto; display: block;">
		</div>
		<div class="col-sm-3">
			<h3>SmartHomeNG</h3>
			<h5>{{ p.get_shortname() }} Plugin v{{ p.get_version() }}</h5>
			{% if p.get_instance_name() != '' %}
                <h5>Instanz: {{ p.get_instance_name() }}</h5>
            {% else %}
                <br/>
            {% endif %}
		</div>
		<div class="col-sm-7">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td class="py-1"><strong>Verbunden</strong></td>
						<td class="py-1">Ja</td>
						<td class="py-1" width="300px"></td>
						<td></td>
					</tr>
                    <tr>
						<td class="py-1"><strong>Mode</strong></td>
						<td class="py-1">
                            {% if p._mode == 'all' %}
                            Alle Items
                            {% else %}
                            Nur in Sets definierte Items
                            {% endif %}
                        </td>
						<td class="py-1" width="300px"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container-fluid">
        <div class="card" style="padding: 20px;">
            <div>
                The following items can be accessed by the REST and the Simple WebService interface:
                <br/>
                <table>
                    <tr style="border-bottom: 1px solid grey;">
                        <th>
                            REST
                        </th>
                        <th>
                            Simple
                        </th>
                    </tr>
                    {% for key, value in item_sets.items() %}
                    <tr>
                        <td style="border-bottom: 1px solid #ccc; padding: 5px; font-weight:bold;"><a class="text-shng" href="http://{{ip}}:{{servicesport}}/rest/itemset/{{key}}/">Item-Set: {{key}}</a></td>
                        <td style="border-bottom: 1px solid #ccc; padding: 5px; font-weight:bold;"><a class="text-shng" href="http://{{ip}}:{{servicesport}}/ws/itemset/{{key}}/">Item-Set: {{key}}</a></td>
                    </tr>
                         {% for item in value %}
                            <tr>
                                <td>
                                    <a class="text-shng" href="http://{{ip}}:{{servicesport}}/rest/items/{{item._path}}/">{{item._path}}</a>
                                </td>
                                <td>
                                    <a class="text-shng" href="http://{{ip}}:{{servicesport}}/ws/items/{{item._path}}/">{{item._path}}</a>
                                </td>
                            </tr>
                         {% endfor %}
                    {% endfor %}
                    <tr>
                        <td style="border-bottom: 1px solid #ccc; padding: 5px; font-weight:bold;"><a class="text-shng" href="http://{{ip}}:{{servicesport}}/rest/items/">All Accessible Items</a></td>
                        <td style="border-bottom: 1px solid #ccc; padding: 5px; font-weight:bold;"><a class="text-shng" href="http://{{ip}}:{{servicesport}}/ws/items/">All Accessible Items</a></td>
                    </tr>
                    {% for item in item_data %}
                    <tr>
                        <td>
                            <a class="text-shng" href="http://{{ip}}:{{servicesport}}/rest/items/{{item._path}}/">{{item._path}}</a>
                        </td>
                        <td>
                            <a class="text-shng" href="http://{{ip}}:{{servicesport}}/ws/items/{{item._path}}/">{{item._path}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div><!-- //main content -->
</div> <!-- //container -->
{% endblock %}