{% extends "base_plugin.html" %}
{% set logo_frame = false %}
{% if tr064_item_count > 0 %}
    {% set update_interval = [(((10 * (tr064_item_count)) / 1000) | round | int) * 1000, 5000]|max %}
{% else %}
    {% set update_interval = 5 %}
{% endif %}

{% block pluginstyles %}
<style>
  table th.item {
    width: 400px;
  }
  table th.type {
    width: 75px;
    }
  table th.cycle {
    width: 50px;
    }
  table th.datetime {
    width: 160px;
    }
  table th.update {
    width: 100px;
    }
  table th.datatype {
    width: 150px;
  }
  table th.value {
    width: 250px;
  }
  table th.no {
    width: 50px;
  }
  table th.ain {
    width: 200px;
  }
  table th.logtype {
    width: 100px;
  }
  .logentry {
    max-width: 450px;
  }
  .items {
    max-width: 400px;
  }
  .shng_effect_highlight {
    background-color: #FFFFE0;
  }
  .shng_effect_standard {
    background-color: none;
  }
</style>
{% endblock pluginstyles %}

{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    
    try {
      webif_pagelength = parseInt(document.getElementById('webif_pagelength').innerHTML);
      console.log("webif_pagelength " + webif_pagelength)
      if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
  	    console.log('Activating automatic table resize');
      }
      else {
        resize = false;
      }
    }
    catch (e) {
      webif_pagelength = 100;
      resize = false;
      console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
    }
    
    try {
      itemtable = $('#itemtable').DataTable( {
        pageLength: webif_pagelength,
        pageResize: resize
        } );
        console.log("Init itemtable for page length " + webif_pagelength + ", pageResize: " + resize);
      smarthomeitemtable = $('#smarthomeitemtable').DataTable( {
        pageLength: webif_pagelength,
        pageResize: resize
        } );
        console.log("Init smarthomeitemtable for page length " + webif_pagelength + ", pageResize: " + resize);
      logtable = $('#logtable').DataTable( {
        pageLength: webif_pagelength,
        order: [[ 0, 'desc' ]],
        columnDefs: [{ "targets": [2], "className": "truncate logentry"}].concat($.fn.dataTable.defaults.columnDefs),
        pageResize: resize
        } );
        console.log("Init logtable for page length " + webif_pagelength + ", pageResize: " + resize);
      call_monitortable = $('#call_monitortable').DataTable( {
        pageLength: webif_pagelength,
        pageResize: resize
        } );
        console.log("Init call_monitortable for page length " + webif_pagelength + ", pageResize: " + resize);
      smarthome_devicetable = $('#smarthome_devicetable').DataTable( {
        pageLength: -1,
        pageResize: resize
        } );
        console.log("Init smarthome_devicetable for page length -1, pageResize: " + resize);
      maintenance_table = $('#maintenance_table').DataTable( {
        pageLength: -1,
        pageResize: resize
        } );
        console.log("Init maintenance_table for page length -1, pageResize: " + resize);
    }
    catch (e) {
        console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }
  });
</script>
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
            
			for (var item in objResponse['tr064_items']) {
                shngInsertText (item+'_tr064_value', objResponse['tr064_items'][item]['value'], 'itemtable', 5);
				shngInsertText (item+'_tr064_last_update', objResponse['tr064_items'][item]['last_update'], 'itemtable');
				shngInsertText (item+'_tr064_last_change', objResponse['tr064_items'][item]['last_change'], 'itemtable');
			}
            for (var item in objResponse['aha_items']) {
                shngInsertText (item+'_aha_value', objResponse['aha_items'][item]['value'], 'smarthomeitemtable', 5);
				shngInsertText (item+'_aha_last_update', objResponse['aha_items'][item]['last_update'], 'smarthomeitemtable');
				shngInsertText (item+'_aha_last_change', objResponse['aha_items'][item]['last_change'], 'smarthomeitemtable');
			}
            for (var item in objResponse['call_monitor']) {
                shngInsertText (item+'_call_value', objResponse['call_monitor'][item]['value'], 'call_monitortable', 5);
				shngInsertText (item+'_call_last_update', objResponse['call_monitor'][item]['last_update'], 'call_monitortable');
				shngInsertText (item+'_call_last_change', objResponse['call_monitor'][item]['last_change'], 'call_monitortable');
			}
			shngInsertText ('tr064_blacklisted', objResponse['tr064_items_blacklistet'], 'maintenance_table', 5);
			shngInsertText ('aha_last_request', objResponse['aha_last_request'], 'maintenance_table', 5);

		}
	}
</script>
{% endblock pluginscripts %}

<!--	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3) -->
{% if tr064_item_count > 0 %}
	{% set start_tab = 1 %}
{% endif %}

<!-- Define tabcount -->
{% set tabcount = 6 %}

<!-- Define tabtitle and if tab should be hidden -->
{% if p.fritz_device and tr064_item_count > 0 %}
    {% set tab1title = _("<strong>"'AVM TR-064 Items'"</strong> (" ~ tr064_item_count ~ ") ") %}
{% else %}
    {% set tab2title = "hidden" %} 
{% endif %}

{% if p.fritz_home and aha_item_count > 0 %}
    {% set tab2title = _("<strong>"'AVM AHA Items'"</strong> (" ~ aha_item_count ~ ") ") %}
{% else %}
    {% set tab2title = "hidden" %} 
{% endif %}

{% if p.fritz_home and len(p.fritz_home._devices) > 0%}
    {% set tab3title = _("<strong>"'AVM AHA Devices'"</strong> (" ~ len(p.fritz_home._devices) ~ ") ") %}
{% else %}
    {% set tab3title = "hidden" %} 
{% endif %}

{% if p._call_monitor and call_monitor_item_count > 0 %} 
    {% set tab4title = _("<strong>"'AVM Call Monitor Items'"</strong> (" ~ call_monitor_item_count ~ ") ") %}
{% else %}
    {% set tab4title = "hidden" %} 
{% endif %}

{% if p.fritz_home or p.fritz_device %}
    {% set tab5title = _("<strong>"'AVM Log-Einträge'"</strong>") %}
{% else %}
    {% set tab5title = "hidden" %}
{% endif %}

{% if not maintenance %}
    {% set tab6title = _("<strong>"'AVM Plugin-API'"</strong>") %}
{% else %}
    {% set tab6title = _("<strong>"'AVM Maintenance'"</strong>") %}
{% endif %}

<!-- Define language -->
{% set language = p.get_sh().get_defaultlanguage() %}
{% if language not in ['en','de'] %}
    {% set language = 'en' %}
{% endif %}

<!-- Define Headtable -->
{% block headtable %}
<span id='webif_pagelength' style="display:none">{{ webif_pagelength }}</span>

<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" width=33%>
                {% if p.fritz_device  %}
                    <img src="static/img/lamp_green.png" alt="{{ _('Gerät verfügbar') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% else %}
                    <img src="static/img/lamp_red.png" alt="{{ _('Gerät nicht verfügbar') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% endif %}
                <strong>{{ _('FritzDevice') }}</strong>
            </td>
			<td class="py-1">
                <strong>{{ _('Host: ') }}
                {% if p.fritz_device.is_fritzbox() %}
                    {{ _('Fritz!Box') }}
                {% elif p.fritz_device.is_repeater() %}
                    {{ _('Fritz!Repeater') }}
                {% else %}
                    {{ _('-') }}
                {% endif %}
                </strong>
                <a class="text-shng" href="http://{{ p.fritz_device.host }}" target="_blank">{{ p.fritz_device.host }}</a>
            </td>
			<td class="py-1">
                <strong>{{ _('Benutzer: ') }}</strong>
                {{ p.get_parameter_value_for_display('username') }}
            </td>
		</tr>
		<tr>
            <td class="py-1" width=33%>
                {% if p.fritz_home  %}
                    <img src="static/img/lamp_green.png" alt="{{ _('AHA verfügbar') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% else %}
                    <img src="static/img/lamp_red.png" alt="{{ _('AHA nicht verfügbar') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% endif %}
                <strong>{{ _('FritzHome') }}</strong>
            </td>
            <td class="py-1"></td>
			<td class="py-1">
                <strong>{{ _('Passwort: ') }}</strong>
                {{ p.get_parameter_value_for_display('password') }}
            </td>
		</tr>
		<tr>
            <td class="py-1">
                {% if p.monitoring_service and p.monitoring_service._listen_active %}
                    <img src="static/img/lamp_green.png" alt="{{ _('Call Monitor verbunden') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% elif p.monitoring_service and not p.monitoring_service._listen_active %}
                    <img src="static/img/lamp_amber.png" alt="{{ _('Call Monitor nicht verbunden') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% else %}
                    <img src="static/img/lamp_red.png" alt="{{ _('Call Monitor nicht aktiv') }}" style="width: 17px;padding-bottom: 3px;"/>
                {% endif %}
                <strong>{{ _('Call Monitor') }}</strong>
            </td>
            <td class="py-1"></td>
			<td class="py-1">
                <strong>{{ _('Port: ') }}</strong>
                {{ p.fritz_device.port }} {% if p.fritz_device.ssl %}(HTTPS){% endif %}
            </td>
		</tr>
	</tbody>
</table>
{% endblock %}


<!-- Define Buttons -->
{% block buttons %}
    <button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Wollen Sie das Gerät wirklich neu starten?') }}')) { jQuery.get('reboot'); }">{{ _('Reboot Fritzdevice') }}</button>
    <button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Wollen Sie die Internetverbindung wirklich neu aufbauen?') }}')) { jQuery.get('reconnect'); }">{{ _('Reconnect WAN') }}</button>
    <button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Wollen Sie die Item-Blacklist zurücksetzen?') }}')) { jQuery.get('reset_item_blacklist'); }">{{ _('Reset Item Blacklist') }}</button>
{% endblock buttons %}

<!-- Define Bodytab1 -->
{% block bodytab1 %}
<table id="itemtable">
    <thead>
        <tr>
            <th></th>
            <th class="item">{{ _('Pfad') }}</th>
            <th class="type">{{ _('Typ') }}</th>
            <th class="datatype">{{ _('AVM Datentyp') }}</th>
            <th class="cycle" style="text-align: right">{{ _('Cycle') }}</th>
            <th class="value">{{ _('Wert') }}</th>
            <th class="update" style="text-align: center">{{ _('Letztes Update') }}</th>
            <th class="update" style="text-align: center">{{ _('Letzter Change') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if tr064_items %}
            {% for item in tr064_items %}
                {% set item_config = p.get_item_config(item) %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ item.id() }}</td>
                    <td class="py-1">{{ item.property.type }}</td>
                    <td class="py-1">{{ item_config['avm_data_type'] }}</td>
                    <td class="py-1" style="text-align: right">{{ item_config['avm_data_cycle'] }}</td>
                    <td class="py-1" id="{{ item.id() }}_tr064_value">
                        {% if item.property.value == True or item.property.value == False %}
                            {{ item.property.value|lower }}
                        {% elif item.property.value|int != 0 %}
                            {{ item.property.value|int }}
                        {% else %}
                            {{ item.property.value }}
                        {% endif %}
                        </td>
                    <td class="py-1" id="{{ item.id() }}_tr064_last_update" style="text-align: center">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td class="py-1" id="{{ item.id() }}_tr064_last_change" style="text-align: center">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{% block bodytab2 %}
<table id="smarthomeitemtable">
    <thead>
        <tr>
            <th></th>
            <th class="item">{{ _('Pfad') }}</th>
            <th class="type">{{ _('Typ') }}</th>
            <th class="datatype">{{ _('AVM Datentyp') }}</th>
            <th class="cycle" style="text-align: right">{{ _('Cycle') }}</th>
            <th class="value">{{ _('Wert') }}</th>
            <th class="update" style="text-align: center">{{ _('Letztes Update') }}</th>
            <th class="update" style="text-align: center">{{ _('Letzter Change') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if aha_items %}
            {% for item in aha_items %}
                {% set item_config = p.get_item_config(item) %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ item.id() }}</td>
                    <td class="py-1">{{ item.property.type }}</td>
                    <td class="py-1">{{ item_config['avm_data_type'] }}</td>
                    <td class="py-1" style="text-align: right">{{ item_config['avm_data_cycle'] }}</td>
                    <td class="py-1" id="{{ item.id() }}_aha_value">
                        {% if item.property.value == True or item.property.value == False %}
                            {{ item.property.value|lower }}
                        {% elif item.property.value|int != 0 %}
                            {{ item.property.value|int }}
                        {% else %}
                            {{ item.property.value }}
                        {% endif %}
                    </td>
                    <td class="py-1" id="{{ item.id() }}_aha_last_update" style="text-align: center">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td class="py-1" id="{{ item.id() }}_aha_last_change" style="text-align: center">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{% block bodytab3 %}
<table id="smarthome_devicetable">
    <thead>
        <tr>
            <th></th>
            <th class="ain">{{ 'Device AIN' }}</th>
            <th>{{ '' }}</th>
            <th>{{ 'Device Details (dict)' }}</th>

        </tr>
    </thead>
    <tbody>
        {% if p.fritz_home %}
            {% set devices = p.fritz_home.get_devices() %}
            {% for device in devices %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ device.ain }}
                    <td class="py-1"></td>
                    <td class="py-1">{{ p.fritz_home.get_device_by_ain(device.ain).__dict__ }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{% block bodytab4 %}
<table id="call_monitortable">
    <thead>
        <tr class="shng_heading">
            <th></th>
            <th class="item">{{ _('Pfad') }}</th>
            <th class="type">{{ _('Typ') }}</th>
            <th class="datatype">{{ _('AVM Datentyp') }}</th>
            <th class="value">{{ _('Wert') }}</th>
            <th style="text-align: center">{{ _('Letztes Update') }}</th>
            <th style="text-align: center">{{ _('Letzter Change') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if call_monitor_items %}
            {% for item in call_monitor_items %}
                {% set item_id = item.id() %}
                {% if p.get_instance_name() %}
                    {% set instance_key = "avm_data_type@"+p.get_instance_name() %}
                {% else %}
                    {% set instance_key = "avm_data_type" %}
                {% endif %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ item_id }}</td>
                    <td class="py-1">{{ item.property.type }}</td>
                    <td class="py-1">{{ item.conf[instance_key]}}</td>
                    <td class="py-1" id="{{ item_id }}_call_value">
                        {% if item.property.value == True or item.property.value == False %}
                            {{ item.property.value|lower }}
                        {% elif item.property.value|int != 0 %}
                            {{ item.property.value|int }}
                        {% else %}
                            {{ item.property.value }}
                        {% endif %}
                    </td>
                    <td class="py-1" id="{{ item_id }}_call_last_update" style="text-align: center">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td class="py-1" id="{{ item_id }}_call_last_change" style="text-align: center">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{% block bodytab5 %}
<table id="logtable">
    <thead>
        <tr>
            <th></th>
            <th class="datetime">{{ 'Datum/Uhrzeit' }}</th>
            <th>{{ 'Meldung' }}</th>
            <th class="logtype" style="text-align: center">{{ 'Typ' }}</th>
            <th class="type">{{ 'Kategorie' }}</th>
        </tr>
    </thead>
    <tbody>
        {% if logentries %}
            {% for logentry in logentries%}
                <tr>
                    <td></td>
                    <td class="py-1">{{ logentry[0] }}</td>
                    <td class="py-1">{{ logentry[1] }}</td>
                    <td class="py-1" style="text-align: center">
                        <a class="text-shng" target="_blank" href="https://service.avm.de/help/de/FRITZ-Box-7590/019/hilfe_syslog_{{ logentry[2] }}">
                            {{ logentry[2] }}
                        </a>
                    </td>
                    <td class="py-1">
                        {% if logentry[3] != "-" %}
                            {{ _('cat_'+logentry[3]|string) }}
                        {% else %}
                            {{ '-' }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{% block bodytab6 %}
    {% if not maintenance %}
        {%  for function, dict in p.metadata.plugin_functions.items() %}
            <div class="card-header p-2">
                <strong>
                {{ dict['type'] }} {{ function }}
                ({% if dict['parameters'] is not none %}
                    {%  for name in dict['parameters'] %}
                        {% if loop.index > 1 %}, {% endif %}{{  name }}: {{ dict['parameters'][name]['type'] }}
                    {% endfor %}
                {% endif %})
                </strong>
            </div>
            <div class="card-body p-2">
                  {{ dict['description'][language] }}<br/>
                  {% if dict['parameters'] is not none %}
                      <div class="card mt-2">
                          <div class="card-header p-2">
                            <strong>{{ _('Parameter') }}:</strong>
                          </div>
                          <div class="card-body p-2">
                              <ul class="list-group">
                              {%  for name in dict['parameters'] %}
                                <li class="list-group-item p-2">
                                    <strong>{{  name }}: {{ dict['parameters'][name]['type'] }}</strong><br/>
                                {{ dict['parameters'][name]['description'][language] }}
                                </li>
                              {% endfor %}
                              </ul>
                          </div>
                      </div>
                  {% endif %}
              </div>
        {% endfor %}
    {% endif %}

    {% if maintenance %}
        <table id="maintenance_table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% if p.fritz_device %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ "01 TR064 Items @ Fritz_Device" }}</td>
                    <td class="py-1">{{ p.fritz_device.item_list() }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="py-1">{{ "02 TR064 Blacklisted Items @ Fritz_Device " }}</td>
                    <td class="py-1" id="tr064_blacklisted">{{ p.get_tr064_items_blacklisted() }}</td>
                </tr>
                {% endif %}
                {% if p.fritz_home %}
                <tr>
                    <td></td>
                    <td class="py-1">{{ "03 AHA Items @ Fritz_Home" }}</td>
                    <td class="py-1">{{ p.fritz_home.item_list() }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="py-1">{{ " 04 AHA LastRequest XML" }}</td>
                    <td class="py-1" id="aha_last_request">{{ p.fritz_home.last_request | string }}</td>
                </tr>
                {% endif %}
                {% if p.monitoring_service %}
                    <tr>
                        <td></td>
                        <td class="py-1">{{ " 05 CM Items @ CallMonitor Incoming" }}</td>
                        <td class="py-1">{{ p.monitoring_service.item_list_incoming() }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="py-1">{{ " 06 CM Items @ CallMonitor Outgoing" }}</td>
                        <td class="py-1">{{ p.monitoring_service.item_list_outgoing() }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
