{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 2000 %}

{% block pluginstyles %}
<style>
  table th.type {
    width: 40px;
  }
  table th.value {
    width: 120px;
  }
  table th.change_update {
    width: 150px;
  }
</style>
{% endblock pluginstyles %}
<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    /* get pagelength from http module or plugin. */
    {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
    if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
      resize = true;
      webif_pagelength = -1;
    }
    else {
      resize = false;
    }
		try {
      table1 = $('#maintable').DataTable( {
        columnDefs: [{ "targets": [2], "className": "type"}, { "targets": [3], "className": "value"}, { "targets": [5,6], "className": "change_update"}].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength,
        pageResize: resize});
      table2 = $('#brokermonitor').DataTable( {
        searching: false, paging: false, info: false});
		}
		catch (e) {
			console.warn("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var item in objResponse['item_values']) {
				shngInsertText (item+'_value', objResponse['item_values'][item]['value'], 'maintable', 10);
				shngInsertText (item+'_last_update', objResponse['item_values'][item]['last_update'], 'maintable', 10);
				shngInsertText (item+'_last_change', objResponse['item_values'][item]['last_change'], 'maintable', 10);
			}
			shngInsertText ('broker_uptime', objResponse['broker_uptime']);

			shngInsertText ('version', objResponse['broker_info']['version']);
			shngInsertText ('active_clients', objResponse['broker_info']['active_clients']);
			shngInsertText ('subscriptions', objResponse['broker_info']['subscriptions']);
			shngInsertText ('stored_messages', objResponse['broker_info']['stored_messages']);
			shngInsertText ('retained_messages', objResponse['broker_info']['retained_messages']);

			shngInsertText ('msg_rcv_1min', objResponse['broker_info']['msg_rcv_1min'], 'brokermonitor', 1);
			shngInsertText ('msg_rcv_5min', objResponse['broker_info']['msg_rcv_5min'], 'brokermonitor', 1);
			shngInsertText ('msg_rcv_15min', objResponse['broker_info']['msg_rcv_15min'], 'brokermonitor', 1);
			shngInsertText ('msg_snt_1min', objResponse['broker_info']['msg_snt_1min'], 'brokermonitor', 1);
			shngInsertText ('msg_snt_5min', objResponse['broker_info']['msg_snt_5min'], 'brokermonitor', 1);
			shngInsertText ('msg_snt_15min', objResponse['broker_info']['msg_snt_15min'], 'brokermonitor', 1);

		}

	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td class="py-1"><strong>{{_('Broker Host')}}</strong></td>
				<td class="py-1">{{ p.broker_config.host }}</td>
				<td class="py-1"><strong>{{_('Broker Port')}}</strong></td>
				<td class="py-1">{{ p.broker_config.port }}</td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('Benutzer')}}</strong></td>
				<td class="py-1">{{ p.broker_config.user }}</td>
				<td class="py-1"><strong>{{_('Passwort')}}</strong></td>
				<td class="py-1">
				{% if p.broker_config.password %}
					{% for letter in p.broker_config.password %}*{% endfor %}
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('QoS')}}</strong></td>
				<td class="py-1">{{ p.broker_config.qos }}</td>
				<td class="py-1"><strong>{{_('')}}</strong></td>
				<td class="py-1">{{ '' }}</td>
			</tr>
		</tbody>
	</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 2 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p.broker_monitoring %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2 table-resize">
	<table id="maintable" class="dataTableAdditional">
		<thead>
		<tr><th></th>
			<th>Item</th>
			<th>Typ</th>
			<th>Wert</th>
			<th>Topic In / Out</th>
			<th>Letztes Update</th>
			<th>Letzter Change</th>
		</tr>
		</thead>
		{% for item in items %}
			{% if p.has_iattr(item.conf, 'mqtt_topic_in') or p.has_iattr(item.conf, 'mqtt_topic_out') %}
				<tr><td></td>
					<td class="py-1">{{ item._path }}</td>
					<td class="py-1">{{ item._type }}</td>
					<td id="{{ item.id() }}_value" class="py-1">{{ item() }}</td>
					<td class="py-1">{% if p.has_iattr(item.conf, 'mqtt_topic_in') %}<strong>in &nbsp; : </strong>{{ p.get_iattr_value(item.conf, 'mqtt_topic_in') }}<br>{% endif %}
						{% if p.has_iattr(item.conf, 'mqtt_topic_out') %}<strong>out: </strong>{{ p.get_iattr_value(item.conf, 'mqtt_topic_out') }}{% endif %}</td>
					<td id="{{ item.id() }}_last_update" class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
					<td id="{{ item.id() }}_last_change" class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ " Broker Information</strong>" %}
{% block bodytab2 %}
<table class="table table-striped table-hover pluginList">
  <tbody>
	<tr>
		<td class="py-1"><strong>{{ 'Broker Version' }}</strong></td>
		<td id="version" class="py-1">{{ p._broker.version }}</td>
		<td class="py-1">{{ connection_result }}</td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Active Clients' }}</strong></td>
		<td id="active_clients" class="py-1">{{ p._broker.active_clients }}</td>
    <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Subscriptions' }}</strong></td>
		<td id="subscriptions" class="py-1">{{ p._broker.subscriptions }}</td>
    <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Messages stored' }}</strong></td>
		<td id="stored_messages" class="py-1">{{ p._broker.stored_messages }}</td>
    <td></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ 'Retained Messages' }}</strong></td>
		<td id="retained_messages" class="py-1">{{ p._broker.retained_messages }}</td>
    <td></td>
	</tr>
	{% if p.broker_monitoring %}
	<tr>
		<td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
	</tr>
	<tr>
		<td class="py-1"><strong>{{ _('Laufzeit') }}</strong></td>
		<td id="broker_uptime" class="py-1">{{ p.broker_uptime() }}</td>
        <td width="500"></td>
	</tr>
	<tr>
		<td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
	</tr>
	{% endif %}
  </tbody>
</table>

{% if p.broker_monitoring %}
<div class="container-fluid m-2 table-resize">
	<table id="brokermonitor" class="dataTableAdditional">
  	<thead><th></th>
  		<th class="py-1">{{ _('Message Durchsatz') }}</th>
  		<th class="py-1">{{ _('letzte Minute') }}</th>
  		<th class="py-1">{{ _('letzte 5 Min.') }}</th>
  		<th class="py-1">{{ _('letzte 15 Min.') }}</th>
  	</thead>
  	<tr><td></td>
  		<td class="py-1">{{ _('Durchschnittlich Messages je Minute empfangen') }}</td>
  		<td id="msg_rcv_1min" class="py-1">{{ p._broker.msg_rcv_1min }}</td>
  		<td id="msg_rcv_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_5min }}</td>
  		<td id="msg_rcv_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_15min }}</td>
  	</tr>
  	<tr><td></td>
  		<td class="py-1">{{ _('Durchschnittlich Messages je Minute gesendet') }}</td>
  		<td id="msg_snt_1min" class="py-1">{{ p._broker.msg_snt_1min }}</td>
  		<td id="msg_snt_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_5min }}</td>
  		<td id="msg_snt_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_15min }}</td>
  	</tr>
  </table>
</div>
{% endif %}

{% endblock %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab3
-->
{% block bodytab3 %}

{% endblock %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{  % set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" % }

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock %}
