{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 10000 %}
{% set reload_button = false %}
{% set initial_update = true %}
{% block pluginstyles %}
<style>
  .visuclient {
    width: 180px;
  }
  .ip {
    width: 80px;
  }
  .port {
    width: 50px;
  }
  .protocol {
    width: 50px;
  }
  .clientsw {
    width: 50px;
  }
  .browser {
    width: 50px;
  }
  .hostname {
    width: 200px;
  }
  .access {
    width: 100px;
  }
</style>
{% endblock pluginstyles %}
<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
    if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
      resize = true;
      webif_pagelength = -1;
	  console.log('Activating automatic table resize');
    }
    else {
      resize = false;
    }

  	try {
  		clienttable = $('#clienttable').DataTable({
  			columnDefs: [
  				{
  					title: '{{ _('Visu Client') }}',
  					targets: [1], "className": "visuclient"
  				},
  				{
  					title: '{{ _('IP') }}',
  					targets: [2], "className": "ip"
  				},
  				{
  					title: '{{ _('Port') }}',
  					targets: [3], "className": "port"
  				},
  				{
  					title: '{{ _('Protokoll') }}',
  					targets: [4], "className": "protocol"
  				},
  				{
  					title: '{{ _('Client Software') }}',
  					targets: [5], "className": "clientsw"
  				},
  				{
  					title: '{{ _('Browser') }}',
  					targets: [6], "className": "browser"
  				},
  				{
  					title: '{{ _('') }}',
  					targets: [7], "className": "hostname"
  				},
  			].concat($.fn.dataTable.defaults.columnDefs),
  			pageLength: webif_pagelength,
  			pageResize: resize,
        destroy: true
  		});

  	try {
  		itemtable = $('#itemtable').DataTable({
  			columnDefs: [
  				{
  					title: '{{ _('Item') }}',
  					targets: [1]
  				},
  				{
  					title: '{{ _('Typ') }}',
  					targets: [2], "className": "type"
  				},
          {
            title: '{{ _('Wert') }}',
            targets: [3], "className": "value"
          },
          {
            title: '{{ _('Visu Zugriff') }}',
            targets: [4], "className": "access"
          }
  			].concat($.fn.dataTable.defaults.columnDefs),
  			pageLength: webif_pagelength,
  			pageResize: resize
  		});
  	}
		catch (e) {
			console.warn("Datatable Javascript not loaded: " +e);
    }

    logictable = $('#logictable').DataTable({
      columnDefs: [
        {
          title: '{{ _('Logik') }}',
          targets: [1]
        },
        {
          title: '{{ _('Status') }}',
          targets: [2], "className": "type"
        },
        {
          title: '{{ _('Visu Zugriff') }}',
          targets: [3], "className": "access"
        },
      ].concat($.fn.dataTable.defaults.columnDefs),
      pageLength: webif_pagelength,
      pageResize: resize
    });
  }
  catch (e) {
    console.warn("Datatable Javascript not loaded: " +e);
  }

  });
</script>

<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);

			// Update item table
			let sensorcount = 0
			let iodevicecount = 0
			let ibuttoncount = 0
			//itemtable.clear();
			let items = objResponse['items'];
			for (item in items) {
				let item_id = items[item]['path'];
				let item_type = items[item]['type'];
				let not_discovered = items[item]['not_discovered'];
				let sensor_addr = items[item]['sensor_addr'];
				let deviceclass = items[item]['deviceclass'];
				let value_unit = items[item]['value_unit'];
				let item_value = items[item]['value'];
				if (value_unit !== '') {
					item_value = String(items[item]['value']) + ' ' + value_unit;
				}
				let last_update = items[item]['last_update'];
				let last_change = items[item]['last_change'];

				//let newRow = itemtable.row.add( [ null, item_id, item_type, not_discovered, sensor_addr, deviceclass, item_value, last_update, last_change ] ).draw(false).node();
				if (deviceclass == 'sensor') {
					sensorcount += 1
				} else if (deviceclass == 'IO') {
					iodevicecount += 1
				} else if (deviceclass == 'iButton') {
					ibuttoncount += 1
				}
			}
			let iteminfo = '<strong>{{ _('Geräte in Items') }}:</strong> ';
			iteminfo += String(sensorcount) + ' {{ _('Sensoradresse(n)') }}, ';
			iteminfo += String(iodevicecount) + ' {{ _('I/O-Geräteadresse(n)') }}, ';
			iteminfo += String(ibuttoncount) + ' {{ _('iButtonadresse(n)') }}';
			shngInsertText ('itemcount', objResponse['items'].length);
			shngInsertText ('iteminfo', iteminfo);
			//itemtable.draw(false);

			// Update client table
			let clientdata = []
			//clienttable.clear();
			let clients = objResponse['clients'];
			for (client in clients) {
				let ip = clients[client]['ip'];
				let port = clients[client]['port'];
				let name = clients[client]['name'];
				let proto = clients[client]['proto'];
				let sw = clients[client]['sw'];
				let swversion = clients[client]['swversion'];
				let protocol = clients[client]['protocol'];
				let hostname = clients[client]['hostname'];
				let browser = clients[client]['browser'];
				let browserversion = clients[client]['browserversion'];
				//let newRow = clienttable.row.add( [ null, name, ip, port, protocol, sw + ' ' + swversion, browser + ' ' + browserversion, hostname] );
				clientdata.push([ null, name, ip, port, protocol, sw + ' ' + swversion, browser + ' ' + browserversion, hostname]);
			}
			shngInsertText ('clientcount', objResponse['clients'].length);
			clienttable.clear();
			clienttable.rows.add( clientdata ).draw(false);
			//clienttable.draw(false);
		}

	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td class="py-1"><strong>{{ _('Port (ws / wss)') }}</strong></td>
						<td class="py-1">{{ p.port }} / {{ p.tls_port }}</td>
						<td class="py-1" width="50px"></td>
						<td class="py-1"><strong>{{ _('Standard Zugriff (acl)') }}</strong></td>
						<td class="py-1">{{ p.default_acl }}</td>
						<td></td>
					</tr>
					<tr>
						<td class="py-1"><strong>{{ _('Erkannte smartVISU Version') }}</strong></td>
						<td class="py-1">{{ p.smartvisu_version }}</td>
						<td></td>
<!--
						<td class="py-1"><strong>{{ _('Definitions-Abfrage') }}</strong></td>
						<td class="py-1">{% if p.get_parameter_value('querydef') %}{{ _('Erlaubt') }}{% else %}{{ _('Verboten') }}{% endif %}</td>
-->
						<td class="py-1"><strong>{{ _('Installiere Widgets') }}</strong></td>
						<td class="py-1">{% if p._handle_widgets %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
					</tr>
					<tr>
						<td class="py-1"><strong>{{ _('Generiere Seiten') }}</strong></td>
						<td class="py-1">{% if p._generate_pages %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
						<td class="py-1"><strong>{{ _("Erzeuge 'masteritem' Datei") }}</strong></td>
						<td class="py-1">{% if p._create_masteritem_file %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
{% endblock headtable %}



<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% endblock %}


<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 3 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Clients') ~ "</strong> (<span id=clientcount>" ~ clients|length ~ "</span>)" %}
{% block bodytab1 %}
	<table id="clienttable"></table>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Items') ~ "</strong> (" ~ items|length ~ ")" %}
{% block bodytab2 %}

		<table id="itemtable">
      <tbody>
			{% for item in items %}
				<tr><td></td>
					<td class="py-1">{{ item._path }}</td>
					<td class="py-1">{{ item._type }}</td>
					<td class="py-1">{{ item() }}</td>
					<td class="py-1">{{ item.conf['visu_acl'] }}</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>

{% endblock bodytab2 %}

{% set tab3title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Logiken') ~ "</strong> (" ~ logics|length ~ ")" %}
{% block bodytab3 %}
		<table id="logictable">
      <tbody>
			{% for logic in logics %}
				<tr><td></td>
					<td class="py-1">{{ logic.name }}</td>
					<td class="py-1">{% if logic.enabled %}{{ _('aktiv') }}{% else %}{{ _('nicht aktiv') }}{% endif %}</td>
					<td class="py-1">{% if logic.visu_access %}{{ _('erlaubt') }}{% else %}{{ _('nicht erlaubt') }}{% endif %}</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>
	</div>
</div>
{% endblock bodytab3 %}
