{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 10000 %}
{% set reload_button = false %}
{% set initial_update = true %}
{% block pluginstyles %}
<style>
  .visuclient {
    width: 180px;
  }
  .ip {
    width: 80px;
  }
  .port {
    width: 50px;
  }
  .protocol {
    width: 50px;
  }
  .clientsw {
    width: 50px;
  }
  .browser {
    width: 50px;
  }
  .hostname {
    width: 200px;
  }
  .access {
    width: 100px;
  }
  .last_update {
    width: 150px;
  }
  .last_change {
    width: 150px;
  }
  .value {
    width: 200px;
    max-width: 400px;
  }
</style>
{% endblock pluginstyles %}
<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');

  	try {
  		clienttable = $('#clienttable').DataTable({
  			columnDefs: [
          {
            title: '',
            targets: [0], "className": ""
          },
  				{
  					title: '{{ _('Visu Client') }}',
  					targets: [1], "className": "visuclient"
  				},
  				{
  					title: '{{ _('IP') }}',
  					targets: [2], "className": "ip"
  				},
  				{
  					title: '{{ _('Port') }}',
  					targets: [3], "className": "port"
  				},
  				{
  					title: '{{ _('Protokoll') }}',
  					targets: [4], "className": "protocol"
  				},
  				{
  					title: '{{ _('Client Software') }}',
  					targets: [5], "className": "clientsw"
  				},
  				{
  					title: '{{ _('Browser') }}',
  					targets: [6], "className": "browser"
  				},
  				{
  					title: '{{ _('') }}',
  					targets: [7], "className": "hostname"
  				},
  			].concat($.fn.dataTable.defaults.columnDefs),
        destroy: true
  		});

  	try {
  		itemtable = $('#itemtable').DataTable({
  			columnDefs: [
          {
            title: '',
            targets: [0], "className": ""
          },
  				{
  					title: "{{ _('Item') }}",
  					targets: [1]
  				},
  				{
  					title: "{{ _('Typ') }}",
  					targets: [2], "className": "type"
  				},
          {
            title: "{{ _('Wert') }}",
            targets: [3], "className": "value"
          },
          {
            title: "{{ _('Visu Zugriff') }}",
            targets: [4], "className": "access"
          },
          {
            title: "{{ _('Letztes Update') }}",
            targets: [5], "className": "last_update"
          },
          {
            title: "{{ _('Letzte Änderung') }}",
            targets: [6], "className": "last_change"
          }
  			].concat($.fn.dataTable.defaults.columnDefs)
  		});
  	}
		catch (e) {
			console.warn("Datatable Javascript not loaded: " +e);
    }

    logictable = $('#logictable').DataTable({
      columnDefs: [
        {
          title: '',
          targets: [0], "className": ""
        },
        {
          title: "{{ _('Logik') }}",
          targets: [1]
        },
        {
          title: "{{ _('Status') }}",
          targets: [2], "className": "type"
        },
        {
          title: "{{ _('Visu Zugriff') }}",
          targets: [3], "className": "access"
        },
      ].concat($.fn.dataTable.defaults.columnDefs)
    });
  }
  catch (e) {
    console.warn("Datatable Javascript not loaded: " +e);
  }

  });
</script>

<script>
	function handleUpdatedData(response, dataSet=null, update_params=null, initial=1) {
		if (dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			let items = objResponse['items'];
			for (item in items) {
        shngInsertText (item+'_type', items[item]['type'], 'itemtable', 5 * initial);
        shngInsertText (item+'_value', items[item]['value'], 'itemtable', 5 * initial);
        shngInsertText (item+'_acl', items[item]['acl'], 'itemtable', 5 * initial);
        shngInsertText (item+'_last_update', items[item]['last_update'], 'itemtable', 5 * initial);
        shngInsertText (item+'_last_change', items[item]['last_change'], 'itemtable', 5 * initial);
			}
			shngInsertText ('itemcount', Object.keys(items).length, null, 5);

      let logics = objResponse['logics'];
      let logicdata = []
			for (logic in logics) {
        let name = logics[logic]['name'];
        let enabled = logics[logic]['enabled'];
        let access = logics[logic]['visu_access'];
        logicdata.push([ null, name, enabled, access]);
			}
      if (logics.length > 0) {
        logictable.clear();
  			logictable.rows.add( logicdata ).draw(false);
      }
      shngInsertText ('logiccount', logics.length, null, 5);

			//itemtable.draw(false);

			// Update client table
			let clientdata = []
			//clienttable.clear();
			let clients = objResponse['clients'];
			for (client in clients) {
				let ip = clients[client]['ip'];
				let port = clients[client]['port'];
				let name = clients[client]['name'];
				let proto = clients[client]['proto'];
				let sw = clients[client]['sw'];
				let swversion = clients[client]['swversion'];
				let protocol = clients[client]['protocol'];
				let hostname = clients[client]['hostname'];
				let browser = clients[client]['browser'];
				let browserversion = clients[client]['browserversion'];
				//let newRow = clienttable.row.add( [ null, name, ip, port, protocol, sw + ' ' + swversion, browser + ' ' + browserversion, hostname] );
				clientdata.push([ null, name, ip, port, protocol, sw + ' ' + swversion, browser + ' ' + browserversion, hostname]);
			}
			shngInsertText ('clientcount', clients.length, null, 5);
      if (clients.length > 0) {
        clienttable.clear();
  			clienttable.rows.add( clientdata ).draw(false);
      }

		}

	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td class="py-1"><strong>{{ _('Port (ws / wss)') }}</strong></td>
						<td class="py-1">{{ p.port }} / {{ p.tls_port }}</td>
						<td class="py-1" width="50px"></td>
						<td class="py-1"><strong>{{ _('Standard Zugriff (acl)') }}</strong></td>
						<td class="py-1">{{ p.default_acl }}</td>
						<td></td>
					</tr>
					<tr>
						<td class="py-1"><strong>{{ _('Erkannte smartVISU Version') }}</strong></td>
						<td class="py-1">{{ p.smartvisu_version }}</td>
						<td></td>
<!--
						<td class="py-1"><strong>{{ _('Definitions-Abfrage') }}</strong></td>
						<td class="py-1">{% if p.get_parameter_value('querydef') %}{{ _('Erlaubt') }}{% else %}{{ _('Verboten') }}{% endif %}</td>
-->
						<td class="py-1"><strong>{{ _('Installiere Widgets') }}</strong></td>
						<td class="py-1">{% if p._handle_widgets %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
					</tr>
					<tr>
						<td class="py-1"><strong>{{ _('Generiere Seiten') }}</strong></td>
						<td class="py-1">{% if p._generate_pages %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
						<td class="py-1"><strong>{{ _("Erzeuge 'masteritem' Datei") }}</strong></td>
						<td class="py-1">{% if p._create_masteritem_file %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
{% endblock headtable %}

{% set tabcount = 3 %}

{% if item_count==0 %}
	{% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Clients') ~ "</strong> (<span id=clientcount>" ~ clients|length ~ "</span>)" %}
{% block bodytab1 %}
	<table id="clienttable" class="dataTableAdditional"></table>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Items') ~ "</strong> (<span id=itemcount>" ~ items|length ~ "</span>)" %}
{% block bodytab2 %}

		<table id="itemtable" class="dataTableAdditional">
      <tbody>
			{% for item in items %}
				<tr><td></td>
					<td class="py-1" id="{{ item._path }}">{{ item._path }}</td>
					<td class="py-1" id="{{ item._path }}_type">&nbsp;</td>
					<td class="py-1" id="{{ item._path }}_value">&nbsp;</td>
					<td class="py-1" id="{{ item._path }}_acl">&nbsp;</td>
          <td class="py-1" id="{{ item._path }}_last_update">&nbsp;</td>
          <td class="py-1" id="{{ item._path }}_last_change">&nbsp;</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>

{% endblock bodytab2 %}

{% set tab3title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Logiken') ~ "</strong> (<span id=logiccount>" ~ logics|length ~ "</span>)" %}
{% block bodytab3 %}
		<table id="logictable" class="dataTableAdditional">
      <tbody>
			{% for logic in logics %}
				<tr><td></td>
					<td class="py-1" id="{{ logic.name }}">{{ logic.name }}</td>
					<td class="py-1" id="{{ logic.name }}_enabled">&nbsp;</td>
					<td class="py-1" id="{{ logic.name }}_access">&nbsp;</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>
{% endblock bodytab3 %}
