{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				/*
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				*/
			}
		}
	}
</script>
<!--
	This part is used to implement datatable JS for the tables. It allows resorting tables by column, etc.
	For each table you have to implement the code part $('#<table_id>').DataTable(..); where the <table_id> matches the id of a table tag
-->

<script>
    $(document).ready( function () {
		try 
			{	
			$('#itemtable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );	
            $('#devicetable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#bridgetable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#mtable1').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#mtable2').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
			}
		catch (e) 
			{
			console.log("Datatable JS not loaded, showing standard table without reorder option")
			}					
        });
</script>
{% endblock pluginscripts %}


{% block headtable %}
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<td class="py-1"><strong>{{_('Broker Host')}}</strong></td>
				<td class="py-1">{{ p.broker_config.host }}</td>
				<td class="py-1" width="50px"></td>
				<td class="py-1"><strong>{{_('Broker Port')}}</strong></td>
				<td class="py-1">{{ p.broker_config.port }}</td>
				<td class="py-1" width="50px"></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('Benutzer')}}</strong></td>
				<td class="py-1">{{ p.broker_config.user }}</td>
				<td class="py-1"></td>
				<td class="py-1"><strong>{{_('Passwort')}}</strong></td>
				<td class="py-1">
				{% if p.broker_config.password %}
					{% for letter in p.broker_config.password %}*{% endfor %}
				{% endif %}
				</td>
				<td class="py-1"></td>
			</tr>
			<tr>
				<td class="py-1"><strong>{{_('QoS')}}</strong></td>
				<td class="py-1">{{ p.broker_config.qos }}</td>
				<td class="py-1"></td>
				<td class="py-1"><strong>{{_('Zigbee2Mqtt')}}</strong></td>
				<td class="py-1"><a class="text-shng" href="http://{{ p.local_ip }}:8082" target="_blank">{{ 'GUI' }}</a></td>
				<td class="py-1"></td>
			</tr>
		</tbody>
	</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
<!-- <button id="clear" class="btn btn-shng btn-sm" type="button">open Zigbee2Mqtt GUI</button> -->
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 4 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p.zigbee2mqtt_items == [] %}
    {% set start_tab = 2 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}

{% block bodytab1 %}
<div class="container-fluid m-2">
    <table id="itemtable" class="table table-striped table-hover pluginList">
        <thead>
            <tr>
                <th>{{ _('Item') }}</th>
                <th>{{ _('Typ') }}</th>
                <th>{{ _('Wert') }}</th>
                <th>{{ _('Topic') }}</th>
                <th>{{ _('Letztes Update') }}</th>
                <th>{{ _('Letzter Change') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in p.zigbee2mqtt_items %}
                <tr>
                    <td>{{ item._path }}</td>
                    <td>{{ item._type }}</td>
                    <td id="{{ item.id() }}_value" class="py-1">{{ item() }}</td>
                    <td>{{ p.get_iattr_value(item.conf, 'zigbee2mqtt_topic') }}</td>
                    <td id="{{ item.id() }}_last_update" class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td id="{{ item.id() }}_last_change" class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Devices</strong>" %}

{% block bodytab2 %}
<div class="container-fluid m-2">
    <table id="devicetable" class="table table-striped table-hover pluginList">
        <thead>
            <tr>
                <th>{{ _('#') }}</th>
                <th>{{ _('Friendy Name') }}</th>
                <th>{{ _('IEEE Adresse') }}</th>
                <th>{{ _('Vendor') }}</th>
                <th>{{ _('Modell') }}</th>
				<th>{{ _('Description') }}</th>
				<th>{{ _('ModellID') }}</th>
                <th>{{ _('Last seen') }}</th>
                <th>{{ _('LQI') }}</th>
                <!-- <th>{{ _('Batterie') }}</th> -->
                <th>{{ _('bereitgestellte Daten') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in p.zigbee2mqtt_devices %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']['friendly_name']}}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']['ieeeAddr'] }}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']['vendor'] }}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']['model'] }}</td>
					<td>{{ p.zigbee2mqtt_devices[device]['meta']['description'] }}</td>
					<td>{{ p.zigbee2mqtt_devices[device]['meta']['modelID'] }}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']['lastSeen'].strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    {% if 'data' in p.zigbee2mqtt_devices[device] %}
                        <td>{{ p.zigbee2mqtt_devices[device]['data']['linkquality'] }}</td>
                        <!-- <td>{{ p.zigbee2mqtt_devices[device]['data']['battery'] }}</td> -->
                        <td>
                        {% for key in p.zigbee2mqtt_devices[device]['data'] %}
                            {{ key }}
                            {%if not loop.last%}, {%endif%}
                        {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ '-' }}</td>
                        <td>{{ '-' }}</td>
                        <!-- <td>{{ '-' }}</td> -->
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


<!--
	Content block for the third tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Bridge Info</strong>" %}



<!--
	Content block for the sixt tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ " Broker Information</strong>" %}

{% block bodytab3 %}
<table class="table table-striped table-hover pluginList">
	<tr>
		<td><strong>{{ 'Broker Version' }}</strong></td>
		<td id="version" class="py-1">{{ p._broker.version }}</td>
		<td>{{ connection_result }}</td>
<!--
        <td width="500"></td>
-->
	</tr>
	<tr>
		<td><strong>{{ 'Active Clients' }}</strong></td>
		<td id="active_clients" class="py-1">{{ p._broker.active_clients }}</td>
        <td></td>
	</tr>
	<tr>
		<td><strong>{{ 'Subscriptions' }}</strong></td>
		<td id="subscriptions" class="py-1">{{ p._broker.subscriptions }}</td>
        <td></td>
	</tr>
	<tr>
		<td><strong>{{ 'Messages stored' }}</strong></td>
		<td id="stored_messages" class="py-1">{{ p._broker.stored_messages }}</td>
        <td></td>
	</tr>
	<tr>
		<td><strong>{{ 'Retained Messages' }}</strong></td>
		<td id="retained_messages" class="py-1">{{ p._broker.retained_messages }}</td>
        <td></td>
	</tr>
	{% if p.broker_monitoring %}
        <tr>
            <td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
        </tr>
        <tr>
            <td><strong>{{ _('Laufzeit') }}</strong></td>
            <td id="broker_uptime" class="py-1">{{ p.broker_uptime() }}</td>
            <td width="500"></td>
        </tr>
        <tr>
            <td class="py-1" colspan="3"><strong>&nbsp;</strong></td>
        </tr>
	{% endif %}
</table>

{% if p.broker_monitoring %}
    <table class="table table-striped table-hover pluginList">
        <thead>
            <th class="py-1">{{ _('Message Durchsatz') }}</th>
            <th class="py-1">{{ _('letzte Minute') }}</th>
            <th class="py-1">{{ _('letzte 5 Min.') }}</th>
            <th class="py-1">{{ _('letzte 15 Min.') }}</th>
            <th width="500"></th>
        </thead>
        <tbody>
            <tr>
                <td>{{ _('Durchschnittlich Messages je Minute empfangen') }}</td>
                <td id="msg_rcv_1min" class="py-1">{{ p._broker.msg_rcv_1min }}</td>
                <td id="msg_rcv_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_5min }}</td>
                <td id="msg_rcv_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_rcv_15min }}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ _('Durchschnittlich Messages je Minute gesendet') }}</td>
                <td id="msg_snt_1min" class="py-1">{{ p._broker.msg_snt_1min }}</td>
                <td id="msg_snt_5min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_5min }}</td>
                <td id="msg_snt_15min" class="py-1"> &nbsp; &nbsp; {{ p._broker.msg_snt_15min }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endif %}

{% endblock %}

<!--
	Content block for the fifth tab of the Webinterface
-->
{% set tab4title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Maintenance') ~ "</strong>" %}

{% block bodytab4 %}
<div class="container-fluid m-2">
    <table id="mtable2" class="table table-striped table-hover pluginList">
        <thead>
            <tr>
                <th>{{ _('Zigbee Device') }}</th>
                <th>{{ _('Meta') }}</th>
                <th>{{ _('Data') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in p.zigbee2mqtt_devices %}
                <tr>
                    <td><a>{{ device }}</a></td>
                    <td>{{ p.zigbee2mqtt_devices[device]['meta']}}</td>
                    <td>{{ p.zigbee2mqtt_devices[device]['data']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container-fluid m-2">
    <table id="mtable1" class="table table-striped table-hover pluginList">
        <thead>
            <tr>
                <th>{{ _('Plugin Device') }}</th>
                <th>{{ _('Meta Data') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in p.zigbee2mqtt_plugin_devices %}
                <tr>
                    <td><a>{{ device }}</a></td>
                    <td>{{ p.zigbee2mqtt_plugin_devices[device]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


