{% extends "base_plugin.html" %}
{% set update_interval = 3000 %}
{% set language = p.get_sh().get_defaultlanguage() %}
{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tab1title = "Enigma2 Items (" + (p.get_enigma2_device().get_items()|length+p.get_enigma2_device().get_fast_items()|length)|string+ ")" %}
{% set tab2title = "Remote Command Items (" + p.get_enigma2_device().get_items_remote_command()|length|string+ ")"  %}
{% set tab3title = _('Plugin-API') %}
{% set tabcount = 3 %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>{{ _('Fast Cycle') }}</strong></td>
			<td class="py-1">
                {{ p.get_fast_cycle() }}
            </td>
			<td class="py-1"><strong>{{ _('Host/Port') }}:</strong></td>
			<td class="py-1">
                <a class="text-shng" target="_blank" href="http{% if p.get_enigma2_device().is_ssl() %}s{% endif %}://{{ p.get_enigma2_device().get_host() }}:{{ p.get_enigma2_device().get_port() }}">
                    http{% if p.get_enigma2_device().is_ssl() %}s{% endif %}://{{ p.get_enigma2_device().get_host() }}:{{ p.get_enigma2_device().get_port() }}
                </a>
            </td>
			<td class="py-1"><strong>{{ _('Benutzer') }}</strong></td>
			<td class="py-1">{% if p.get_parameter_value_for_display('username') %}{{ p.get_parameter_value_for_display('username') }}{% else %}-{% endif %}</td>
		</tr>
		<tr>
			<td class="py-1"><strong>{{ _('Cycle') }}</strong></td>
			<td class="py-1">
				{{ p.get_cycle() }}
			</td>
			<td class="py-1"></td>
			<td class="py-1"></td>
			<td class="py-1"><strong>{{ _('Passwort') }}</strong></td>
			<td class="py-1">{% if p.get_parameter_value_for_display('password') %}{{ p.get_parameter_value_for_display('password') }}{% else %}-{% endif %}</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block pluginscripts %}
<script>
    function handleUpdatedData(response, dataSet=null) {
        if (dataSet === 'devices_info' || dataSet === null) {
            var objResponse = JSON.parse(response);
            {% for item in p.get_enigma2_device().get_items() %}
            shngInsertText ('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
            shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
            shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}
            {% for item in p.get_enigma2_device().get_fast_items() %}
            shngInsertText ('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
            shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
            shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}
            {% for item in p.get_enigma2_device().get_items_remote_command() %}
            shngInsertText ('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
            shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
            shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}
        }
    }
</script>
{% endblock pluginscripts %}

{% block bodytab1 %}

<div class="table-responsive" style="margin-left: 2px; margin-right: 2px; margin-top: 10px;" class="row">
	<div class="col-sm-12">
		<h6>{{ _('Enigma2 Fast Items') }} ({{ p.get_enigma2_device().get_fast_items()|length }})</h6>

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
                    <th>{{ _('Pfad') }}</th>
					<th>{{ _('Typ') }}</th>
                    <th>{{ _('Enigma2 Datentyp') }}</th>
					<th>{{ _('Wert') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p.get_enigma2_device().get_fast_items() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item.property.path }}</td>
						<td class="py-1">{{ item.property.type }}</td>
						<td class="py-1">{{ p.get_iattr_value(item.conf, 'enigma2_data_type') }}</td>
						<td id="{{ item.id() }}_value" class="py-1" style="width: 600px;">{{ item() }}</td>
						<td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        <h6>{{ _('Enigma2 Items') }} ({{ p.get_enigma2_device().get_items()|length }})</h6>

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
                    <th>{{ _('Pfad') }}</th>
					<th>{{ _('Typ') }}</th>
                    <th>{{ _('Enigma2 Datentyp') }}</th>
					<th>{{ _('Wert') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p.get_enigma2_device().get_items() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item.property.path }}</td>
						<td class="py-1">{{ item.property.type }}</td>
						<td class="py-1">{{ p.get_iattr_value(item.conf, 'enigma2_data_type') }}</td>
						<td id="{{ item.id() }}_value" class="py-1" style="width: 600px;">{{ item() }}</td>
						<td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
                    <th>{{ _('Pfad') }}</th>
					<th>{{ _('Typ') }}</th>
					<th>{{ _('Wert') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p.get_enigma2_device().get_items_remote_command() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item.property.path }}</td>
						<td class="py-1">{{ item.property.type }}</td>
						<td id="{{ item.id() }}_value" class="py-1">{{ item() }}</td>
						<td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block bodytab3 %}
<div class="container ml-1 pl-1 mr-1 pr-1">
{%  for function, dict in p.metadata.plugin_functions.items() %}
    <div class="card mb-2">
      <div class="card-header p-2">
          <strong>{{ dict['type'] }} {{ function }}({% if dict['parameters'] is not none %}{%  for name, paramdict in dict['parameters'].items() %}{% if loop.index > 1 %}, {% endif %}{{  name }}: {{ paramdict['type'] }}{% endfor %}{% endif %})</strong>
      </div>
      <div class="card-body p-2">
          {{ dict['description'][language] }}<br/>
          {% if dict['parameters'] is not none %}
              <div class="card mt-2">
                  <div class="card-header p-2">
                    <strong>{{ _('Parameter') }}:</strong>
                  </div>
                  <div class="card-body p-2">
                      <ul class="list-group">
                      {%  for name, paramdict in dict['parameters'].items() %}
                        <li class="list-group-item p-2">
                            <strong>{{  name }}: {{ paramdict['type'] }}</strong><br/>
                        {{ paramdict['description'][language] }}
                        </li>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
          {% endif %}
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}