 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}
{% block content %}

 <div class="container">
     Item (gesamt: {{ smarthome.item_count }})<br/><br/>
      <div id="tree" style="float:left; width: 600px;"></div>
      <div style="float:left; padding: 10px; margin-left: 5px; border: 1px solid #ccc; width: 400px; height: 300px;">
        <strong>Item-Informationen:</strong><br/><br/>
        <div id="tree_detail">

        </div>
     </div>
 </div>


 <script type="text/javascript" language="javascript">


function getDetailInfo(item_path) {
    var item = [];
    $.getJSON('/item_detail_json.html?item_path='+item_path, function(result) {
        $.each(result, function(index, element) {
            $('#tree_detail').html('<p> Itempath: ' + element.path + '</p>');
            $('#tree_detail').append('<p>Name : ' + element.name + '</p>');
            $('#tree_detail').append('<p>Wert : ' + element.value + '</p>');
        });

    });
}

function build_item_subtree_recursive(data) {
    var result = [];
    var tree_element = {};
    tree_element['text'] = data.path;
    var node_length = data.nodes.length;
    if (data.nodes.length > 0) {
        var child_nodes = [];
        for (var i = 0; i < node_length; i++) {
            var new_child_node = build_item_subtree_recursive(data.nodes[i]);
            child_nodes.push(new_child_node);
        }
        tree_element['nodes'] = child_nodes;
    }

    return tree_element;
}

function getTree() {
    var item_tree = [];

    $.getJSON('/items_json.html', function(result) {
        $.each(result, function(index, element) {
            item_tree.push(build_item_subtree_recursive(element));
        });
        $('#tree').treeview({
            data: item_tree,
            onNodeSelected: function(event, data) {
                item_info = getDetailInfo(data.text);

            }
        });
     });
}

getTree();

</script>
{% endblock %}
