 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}
{% block content %}
 <script type="text/javascript" language="javascript">
function setVisibility(rowName) {
    // Tabellenzelle ermitteln

    var actualVisibility=document.getElementById(rowName).style.visibility;

    if(actualVisibility=='' || actualVisibility=='visible') {
        document.getElementById(rowName).style.visibility = "hidden";
        document.getElementById(rowName).style.display = "none";
        document.getElementById('span_'+rowName).innerHTML = "+";
    } else {
        document.getElementById(rowName).style.visibility = "visible";
        document.getElementById(rowName).style.display = "block";
        document.getElementById('span_'+rowName).innerHTML = "-";
    }
}
</script>
<div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Item (gesamt: {{ smarthome.item_count }})</th>
                    <th>aktueller Wert</th>
                </tr>
            </thead>
            <tbody>
                {% if smarthome %}
                    {% for item in smarthome.return_items() %}
                    <tr onclick="setVisibility('{{ item }}')" style="cursor: pointer;">
                        <td>
                           <span id="span_{{ item }}">+</span>&nbsp;{{ item._path }}<br/>
                            {% if item._path != item._name %}
                            (<strong>Item-Name:</strong> {{ item._name }})
                            {%endif%}
                        </td>
                        <td>{{ item() }}</td>
                    </tr>
                    <tr id="{{ item }}" style="visibility: hidden; display: none;">
                        <td colspan="2">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Attribut:</th>
                                    <th>Wert:</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for attribute in item.__dict__.keys() %}
                                <tr>
                                    <td>{{ attribute }}
                                    </td>
                                    <td>{{ item[attribute] }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>no data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
