 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
	{{ nav }}
{% endblock navbar %}

{% block content %}
    <style>
    li.L0, li.L1, li.L2, li.L3,
    li.L5, li.L6, li.L7, li.L8
    { list-style-type: decimal !important }
    </style>
	<div class="container" style="width: 90%;">
    <h3>SmarthomeNG Logfile:</h3><br/>
    </div>
    <div class="container"><pre class="prettyprint linenums" style="max-height: 600px;">
{% if log_lines %}{% for line in log_lines %}{{ line }}
{% endfor %}{% else %}no data available{% endif %}</pre></div>
{% endblock %}

