<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ _('Logger Name') }}</th>
                    <th>{{ _('disabled') }}</th>
                    <th>{{ _('Level') }}</th>
                    <th>{{ _('filters') }}</th>
                    <th>{{ _('handlers') }}</th>
                </tr>
                <tr>
                    <th>root</th>
                    <th>{{ logging.root.disabled }}</th>
                    {% if logging.root.level == 0 %}
                    <th></th>
                    {% elif logging.root.level in logging._levelToName %}
                    <th>{{ logging._levelToName[logging.root.level] }}</th>
                    {% else %}
                    <th>{{ logging.root.level }}</th>
                    {% endif %}

                    <th>{% for f in logging.root.filters %}
                        {{ f.__class__.__name__ }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </th>
                    <th>{% for h in logging.root.handlers %}
                        {{ h.__class__.__name__ }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </th>
                </tr>

            </thead>
            <tbody>
                {% if smarthome %}
                    {% for l in loggerDict_sorted  %}
                    {% if (logging.getLogger(l).level > 0) or (logging.getLogger(l).handlers != []) %}
                    <tr>
                        <td>{{ logging.getLogger(l).name }}</td>
                        <td>{{ logging.getLogger(l).disabled }}</td>
                        {% if logging.getLogger(l).level == 0 %}
                        <td></td>
                        {% elif logging.getLogger(l).level in logging._levelToName %}
                        <td>{{ logging._levelToName[logging.getLogger(l).level] }}</td>
                        {% else %}
                        <td>{{ logging.getLogger(l).level }}</td>
                        {% endif %}

                        <td>{% for f in logging.getLogger(l).filters %}
                            {{ f.__class__.__name__ }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{% for h in logging.getLogger(l).handlers %}
                            {{ h.__class__.__name__ }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>{{ _('no data available') }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}