<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped table-hover loggerList">
            <thead>
                <tr>
                    <th>{{ _('logger name') }}</th>
                    <th>{{ _('disabled') }}</th>
                    <th>{{ _('level') }}</th>
                    <th>{{ _('filters') }}</th>
                    <th>{{ _('handlers') }}</th>
                    <th>{{ _('logfiles') }}</th>
                </tr>
                
            </thead>
            <tbody>
                {% for l in loggers  %}
                <tr>
                    {% if l.name == 'root' %}
                        <th>{{ l.name }}</th>
                        <th>{{ l.disabled }}</th>
                        <th>{{ l.level }}</th>
                    {% else %}
                        <td>{{ l.name }}</td>
                        <td>{{ l.disabled }}</td>
                        <td>{{ l.level }}</td>
                    {% endif %}
                    <td>{% for f in l.filters %}
                        {% if (f != '') and (not loop.first) %}, {% endif %}
                        {{ f }}
                        {% endfor %}
                    </td>
                    <td>{% for h in l.handlers %}
                        {% if (h != '') and (not loop.first) %}, {% endif %}
                        {{ h }}
                        {% endfor %}
                    </td>
                    <td>{% for fn in l.filenames %}
                        {% if (fn != '') and (not loop.first) %}, {% endif %}
                        <a href="log_view.html?logfile={{ get_basename(fn) }}">{{ fn }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}