 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
	{{ nav }}
{% endblock navbar %}

{% block content %}
 <style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
</style>
	<div class="container" style="width: 90%;">
    <h3>SmarthomeNG Logik:</h3><br/>
    </div>
    <div class="container"><pre class="pre-scrollable prettyprint lang-py linenums">{% if logic_lines %}
{% for line in logic_lines %}{{ line }}
{% endfor %}{% else %}no data available{% endif %}</pre></div>
{% endblock %}

