 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('Dienst') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Aktion') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/static/img/home.svg" width="48" height="48"></td>
                    <td><pre>{{ smarthome_service }}</pre>
                    </td>
                    <td>{% if knxd_active %}
                            <form class="navbar-form navbar-left" action="/stop_smarthome" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('smarthomeNG beenden','button') }}"></input>
                            </form>
                        {% else %}
                            <form class="navbar-form navbar-left" action="/start_smarthome" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('smarthomeNG starten','button') }}"></input>
                            </form>
                        {% endif %}</td>
                </tr>

                <tr>
                    <td><img src="/static/img/knxd_service.png" width="48" height="48"></td>
                    <td><pre>{{ knxd_service }}</pre>
                    </td>
                    <td>{% if knxd_active %}
                            <form class="navbar-form navbar-left" action="/stop_knxd_service" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('knxd service beenden','button') }}"></input>
                            </form>
                        {% else %}
                            <form class="navbar-form navbar-left" action="/start_knxd" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('knxd service starten','button') }}"></input>
                            </form>
                        {% endif %}</td>
                </tr>
                <tr>
                    <td><img src="/static/img/knxd_socket.png" width="48" height="48"></td>
                    <td><pre>{{ knxd_socket }}</pre>
                    </td>
                    <td>{% if knxd_active %}
                            <form class="navbar-form navbar-left" action="/stop_knxd" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('knxd socket beenden','button') }}"></input>
                            </form>
                        {% else %}
                            <form class="navbar-form navbar-left" action="/start_knxd" method="post">
                            <input type="submit" class="btn btn-default" value="{{ _('knxd socket starten','button') }}"></input>
                            </form>
                        {% endif %}</td>
                </tr>
                <tr>
                    <td><img src="/static/img/reboot.svg" width="48" height="48"></td>
                    <td><form class="navbar-form navbar-left" action="/reboot" method="post">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" maxlength="128" placeholder="{{ _('Root-Passwort') }}"></input>
                        </div>
                            <input type="submit" class="btn btn-default" value="{{ _('Neu starten','button') }}"></input>
                        </form>
                    </td>
                    <td>{% if rbt1 %}
                            {{ rbt1 }}
                        {% else %}

                        {% endif %}</td>
                </tr>
                <tr>
                    <td><img src="/static/img/logfile.svg" width="48" height="48"></td>

                    <td>
                        <div class="navbar-form navbar-left"><span class="btn btn-default" onclick="window.open('/log_dump.html')">{{ _('Logfile speichern','button') }}</span></div>
                        <div class="navbar-form navbar-left"><span class="btn btn-default" onclick="location.href='/log_view.html'">{{ _('Logfile ansehen','button') }}</span></div>
                    </td>
                    <td></td>
                </tr>
                {% if sql_plugin %}
                <tr>
                    <td><img src="/static/img/db_backup.svg" width="48" height="48"></td>
                    <td><div class="navbar-form navbar-left"><span class="btn btn-default" onclick="window.open('/db_dump.html')">{{ _('Datenbank-Dump','button') }}</span></div></td>
                    <td></td>
                </tr>
                {% endif %}
                <tr>
                    <td><img src="/static/img/languages.svg" width="48" height="48"></td>

                    <td>
						  {% if develop %}
                          <div class="navbar-form navbar-left"><span class="btn btn-default" onclick="location.href='/reload_translation.html'">{{ _('Übersetzung neu laden','button') }}</span></div>
						  {% endif %}
                          <select id="language" class="form-control" onChange="location.href='/reload_translation.html?lang='+$('#language').val()" style="width: 250px; margin-top: 8px;">
                            <option {% if lang=='de' %}selected{% endif %} value="de">{% if lang!='de' %}{{ _('Auf Deutsch wechseln') }}{% else %}{{ _('Deutsch','button') }}{% endif %}</option>
                            <option {% if lang=='en' %}selected{% endif %} value="en">{% if lang!='en' %}{{ _('Auf Englisch wechseln') }}{% else %}{{ _('Englisch','button') }}{% endif %}</option>
                            <option {% if lang=='fr' %}selected{% endif %} value="fr">{% if lang!='fr' %}{{ _('Auf Französisch wechseln') }}{% else %}{{ _('Französisch','button') }}{% endif %}</option>
                          </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="/static/img/cache.svg" width="48" height="48"></td>

                    <td>
                        <div class="navbar-form navbar-left">
                            <span class="btn btn-default" onclick="checkCache()">{{ _('Cacheprüfung','button') }}</span>
                            <div id="cache_check" style="margin-top: 5px; width: 900px;"></div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
<script type="text/javascript" language="javascript">
function checkCache() {
    $.getJSON("/cache_check_json.html", function(result) {
        var temp = '<div class="table-responsive">{{ _('Dateien ohne zugehöriges Item im /var/cache Verzeichnis') }}: '+result.length+'<table class="table table-striped" style="border: 1px solid #ccc;">';
        temp = temp+'<thead><tr><th style="width: 550px;">{{ _('Dateiname') }}</th><th>{{ _('Letzte Modifikation') }}</th><th>{{ _('Erstellungsdatum') }}</th></td></thead><tbody>';
        $.each(result, function(index, element) {
            temp = temp + '<tr><td>'+element.filename+'</td><td>'+element.last_modified+'</td><td>'+element.created+'</td></tr>';
        });
        temp = temp + '</tbody></table></div>';
        $('#cache_check').html(temp);
    });
}
</script>
{% endblock %}
