 <!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
    {{ nav }}
{% endblock navbar %}

{% block content %}
 <ul class="nav nav-tabs">
  <li id="tab_systemproperties" class="active"><a href="#">{{ _('Systemeigenschaften') }}</a></li>
  <li id="tab_pypi" class="disabled">
      <a href="#">
          {{ _('PyPI Check') }}
          <i id="spinner" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
  </a></li>
 </ul>

 <div id="systemproperties">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 100px;"></th>
                    <th>{{ _('Eigenschaft') }}</th>
                    <th>{{ _('Status') }}</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td><img src="static/img/logo_small_76x76.png" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('SmartHomeNG Version') }}:</td>
                <td style="vertical-align: middle;">{{ sh_vers }}&nbsp;{{ _('in') }}&nbsp;{{ sh_dir }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ _('Benutzer') }}:&nbsp;{{ user }}</td>
            </tr>
            <tr>
                <td><img src="static/img/logo_small_76x76.png" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('SmartHomeNG Plugins Version') }}:</td>
                <td style="vertical-align: middle;">{{ plg_vers }}&nbsp;{{ _('in') }}&nbsp;{{ sh_dir }}/plugins</td>
            </tr>
            <tr>
                <td><img src="static/img/terminal-server.svg" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">Host:</td>
                <td style="vertical-align: middle;">{{ node }}&nbsp;&nbsp;-&nbsp;&nbsp;IPv4: {{ ip }}<!--&nbsp;&nbsp;-&nbsp;&nbsp;IPv6: {{ ipv6 }}--></td>
            </tr>
            <tr>
                <td><img src="static/img/tux_hdd.svg" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('Betriebssystem') }}:</td>
                <td style="vertical-align: middle;">{{ system }} {{ vers }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ _('Architektur') }}:&nbsp;{{ arch }}</td>
            </tr>
            <tr>
                <td><img src="static/img/python.png" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('Python Version') }}:</td>
                <td style="vertical-align: middle;">{{ pyversion }}</td>
            </tr>
            <tr>
                <td><img src="static/img/hd.svg" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('Freier Speicher') }}:</td>
                <td style="vertical-align: middle;">{{ (freespace)|round|int }} MByte</td>
            </tr>
            <tr>
                <td><img src="static/img/clock.svg" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('Datum') }} / {{ _('Zeit') }}:</td>
                <td style="vertical-align: middle;">{{ now }}</td>
            </tr>
            <tr>
                <td><img src="static/img/preferences.svg" style="width: 36px; height: 36px; margin-left: 40px;"></td>
                <td style="vertical-align: middle;">{{ _('Betriebszeit') }}:</td>
                <td style="vertical-align: middle;">Host:&nbsp;{{ uptime }}&nbsp;&nbsp;-&nbsp;&nbsp;SmartHomeNG:&nbsp;{{ sh_uptime }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<div id="pypi" style="display: none;">
    <div class="table-responsive" >
        <table id="package_check" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 15%;">Python Package</th>
                    <th style="width: 15%;">{{ _('installierte Version') }}</th>
                    <th style="width: 55%;">{{ _('Anforderungen') }}</th>
                    <th style="width: 15%;">{{ _('Neuste Version') }} (PyPI)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
 <script>
$('#tab_systemproperties').on('click', function(event){
	$('#tab_pypi').removeClass('active');
	$('#tab_systemproperties').addClass('active');
	$('#pypi').hide();
	$('#systemproperties').show();
});
$('#tab_pypi').on('click', function(event){
	$('#tab_systemproperties').removeClass('active');
	$('#tab_pypi').addClass('active');
	$('#systemproperties').hide()
	$('#pypi').show();
});

$.getJSON('pypi.json', function(result) {
    $.each(result, function(index, element) {
        if (index == 0) {
            oldSort = element['sort'].substr(0,1);
            newSort = element['sort'].substr(0,1);
        } else {
            oldSort = newSort;
            newSort = newSort = element['sort'].substr(0,1);
        }
        if (oldSort != newSort) {
            $('#package_check').find("tbody").append("<tr><td style=\"height: 2px; background:#333;\" colspan=\"4\"></td></tr>");
        }

        if (element['vers_ok']) {
            fontColor = "green";
        } else {
            fontColor = "red";
        }
        if (element['pypi_forreq_ok']) {
            fontColorPyPi = "green";
        } else {
            fontColorPyPi = "red";
        }
        fontWeight = '';
        if (element['required']) {
            fontWeight = "font-weight: bold;";
        }
        reqString = '-';
        if (element['vers_req_min'] != '') {
            reqString = "min: "+element['vers_req_min'];
        }
        if (element['vers_req_max'] != '') {
            reqString += "max: "+element['vers_req_min'];
        }

        $('#package_check').find("tbody").append(
        "<tr><td style=\""+fontWeight+"\">"+element['name']+"</td>"+
        "<td style=\"color: "+fontColor+"\">"+element['vers_installed']+"</td>"+
        "<td>"+reqString+"</td>"+
        "<td style=\"color: "+fontColorPyPi+"\">"+element['pypi_version']+"</td></tr>");
    });
    $('#spinner').hide();
    $('#tab_pypi').removeClass("disabled");
});
/*
package['name'] = ''
package['required'] = False
package['vers_installed'] = ''
package['vers_req_min'] = ''
package['vers_req_max'] = ''
package['vers_ok'] = False
package['pypi_version'] = ''
package['pypi_forreq_ok'] = True
package['pypi_version_available'] = ''
package['sort'] = ...
*/
</script>
{% endblock %}
