<!DOCTYPE html>
{% extends "base.html" %}
{% import "navbar.html" as nav with context %}
{% block navbar %}
	{{ nav }}
{% endblock navbar %}

{% block content %}
<script src="static/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="static/css/codemirror_custom.css">
<script src="static/codemirror/mode/python/python.js"></script>
<script src="static/codemirror/mode/yaml/yaml.js"></script>
<script src="static/codemirror/addon/display/rulers.js"></script>

<style>
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
</style>

<form name="input" action="yaml_syntax_checker.html" method="POST" enctype="multipart/form-data">
    <div class="container" style="width: 100%;">
		<div style="width: 48%; float: left; border: 1px solid #ccc; margin-bottom: 10px; margin-right: 5px;">
			<div title="{{ _('Hier den YAML Code eingeben, der geprüft werden soll.') }}">
    		    <div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Eingabe im .YAML Format') }}</div>
				<textarea id="yaml_code" name="yaml_code">{{ yaml_code }}</textarea>
			</div>
		</div>
    	<div style="width: 48%; float: left; border: 1px solid #ccc; margin-bottom: 10px;">
			<div title="{{ _('Hier wird das Ergebnis Ausdruck angezeigt.') }}">
				{% if output_format == 'python' %}
	        		<div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Ergebnis: Aufbereitet als Python Source Code') }}</div>
				{% else %}
	        		<div style="font-weight: bold; padding-left: 5px; border-bottom: 2px solid #ccc;">{{ _('Ergebnis: Aufbereitetes .YAML Format') }}</div>
				{% endif %}
    		    <textarea id="check_result" autocomplete="off" name="check_result">{{ check_result }}</textarea>
		    </div>
	    </div>
    </div>
    <div class="container" style="width: 100%;">
	    <input name="check" value="{{ _('Prüfen','button') }}" type="submit" class="btn btn-default btn-xs">
		{% if develop %}
		    <input name="check2" value="{{ _('Prüfen','button') }} ({{ _('Python Code Ausgabe') }})" type="submit" class="btn btn-default btn-xs">
		{% endif %}
    </div>
</form>
<script>
     var rulers = [];
     for (var i = 1; i <= 100; i++) {
        rulers.push({color: '#eee', column: i * 4, lineStyle: "dashed"});
     }

     var myCodeMirrorConf = CodeMirror.fromTextArea(document.getElementById("yaml_code"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: false,
        indentWithTabs: false,
        mode: "yaml"
     });
     var myCodeMirrorYaml = CodeMirror.fromTextArea(document.getElementById("check_result"), {
        lineNumbers: true,
        lineSeparator: '\n',
        indentUnit: 4,
        rulers: rulers,
        lineWrapping: false,
        indentWithTabs: false,
        readOnly: true,
        mode: "{{ output_format }}"
     });

     function resizeCodeMirrors() {
        if (!myCodeMirrorConf.getOption("fullScreen")) {
            var browserHeight = $( window ).height();
            offsetTop = $('.CodeMirror').offset().top;
            myCodeMirrorConf.getScrollerElement().style.maxHeight = ((-1)*(offsetTop) -60 + browserHeight)+ 'px';
            myCodeMirrorConf.refresh();
        }
        if (!myCodeMirrorYaml.getOption("fullScreen")) {
            var browserHeight = $( window ).height();
            offsetTop = $('.CodeMirror').offset().top;
            myCodeMirrorYaml.getScrollerElement().style.maxHeight = ((-1)*(offsetTop) -60 + browserHeight)+ 'px';
            myCodeMirrorYaml.refresh();
        }
     }

     window.addEventListener("resize", resizeCodeMirrors, false);
     resizeCodeMirrors();
</script>
{% endblock %}
