{% extends "base_plugin.html" %}

{% set logo_frame = false %}


{%- block scripts %}
{{ super() }}
<script src="/gstatic/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
{%- endblock scripts %}

{%- block pluginscripts %}
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    try {
      /* get pagelength from plugin. Also see hidden span element in bodytab1 block! */
      webif_pagelength = parseInt(document.getElementById('webif_pagelength').innerHTML);
      if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
        console.log('Activating automatic table resize');
      }
      else {
        resize = false;
      }
    }
    catch (e) {
      webif_pagelength = 100;
      resize = false;
      console.log("Using default values for page length " + webif_pagelength + ", pageResize: " + resize);
    }
		try {
      itemtable = $('#itemtable').DataTable( {
        pageResize: resize,
        pageLength: webif_pagelength});
      detailtable = $('#item_details_table').DataTable( {
        pageLength: webif_pagelength,
        order: [[1, 'desc']],
        createdRow: function (row, data, index) {
            $('td', row).addClass('py-1 truncate');
            this.api().columns.adjust();
            this.api().fixedHeader.adjust();
            this.api().responsive.recalc();
        },
        pageResize: resize});
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>

{%- endblock pluginscripts %}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="/gstatic/bootstrap-datepicker/css/bootstrap-datepicker.min.css" type="text/css"/>
<!-- <link rel="stylesheet" type="text/css" href="static/datatables.css"> -->
<style>
    .duration {
    text-align:right;}
    .hidden {
    display:none;}
</style>
{%- endblock styles %}

{% block headtable %}
<span id='webif_pagelength' style="display:none">{{ webif_pagelength }}</span>
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" width="150px"><strong>{{ _('Verbunden') }}</strong></td>
			<td class="py-1">{% if p._db._connected %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td class="py-1" width="150px"><strong>{{ _('Treiber') }}</strong></td>
			<td class="py-1">{{ p.driver }}</td>
			<td class="py-1"></td>
			<td class="py-1"></td>
		</tr>
		{% set first = True %}
		{% for key, value in p._db._params.items() %}
			{% if loop.index % 4 == 0 %}
				<tr>
				{% endif %}
					{% if key != "passwd" %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{{ value }}</td>
					{% else %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{% for letter in value %}*{% endfor %}</td>
					{% endif %}
					{% if loop.index % 3 > 0 and loop.last %}
						<td class="py-1" colspan="{{ loop.index % 3 }}"></td>
					{% endif %}
				{% if loop.index % 4 == 0 and not first %}
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endblock headtable %}

{% set tab2title = _('Plugin-API') %}
{% block bodytab2 %}
    <div class="container ml-1 pl-1 mr-1 pr-1">
    {%  for function, dict in p.metadata.plugin_functions.items() %}
        <div class="card mb-2">
          <div class="card-header p-2">
              <strong>{{ dict['type'] }} {{ function }}({% if 'parameters' in dict %}{% if dict['parameters'] is not none %}{%  for name, paramdict in dict['parameters'].items() %}{{  name }}: {{ paramdict['type'] }}{% endfor %}{% endif %}{% endif %})</strong>
          </div>
          <div class="card-body p-2">
              {{ dict['description'][language] }}<br/>
              {%  if 'parameters' in dict %}
                  {% if dict['parameters'] is not none %}
                      <div class="card mt-2">
                          <div class="card-header p-2">
                            <strong>{{ _('Parameter') }}:</strong>
                          </div>
                          <div class="card-body p-2">
                              <ul class="list-group">
                              {%  for name, paramdict in dict['parameters'].items() %}
                                <li class="list-group-item p-2">
                                    <strong>{{  name }}: {{ paramdict['type'] }}</strong><br/>
                                {{ paramdict['description'][language] }}
                                </li>
                              {% endfor %}
                              </ul>
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock bodytab2 %}
