{% extends "base_plugin.html" %}
{% set logo_frame = false %}
{%- block pluginscripts %}
<script src="/gstatic/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
      {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
      console.log('pagelength ' + webif_pagelength);
      if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
        resize = true;
        webif_pagelength = -1;
        console.log('Activating automatic table resize ' + webif_pagelength);
      }
      else {
        resize = false;
      }

		try {
      itemtable = $('#itemtable').DataTable( {
        pageResize: resize,
        columnDefs: [
        { responsivePriority: 1, targets: 1 },
        { responsivePriority: 3, targets: 4 },
        { responsivePriority: 2, targets: -1 },
        { className: "item", targets: 1 },
        { className: "init", targets: 2 },
        { className: "type", targets: 3 },
        { className: "value", targets: 4 },
        { className: "id", targets: 5, render: $.fn.dataTable.render.number('.', ',', 0, '')  },
        { className: "logcount", targets: 6, render: $.fn.dataTable.render.number('.', ',', 0, '') },
        { className: "maxage", targets: -2 },
        { className: "no-sort actions", targets: -1 }
        ].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength});
      {%  if p.count_logentries %}
      orphantable = $('#orphantable').DataTable( {
        pageResize: resize,
        columnDefs: [
        { responsivePriority: 1, targets: 1 },
        { responsivePriority: 2, targets: 2 },
        { className: "item", targets: 1 },
        { className: "time", targets: 2 },
        { className: "type", targets: 3 },
        { className: "id", targets: 4, render: $.fn.dataTable.render.number('.', ',', 0, '')  },
        { className: "logcount", targets: 5, render: $.fn.dataTable.render.number('.', ',', 0, '') },
        ].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength});
      {% else %}
      orphantable = $('#orphantable').DataTable( {
        pageResize: resize,
        columnDefs: [
        { responsivePriority: 1, targets: 1 },
        { responsivePriority: 2, targets: 2 },
        { className: "item", targets: 1 },
        { className: "time", targets: 2 },
        { className: "type", targets: 3 },
        { className: "id", targets: 4, render: $.fn.dataTable.render.number('.', ',', 0, '')  },
        ].concat($.fn.dataTable.defaults.columnDefs),
        pageLength: webif_pagelength});
      {% endif %}

      detailtable = $('#item_details_table').DataTable( {
        pageLength: webif_pagelength,
        order: [[2, 'desc']],
        columnDefs: [
        { responsivePriority: 1, targets: 1 },
        { responsivePriority: 2, targets: 2 },
        { responsivePriority: 3, targets: -1 },
        { className: "id", targets: 1 },
        { className: "time", targets: 2 },
        { className: "duration", targets: 3 },
        { className: "value", targets: 4 },
        { className: "time", targets: 5 },
        { className: "no-sort actions", targets: -1 }
        ].concat($.fn.dataTable.defaults.columnDefs),
        createdRow: function (row, data, index) {
            $('td', row).addClass('py-1 truncate');
            this.api().columns.adjust();
            this.api().fixedHeader.adjust();
            this.api().responsive.recalc();
        },
        pageResize: resize});
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>
{%- endblock pluginscripts %}

{%- block pluginstyles %}
<link rel="stylesheet" href="/gstatic/bootstrap-datepicker/css/bootstrap-datepicker.min.css" type="text/css"/>
<style>
    .hidden {
      display:none;}
    .logcount {
      width: 100px;
      text-align:right;
    }
    .duration {
      width: 60px;
      text-align:right;
    }
    .time {
      width: 150px;
    }
    .actions {
      width: 110px;
    }
    .maxage {
      width: 230px;
    }
    .id {
      width: 50px;
      text-align:right;
    }
    .value {
      width: 120px;
    }
    .type {
      width: 80px;
    }
    .init {
      width: 50px;
    }
</style>
{%- endblock pluginstyles %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" width="150px"><strong>{{ _('Verbunden') }}</strong></td>
			<td class="py-1">{% if p._db._connected %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td class="py-1" width="150px"><strong>{{ _('Treiber') }}</strong></td>
			<td class="py-1">{{ p.driver }}</td>
			<td class="py-1"></td>
			<td class="py-1"></td>
		</tr>
		<tr>
			<td class="py-1" width="150px"><strong>{{ _('Cleanup ist aktiv') }}</strong></td>
			<td class="py-1">{% if p.remove_orphan %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td class="py-1" width="150px"><strong></strong></td>
			<td class="py-1"></td>
			<td class="py-1"></td>
			<td class="py-1"></td>
		</tr>
		{% set first = True %}
		{% for key, value in p._db._params.items() %}
			{% if loop.index % 4 == 0 %}
				<tr>
				{% endif %}
					{% if key != "passwd" %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{{ value }}</td>
					{% else %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1" onclick="document.getElementById('pwd').innerHTML = '{{ value }}'"><span id="pwd" title="Click to show password">{% for letter in value %}*{% endfor %}</span></td>

					{% endif %}
					{% if loop.index % 3 > 0 and loop.last %}
						<td class="py-1" colspan="{{ loop.index % 3 }}"></td>
					{% endif %}
				{% if loop.index % 4 == 0 and not first %}
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endblock headtable %}

{% set tab2title = _('Plugin-API') %}
{% block bodytab2 %}
    <div class="container ml-1 pl-1 mr-1 pr-1">
    {%  for function, dict in p.metadata.plugin_functions.items() %}
        <div class="card mb-2">
          <div class="card-header p-2">
              <strong>{{ dict['type'] }} {{ function }}({% if 'parameters' in dict %}{% if dict['parameters'] is not none %}{%  for name, paramdict in dict['parameters'].items() %}{{  name }}: {{ paramdict['type'] }}{% endfor %}{% endif %}{% endif %})</strong>
          </div>
          <div class="card-body p-2">
              {{ dict['description'][language] }}<br/>
              {%  if 'parameters' in dict %}
                  {% if dict['parameters'] is not none %}
                      <div class="card mt-2">
                          <div class="card-header p-2">
                            <strong>{{ _('Parameter') }}:</strong>
                          </div>
                          <div class="card-body p-2">
                              <ul class="list-group">
                              {%  for name, paramdict in dict['parameters'].items() %}
                                <li class="list-group-item p-2">
                                    <strong>{{  name }}: {{ paramdict['type'] }}</strong><br/>
                                {{ paramdict['description'][language] }}
                                </li>
                              {% endfor %}
                              </ul>
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock bodytab2 %}
