{% extends "base_plugin.html" %}
{% set tab2title = _('Plugin-API') %}
{% set language = p.get_sh().get_defaultlanguage() %}

{%- block scripts %}
{{ super() }}
<script src="/gstatic/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/dist/locales/bootstrap-datepicker.de.min.js"></script>
<script src="/gstatic/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js"></script>
{%- endblock scripts %}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="/gstatic/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" type="text/css"/>
{%- endblock styles %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" width="150px"><strong>{{ _('Verbunden') }}</strong></td>
			<td class="py-1">{% if p._db._connected %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td class="py-1"></td>
			<td class="py-1"></td>
			<td class="py-1"></td>
			<td class="py-1"></td>
		</tr>
		{% set first = True %}
		{% for key, value in p._db._params.items() %}
		{% if loop.index % 4 == 0 %}
		<tr>
		{% endif %}
			{% if key != "passwd" %}
			<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{{ value }}</td>
			{% else %}
			<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{% for letter in value %}*{% endfor %}</td>
			{% endif %}
			{% if loop.index % 3 > 0 and loop.last %}
				<td class="py-1" colspan="{{ loop.index % 3 }}"></td>
			{% endif %}
		{% if loop.index % 4 == 0 and not first %}
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endblock headtable %}

{% block bodytab2 %}
    <div class="container ml-1 pl-1 mr-1 pr-1">
    {%  for function, dict in p.metadata.plugin_functions.items() %}
        <div class="card mb-2">
          <div class="card-header p-2">
              <strong>{{ dict['type'] }} {{ function }}({% if 'parameters' in dict %}{% if dict['parameters'] is not none %}{%  for name, paramdict in dict['parameters'].items() %}{{  name }}: {{ paramdict['type'] }}{% endfor %}{% endif %}{% endif %})</strong>
          </div>
          <div class="card-body p-2">
              {{ dict['description'][language] }}<br/>
              {%  if 'parameters' in dict %}
                  {% if dict['parameters'] is not none %}
                      <div class="card mt-2">
                          <div class="card-header p-2">
                            <strong>{{ _('Parameter') }}:</strong>
                          </div>
                          <div class="card-body p-2">
                              <ul class="list-group">
                              {%  for name, paramdict in dict['parameters'].items() %}
                                <li class="list-group-item p-2">
                                    <strong>{{  name }}: {{ paramdict['type'] }}</strong><br/>
                                {{ paramdict['description'][language] }}
                                </li>
                              {% endfor %}
                              </ul>
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock bodytab2 %}