<!DOCTYPE html>
{% extends "base_plugin.html" %}
{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Verbunden</strong></td>
			<td class="py-1">{% if p._db._connected %}Ja{% else %}Nein{% endif %}</td>
			<td class="py-1" width="300px"></td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Parameter</strong></td>
			<td class="py-1">
			{% for key, value in p._db._params.items() %}
				{% if key != "passwd" %}
				{{ key }}: {{ value }}
				{% else %}
				{{ key }}:  ********
				{% endif %}<br/>
				{% endfor %}
			</td>
			<td class="py-1" width="300px"></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}
{% block buttons %}
<button type="button" class="btn btn-shng btn-sm" onclick="window.open('db.dump')">Datenbank-Dump</button>
{% endblock %}
{% block bodytab1 %}
<div class="mb-2">
The following items are assigned to this instance of the database plugin:
</div>
<table class="table table-striped table-hover pluginList">
	<thead>
	<tr>
		<th>Pfad</th>
		<th>Wert</th>
		<th>Item-ID in der Datenbank</th>
		<th>Aktionen</th>
	</tr>
	</thead>
{% for item in sh.return_items() %}
	{% if p.has_iattr(item.conf, 'database') %}
	<tr>
		<td class="py-1">{{ item._path }}</td>
		<td class="py-1">{{ item() }}</td>
		<td class="py-1">{{ p.id(item, create=False) }}</td>
		<td class="py-1"><button type="button" class="btn btn-shng btn-sm" onclick="window.open('item.csv?item_id={{ p.id(item, create=False) }}')">CSV</button></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
{% endblock %}