{% extends "base_plugin.html" %}
{% set update_interval = 2000 %}
{% block pluginscripts %}
<script>
	function mainpage() {
	  var url = window.location.href;
	  var page = url.substring(url.lastIndexOf('/') + 1);
	  var final = url.replace(page, '');
	  if ( url.includes("?action=") ) {
		window.location.href = final;
	  };
	}
	document.addEventListener("DOMContentLoaded", function() {
	  mainpage();
	});
</script>

<script>
    $(document).ready( function () {
		$(window).trigger('datatables_defaults');
		try {
			{% if p.init.get_items('zone0')|length>0 %}
			$('#zone0').DataTable( {} );
			{% endif %}
			$('#querylog').DataTable( {responsive: false, order: [[0, 'desc']], columnDefs: [{ "width": "300px", "targets": 0 }].concat($.fn.dataTable.defaults.columnDefs)} );
			$('#commandlog').DataTable( {responsive: false, order: [[0, 'desc']], columnDefs: [{ "width": "300px", "targets": 0 }].concat($.fn.dataTable.defaults.columnDefs)} );
			$('#buffer').DataTable( {responsive: false, order: [[0, 'desc']], columnDefs: [{ "width": "300px", "targets": 0 }].concat($.fn.dataTable.defaults.columnDefs)} );
			{% if p.init.get_items('zone0')|length>0 %}
			$('#zone1').DataTable( {} );
			{% endif %}
			{% if p.init.get_items('zone0')|length>0 %}
			$('#zone2').DataTable( {} );
			{% endif %}
			{% if p.init.get_items('zone0')|length>0 %}
			$('#zone3').DataTable( {} );
			{% endif %}
			{% if p.init.get_items('zone0')|length>0 %}
			$('#zone4').DataTable( {} );
			{% endif %}
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " + e)
		}
        });
</script>
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var item in objResponse['item_values']) {
				shngInsertText (item+'_value', objResponse['item_values'][item]['value']);
			}
			if ( $.fn.dataTable.isDataTable('#querylog') ) {
			    query_table = $('#querylog').DataTable();
			}
			for (var item in objResponse['query']) {
				if (!document.getElementById(item+'_query')) {
					var delRow = query_table.rows( '#no_query' ).remove().draw();
					var newRow = query_table.row.add( [ item, objResponse['query'][item] ] ).draw().node();
					$(newRow).fadeIn();
					$('td:eq(0)', newRow).attr('id', item+'_query').addClass('py-1');
					$('td:eq(1)', newRow).attr('id', objResponse['query'][item]+'_query').addClass('py-1');
				}
			}
			if ( $.fn.dataTable.isDataTable('#commandlog') ) {
			    command_table = $('#commandlog').DataTable();
			}
			for (var item in objResponse['command']) {
				if (!document.getElementById(item+'_command')) {
					var delRow = command_table.rows( '#no_command' ).remove().draw();
					var newRow = command_table.row.add( [ item, objResponse['command'][item] ] ).draw().node();
					$(newRow).fadeIn();
					$('td:eq(0)', newRow).attr('id', item+'_command').addClass('py-1');
					$('td:eq(1)', newRow).attr('id', objResponse['command'][item]+'_command').addClass('py-1');
				}
			}
			shngInsertText ('sendcommands', objResponse['sendcommands']);
			shngInsertText ('sendingcommand', objResponse['sendingcommand']);
		}
	}
</script>
{% endblock pluginscripts %}

{% block pluginstyles %}
<link rel="stylesheet" href="static/avdevice.css" type="text/css"/>
{% endblock pluginstyles %}

{% set logo_frame = false %}


{% set item_count_zone0 = p.init.get_items('zone0')|length %}
{% set item_count_zone1 = p.init.get_items('zone1')|length %}
{% set item_count_zone2 = p.init.get_items('zone2')|length %}
{% set item_count_zone3 = p.init.get_items('zone3')|length %}
{% set item_count_zone4 = p.init.get_items('zone4')|length %}
{% set tab1title = "<strong>"+_('Debugging')+"</strong>" %}
{% set tab2title = "<strong>Zone 0 Items</strong> (" ~ item_count_zone0 ~ ")" %}
{% set tab3title = "<strong>Zone 1 Items</strong> (" ~ item_count_zone1 ~ ")" %}
{% set tab4title = "<strong>Zone 2 Items</strong> (" ~ item_count_zone2 ~ ")" %}
{% set tab5title = "<strong>Zone 3 Items</strong> (" ~ item_count_zone3 ~ ")" %}
{% set tab6title = "<strong>Zone 4 Items</strong> (" ~ item_count_zone4 ~ ")" %}

{% set tabcount = 2 %}
{% if item_count_zone1>0 %}
  {% set tabcount = 3 %}
{% endif %}
{% if item_count_zone2>0 %}
  {% set tabcount = 4 %}
{% endif %}
{% if item_count_zone3>0 %}
  {% set tabcount = 5 %}
{% endif %}
{% if item_count_zone4>0 %}
  {% set tabcount = 6 %}
{% endif %}

{% set start_tab = 1 %}


{% block headtable %}
{% if (p._tcp and 'TCP' not in p._is_connected) or (p._rs232 and 'Serial' not in p._is_connected) %}
  {% set conn_color = 'red' %}
{% else %}
  {% set conn_color = 'green' %}
{% endif %}

<table id="summary" class="table table-striped table-hover">
  <tbody>
    <tr>
      <td class="py-1 left-head"><strong>{{ _('Modell') }}</strong></td>
      <td class="py-1">{{ p.get_parameter_value_for_display('model').replace('models/', '').upper() }}</td>
      <td class="py-1"><strong style="color:{{ conn_color }};">{{ _('Verbindung') }}</strong></td>
      <td class="py-1" style="color:{{ conn_color }};">{% if p._rs232 %}{{ p._rs232 }}:{{ p._baud }}, {{ p._timeout }}
        {% else %}{{ p._tcp }}:{{ p._port }}, {{ p._tcp_timeout }}{% endif %}
        {{ p._is_connected }}
        {% if p._tcp and 'TCP' not in p._is_connected %}
        <button type="button" class="btn btn-shng btn-sm reload" title="{{ _('Verbindungsversuch TCP') }}" onclick="location.href='?action=connect';">C</button>
        {% elif p._rs232 and 'Serial' not in p._is_connected %}
        <button type="button" class="btn btn-shng btn-sm reload" title="{{ _('Verbindungsversuch RS232') }}" onclick="location.href='?action=connect';">C</button>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="py-1 header"><div class="oneliner"><strong>{{ _('Abhängig von') }}</strong></div></td>

      <td class="py-1 content"><div>{% if p._dependson %}{{ p._dependson.property.path }}{% else %}nichts{% endif %}
        {% if p._dependson and p._dependson_value %} = {{ p._dependson_value }}{% endif %}</div></td>
      <td class="py-1 header"><div class="oneliner"><strong>{{ _('0 wenn') }}</strong></div></td>
      <td class="py-1 content"><div>
        {% if p._depend0_power0 %}Power{% endif %}{% if p._depend0_power0 and p._depend0_volume0%}, {% endif %}
        {% if p._depend0_volume0 %}Volume{% endif %}
        {% if not p._depend0_volume0 and not p._depend0_power0 %}None{% endif %}</div></td>
    </tr>
    <tr>
      <td class="py-1 header"><div class="oneliner"><strong>{{ _('Ignorieren') }}</strong></div></td>
      <td class="py-1 content" colspan=3><div class="oneliner">{% if p._ignore_response %}{{ p._ignore_response }}
        {% else %}None{% endif %}</div></td>
    </tr>
  </tbody>
</table>
{% endblock headtable %}

{% block buttons %}

<button id="#reload" type="button" class="btn btn-shng btn-sm reload" title="{{ _('Config neuladen') }}" onclick="location.href='?action=reload';">Reload Config</button>

{% if config_reloaded %}
<div class="mb-2 alert alert-success alert-dismissible fade show" role="alert" style="position:fixed;">
    {{ _('Die Text-Datei mit den Kommands wurde neu geladen.') }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="mainpage();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% endblock buttons %}

{% block bodytab1 %}
<div class="container-fluid m-2 table-resize">
	<h3>{{ _('Abfrageprotokoll') }}&nbsp;
	<button id="#clear_query" type="button" class="btn btn-shng btn-sm reload" title="{{ _('Abfrageprotokoll löschen') }}" onclick="location.href='?action=clear_query_history';"><i class="fas fa-trash-alt"></i></button></h3>
<table id="querylog">
  <thead>
    <tr>
      <th>
        {% if query_cleared %}
          <div class="mb-2 alert alert-success alert-dismissible fade show" role="alert" style="top: 8px; left: 0px;z-index:1;width:200px;height:23px;margin:0;padding:0px 1px 1px 5px;position:relative">
              {{ _('Gelöscht') }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="mainpage();" style="margin:-2px 5px 0 0;padding:0;">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
      {% else %}
        <strong>{{ _('Zeit') }}</strong>
      {% endif %}
      </th>
      <th><strong>{{ _('Abfrage') }}</strong></th>
    </tr>
  </thead>
  <tbody>
      {% if p._send_history['query'].items() %}
          {% for key, value in p._send_history['query'].items() %}
              <tr>
                <td class="py-1" id="{{ key }}_query">{{key}}</td>
                <td class="py-1" id="{{ value }}_query">{{value}}</td>
              </tr>
           {% endfor %}
     {% else %}
      <tr id="no_query">
        <td class="py-1">-</td>
        <td class="py-1">{{ _('noch keine Abfrage gesendet') }}</td>
      </tr>
      {% endif %}
  </tbody>
</table>

<h3>{{ _('Kommandoprotokoll') }}&nbsp;
<button id="#clear_command" type="button" class="btn btn-shng btn-sm reload" title="{{ _('Empty Command History') }}" onclick="location.href='?action=clear_command_history';"><i class="fas fa-trash-alt"></i></button></h3>
<table id="commandlog">
  <thead>
    <tr>
      <th>
        {% if command_cleared %}
          <div class="mb-2 alert alert-success alert-dismissible fade show" role="alert" style="top: 8px; left: 0px;z-index:1;width:200px;height:23px;margin:0;padding:0px 1px 1px 5px;position:relative">
              {{ _('Gelöscht') }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="mainpage();" style="margin:-2px 5px 0 0;padding:0;">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
      {% else %}
        <strong>{{ _('Zeit') }}</strong>
      {% endif %}
      </th>
      <th><strong>{{ _('Kommando') }}</strong></th>
    </tr>
  </thead>
  <tbody>
        {% if p._send_history['command'].items() %}
            {% for key, value in p._send_history['command'].items() %}
              <tr>
                <td class="py-1" id="{{ key }}_command">{{ key }}</td>
                <td class="py-1" id="{{ value }}_command">{{ value }}</td>
              </tr>
            {% endfor %}
       {% else %}
        <tr id="no_command">
          <td class="py-1">-</td>
          <td class="py-1">{{ _('noch kein Kommando gesendet') }}</td>
        </tr>
        {% endif %}

  </tbody>
</table>

<h3>{{ _('Zwischenspeicher') }}&nbsp;
<button id="#clear_keep_commands" type="button" class="btn btn-shng btn-sm reload" title="{{ _('Empty Query History') }}" onclick="location.href='?action=clear_keep_commands';"><i class="fas fa-trash-alt"></i></button></h3>
<table id="buffer">
  <thead>
    <tr>
      <th>
        {% if keep_cleared %}
          <div class="mb-2 alert alert-success alert-dismissible fade show" role="alert" style="top: 8px; left: 0px;z-index:1;width:200px;height:23px;margin:0;padding:0px 1px 1px 5px;position:relative">
              {{ _('Gelöscht') }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="mainpage();" style="margin:-2px 5px 0 0;padding:0;">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
      {% else %}
        <strong>{{ _('Zeit') }}</strong>
      {% endif %}
      </th>
      <th><strong>{{ _('Kommando') }}</strong></th>
    </tr>
  </thead>
  <tbody>
        {% if p._keep_commands.items() %}
            {% for key, value in p._keep_commands.items() %}
              <tr>
                <td class="py-1" id="{{ key }}_buffer">{{ key }}</td>
                <td class="py-1" id="{{ value }}_buffer">{{ value }}</td>
              </tr>
            {% endfor %}
       {% else %}
        <tr>
          <td class="py-1">-</td>
          <td class="py-1">{{ _('noch kein Kommando gespeichert') }}</td>
        </tr>
        {% endif %}

  </tbody>
</table>

<h3>{{ _('Aktuelles') }}</h3>
<table id="current" class="table table-striped table-hover" style="margin-top:20px;">
  <tbody>
    <tr>
      <td class="py-1" style="width:200px"><strong>Sending Command</strong></td>
      <td class="py-1"id="sendingcommand">{{ p._sendingcommand }}</td>
    </tr>
    <tr>
      <td class="py-1" style="width:200px"><strong>Commandlist</strong>
      <button id="#clear_send" type="button" class="btn btn-shng btn-sm reload" title="{{ _('Liste mit Sendekommandos löschen') }}" onclick="location.href='?action=clear_send';"><i class="fas fa-trash-alt"></i></button>
      </td><td class="py-1">
      {% if command_cleared %}
        <div class="mb-2 alert alert-success alert-dismissible fade show" role="alert" style="top: 8px; left: 0px;z-index:1;width:200px;height:23px;margin:0;padding:0px 1px 1px 5px;position:relative">
            {{ _('Gelöscht') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="mainpage();" style="margin:-2px 5px 0 0;padding:0;">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
      {% else %}
      <div id="sendcommands">{{ p._send_commands }}</div>
      {% endif %}
      </td>
      </tr>

  </tbody>
</table>
</div>
{% endblock bodytab1 %}

{% block bodytab2 %}
<div class="container-fluid m-2 table-resize">
{% if item_count_zone0>0 %}
  <table id="zone0" class="dataTableAdditional">
    <thead>
    <tr>
			<th></th>
      <th>{{ _('Item') }}</th>
      <th>{{ _('Wert') }}</th>
      <th>{{ _('Abhängig von') }}</th>
    </tr>
    </thead>
	<tbody>
    {% for item in p.init.get_items('zone0') %}

      {% if p.has_iattr(item.conf, 'avdevice_zone0') or p.has_iattr(item.conf, 'avdevice') %}
        <tr>
					<td></td>
          <td class="py-1">{{ item._path }}</td>
          <td class="py-1" id="{{ item.id() }}_value">{{ item() }}</td>
          <td class="py-1">{{ p._logics_dependencies('zone0', item) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <div class="mb-2">
      {{ _('Es sind keine Items in dieser Zone definiert.') }}
    </div>
{% endif %}

</div>
{% endblock bodytab2 %}


<!--
  Content block for the second tab of the Webinterface
-->
{% block bodytab3 %}
<div class="container-fluid m-2 table-resize">
{% if item_count_zone1>0 %}
  <table id="zone1" class="dataTableAdditional">
    <thead>
    <tr>
			<th></th>
      <th>{{ _('Item') }}</th>
      <th>{{ _('Wert') }}</th>
      <th>{{ _('Abhängig von') }}</th>
    </tr>
    </thead>
	<tbody>
    {% for item in p.init.get_items('zone1') %}

      {% if p.has_iattr(item.conf, 'avdevice_zone1') %}
        <tr>
					<td></td>
          <td class="py-1">{{ item._path }}</td>
          <td class="py-1" id="{{ item.id() }}_value">{{ item() }}</td>
          <td class="py-1">{{ p._logics_dependencies('zone1', item) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <div class="mb-2">
      {{ _('Es sind keine Item in dieser Zone definiert.') }}
    </div>
{% endif %}
</div>
{% endblock bodytab3 %}

{% block bodytab4 %}
<div class="container-fluid m-2 table-resize">
{% if item_count_zone2>0 %}
  <table id="zone2" class="dataTableAdditional">
    <thead>
    <tr>
			<th></th>
      <th>{{ _('Item') }}</th>
      <th>{{ _('Wert') }}</th>
      <th>{{ _('Abhängig von') }}</th>
    </tr>
    </thead>
	<tbody>
    {% for item in p.init.get_items('zone2') %}

      {% if p.has_iattr(item.conf, 'avdevice_zone2') %}
        <tr>
					<td></td>
          <td class="py-1">{{ item._path }}</td>
          <td class="py-1" id="{{ item.id() }}_value">{{ item() }}</td>
          <td class="py-1">{{ p._logics_dependencies('zone2', item) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <div class="mb-2">
      {{ _('Es sind keine Item in dieser Zone definiert.') }}
    </div>
{% endif %}
</div>
{% endblock bodytab4 %}


{% block bodytab5 %}
<div class="container-fluid m-2 table-resize">
{% if item_count_zone3>0 %}
  <table id="zone3" class="dataTableAdditional">
    <thead>
    <tr>
			<th></th>
      <th>{{ _('Item') }}</th>
      <th>{{ _('Wert') }}</th>
      <th>{{ _('Abhängig von') }}</th>
    </tr>
    </thead>
	<tbody>
    {% for item in p.init.get_items('zone3') %}

      {% if p.has_iattr(item.conf, 'avdevice_zone3') %}
        <tr>
					<td></td>
          <td class="py-1">{{ item._path }}</td>
          <td class="py-1" id="{{ item.id() }}_value">{{ item() }}</td>
          <td class="py-1">{{ p._logics_dependencies('zone3', item) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <div class="mb-2">
      {{ _('Es sind keine Item in dieser Zone definiert.') }}
    </div>
{% endif %}
</div>
{% endblock bodytab5 %}

{% block bodytab6 %}
<div class="container-fluid m-2 table-resize">
{% if item_count_zone4>0 %}
  <table id="zone4" class="dataTableAdditional">
    <thead>
    <tr>
      <th>{{ _('Item') }}</th>
      <th>{{ _('Wert') }}</th>
      <th>{{ _('Abhängig von') }}</th>
    </tr>
    </thead>
	<tbody>
    {% for item in p.init.get_items('zone4') %}

      {% if p.has_iattr(item.conf, 'avdevice_zone4') %}
        <tr>
					<td></td>
          <td class="py-1">{{ item._path }}</td>
          <td class="py-1" id="{{ item.id() }}_value">{{ item() }}</td>
          <td class="py-1">{{ p._logics_dependencies('zone4', item) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <div class="mb-2">
      {{ _('Es sind keine Item in dieser Zone definiert.') }}
    </div>
{% endif %}
</div>
{% endblock bodytab6 %}
