{% extends "base_plugin.html" %}
{% set update_interval = 3000 %}
{% set logo_frame = false %}

{% block pluginscripts %}
<script>
    function handleUpdatedData(response, dataSet=null) {
        if (dataSet === null) {
            var objResponse = JSON.parse(response);
            {% for key, item in p.get_items().items() %}
                if ('{{key}}' == 'mower/status') {
                    if (objResponse['{{ item.id() }}_value'] == 0)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Status wird ermittelt');
                    if (objResponse['{{ item.id() }}_value'] == 1)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower parkt');
                    if (objResponse['{{ item.id() }}_value'] == 2)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower mäht');
                    if (objResponse['{{ item.id() }}_value'] == 3)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower sucht die Ladestation');
                    if (objResponse['{{ item.id() }}_value'] == 4)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower lädt');
                    if (objResponse['{{ item.id() }}_value'] == 5)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower sucht (wartet auf das Umsetzen im manuellen Modus)');
                    if (objResponse['{{ item.id() }}_value'] == 7)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Fehlerstatus');
                    if (objResponse['{{ item.id() }}_value'] == 8)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Schleifensignal verloren');
                    if (objResponse['{{ item.id() }}_value'] == 16)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower abgeschaltet');
                    if (objResponse['{{ item.id() }}_value'] == 17)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Automower schläft');

                } else if ('{{key}}' == 'mower/mode') {
                    if (objResponse['{{ item.id() }}_value'] == 0)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Auto');
                    if (objResponse['{{ item.id() }}_value'] == 1)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Manuell');
                    if (objResponse['{{ item.id() }}_value'] == 2)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Home');
                    if (objResponse['{{ item.id() }}_value'] == 3)
                        shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ': Demo');
                } else {
                    shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
                }
            shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
            shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}
            {% for key, items in p.get_battery_items().items() %}
                {%  for item in items %}
                    shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
                    shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
                    shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
                {% endfor %}
            {% endfor %}
        }
    }
</script>
{% endblock pluginscripts %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>IP</strong></td>
			<td class="py-1">{{ p.get_ip() }}</td>
            <td class="py-1"><strong>{{ _('Benutzer') }}</strong></td>
			<td class="py-1">{{ p.get_user() }}</td>
        </tr>
        <tr>
            <td class="py-1"><strong>{{ _('Mower an?') }}</strong></td>
			<td class="py-1">{{ not p._mower_offline }}</td>
            <td class="py-1"><strong>{{ _('Passwort') }}</strong></td>
			<td class="py-1">{{ p.get_parameter_value_for_display('password') }}</td>
		</tr>
        <tr>
            <td class="py-1"><strong>{{ _('Modus') }}</strong></td>
			<td class="py-1">
                {% if p._mode == 'api' %}Web API
                {% elif p._mode == 'mqtt' %}Web API + MQTT
                {% endif %}
            </td>
            <td class="py-1"></td>
			<td class="py-1"></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 1 %}
<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
    <table class="table table-striped table-hover pluginList">
        <thead>
            <tr class="shng_heading">
                <th>{{ _('Pfad') }}</th>
                <th>{{ _('Typ') }}</th>
                <th>{{ _('Robonect Datentyp') }}</th>
                <th>{{ _('Wert') }}</th>
                <th>{{ _('Letztes Update') }}</th>
                <th>{{ _('Letzter Change') }}</th>
            </tr>
        </thead>
        <tbody>
        <tr><td colspan="6"><strong>{{ _('Mower/Robonect-Informationen') }}</strong></td></tr>
        {% for key, item in p.get_items().items() %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}
                    {% if key in ['mower/mode', 'mower/status'] %}
                        {{ _(p.get_items()[key+'/text']()) }}
                    {% endif %}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="6"><strong>{{ _('Batterie-Informationen') }}</strong></td></tr>
        {% for key, items in p.get_battery_items().items() %}
            {% for item in items %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock bodytab1 %}
