{% extends "base_plugin.html" %}
{% set update_interval = 3000 %}
{% set logo_frame = false %}
{% set status_array = [0,1,2,3,4,5,6,7,8,16,17] %}
{% set mode_array = [0,1,2,3] %}

{% block pluginscripts %}
<script>
    function handleUpdatedData(response, dataSet=null) {
        if (dataSet === null) {
            var objResponse = JSON.parse(response);
            {% for key, item in p.get_items().items() %}
            shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
            shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
            shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}
            {% for key, item in p.get_status_items().items() %}
                {% if key == 'mower/status' %}{% for i in status_array %}
                        if (objResponse['{{ item.id() }}_value'] == {{ i }}) {
                            shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ' ({{ _(p.get_status_as_text(i)) }})'); }
                {% endfor %}{% elif key == 'mower/mode' %}{%  for i in mode_array %}
                        if (objResponse['{{ item.id() }}_value'] == {{ i }}) {
                            shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'] + ' ({{ _(p.get_mode_as_text(i)) }})'); }
                {% endfor %}{% else %}shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value']){% endif %}
            {% endfor %}
            {% for key, items in p.get_battery_items().items() %}{%  for item in items %}
                shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value'])
                shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
                shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}{% endfor %}
            {% for key, items in p.get_remote_items().items() %}{%  for item in items %}
                shngInsertText('{{ item.id() }}_value', objResponse['{{ item.id() }}_value']{% if key in ['remotestart_path'] and item() == 2%}+' ({{ _('Leitdraht') }})'{% endif %})
                shngInsertText ('{{ item.id() }}_last_update', objResponse['{{ item.id() }}_last_update'])
                shngInsertText ('{{ item.id() }}_last_change', objResponse['{{ item.id() }}_last_change'])
            {% endfor %}{% endfor %}
        }
    }
</script>
{% endblock pluginscripts %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>IP</strong></td>
			<td class="py-1">{{ p.get_ip() }}</td>
            <td class="py-1"><strong>{{ _('Benutzer') }}</strong></td>
			<td class="py-1">{{ p.get_user() }}</td>
        </tr>
        <tr>
            <td class="py-1"><strong>{{ _('Mower an?') }}</strong></td>
			<td class="py-1">{{ not p.is_mower_offline() }}</td>
            <td class="py-1"><strong>{{ _('Passwort') }}</strong></td>
			<td class="py-1">{{ p.get_parameter_value_for_display('password') }}</td>
		</tr>
        <tr>
            <td class="py-1"><strong>{{ _('Modus') }}</strong></td>
			<td class="py-1">
                {% if p._mode == 'api' %}Web API
                {% elif p._mode == 'mqtt' %}Web API + MQTT
                {% endif %}
            </td>
            <td class="py-1"><strong>{{ _('Cycle') }}</strong></td>
			<td class="py-1">{{ p.get_cycle() }}</td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 2 %}
<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
    <table class="table table-striped table-hover pluginList">
        <thead>
            <tr class="shng_heading">
                <th>{{ _('Pfad') }}</th>
                <th>{{ _('Typ') }}</th>
                <th>{{ _('Robonect Datentyp') }}</th>
                <th>{{ _('Wert') }}</th>
                <th>{{ _('Letztes Update') }}</th>
                <th>{{ _('Letzter Change') }}</th>
            </tr>
        </thead>
        <tbody>
        <tr><td colspan="6"><strong>{{ _('Mower/Robonect-Informationen') }}</strong></td></tr>
        {% for key, item in p.get_items().items()|sort(attribute='1.property.path') %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="6"><strong>{{ _('Status-Informationen') }}</strong></td></tr>
        {% for key, item in p.get_status_items().items()|sort(attribute='1.property.path') %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}{% if key in ['mower/mode', 'mower/status'] %} ({{ _(p.get_status_items()[key+'/text']()) }}){% endif %}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="6"><strong>{{ _('Batterie-(Detail)Informationen') }}</strong></td></tr>
        {% for key, items in p.get_battery_items().items() %}
            {% for item in items %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        <tr><td colspan="6"><strong>{{ _('Fernstart-Informationen') }}</strong></td></tr>
        {% for key, items in p.get_remote_items().items() %}
            {% for item in items %}
            <tr>
                <td class="py-1">{{ item.property.path }}</td>
                <td class="py-1">{{ item.property.type }}</td>
                <td class="py-1">{{ key }}</td>
                <td id="{{ item.id() }}_value" class="py-1">
                    {{ item() }}{% if key in ['remotestart_path'] and item() == 2%} ({{ _('Leitdraht') }}){% endif %}
                </td>
                <td id="{{ item.id() }}_last_update" class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                <td id="{{ item.id() }}_last_change" class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock bodytab1 %}


{% set tab2title = "<strong>"+_('Fehlercodes')+"</strong>" %}
{% block bodytab2 %}
    <div class="ml-4 mt-4 mb-4">
    {% for entry in p.get_full_error_list() %}
        <div>
        {{  entry['error_code'] }}:&nbsp;
        {{  entry['error_message'] }}
        </div>
    {% endfor %}
    </div>
{% endblock bodytab2 %}