{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 5000 %}
{% set reload_button = false %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
    function onOff(boolvalue) {
		if (boolvalue) {
			return '{{ _('EIN') }}';
		} else {
			return '{{ _('AUS') }}';
		}
	}

	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var r in objResponse) {
				// updata data of tab 1
				shngInsertText (r+'_temp_actual', objResponse[r]['temp_actual'].toFixed(2)+'°C');
				shngInsertText (r+'_temp_set', objResponse[r]['temp_set'].toFixed(1)+'°C');
				shngInsertText (r+'_control_output', objResponse[r]['control_output'].toFixed(1)+'%');
				shngInsertText (r+'_mode', objResponse[r]['mode']);
				shngInsertText (r + '_lock_status',onOff(objResponse[r]['lock_status']));
				shngInsertText (r+'_setting_temp_comfort', objResponse[r]['setting_temp_comfort'].toFixed(1)+'°C');
				shngInsertText (r+'_setting_temp_standby', objResponse[r]['setting_temp_standby'].toFixed(1)+'°C');
				shngInsertText (r+'_setting_temp_night', objResponse[r]['setting_temp_night'].toFixed(1)+'°C');
				shngInsertText (r+'_setting_temp_frost', objResponse[r]['setting_temp_frost'].toFixed(1)+'°C');


				// update data of tab 2
				shngInsertText (r+'_controller_type', objResponse[r]['controller_type']);
				shngInsertText (r+'_controller_Kp', objResponse[r]['controller_Kp'].toFixed(1));
				shngInsertText (r+'_controller_Ki', objResponse[r]['controller_Ki'].toFixed(1));
				shngInsertText (r+'_controller_Kd', objResponse[r]['controller_Kd']);
				shngInsertText (r+'_valve_protect', onOff(objResponse[r]['valve_protect']));

				shngInsertText (r+'_setting_standby_reduction', objResponse[r]['setting_standby_reduction'].toFixed(1)+'°C');
				shngInsertText (r+'_setting_night_reduction', objResponse[r]['setting_night_reduction'].toFixed(1)+'°C');
				if (objResponse[r]['setting_fixed_reduction'] == false) {
					shngInsertText (r+'_setting_standby_reduction', '('+objResponse[r]['setting_temp_standby'].toFixed(1)+'°C)');
					shngInsertText (r+'_setting_night_reduction', '('+objResponse[r]['setting_night_reduction'].toFixed(1)+'°C)');
				}
				shngInsertText (r+'_setting_fixed_reduction',  onOff(objResponse[r]['setting_fixed_reduction']));
				shngInsertText (r+'_setting_min_output', objResponse[r]['setting_min_output'].toFixed(0)+'%');
				shngInsertText (r+'_setting_max_output', objResponse[r]['setting_max_output'].toFixed(0)+'%');

			}
		}
	}
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Default Kp</strong></td>
			<td class="py-1">{{ p.default_Kp }} K</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Update Zyklus</strong></td>
			<td class="py-1">{{ p._cycle }} Sek.</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Default Ki</strong></td>
			<td class="py-1">{{ p.default_Ki }} Min</td>
			<td></td>
			<td class="py-1"><strong>-</strong></td>
			<td class="py-1">-</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Default Kd</strong></td>
			<td class="py-1">{{ p.default_Kd }}</td>
			<td></td>
			<td class="py-1"><strong>-</strong></td>
			<td class="py-1">-</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<div>
		<button id="btn1" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {learn: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button>
	</div>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 2 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 1 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ _('Raumtemperatur Regler') ~ "</strong> (" ~ rtr|length ~ ")" %}
{% block bodytab1 %}
	<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
		<div class="col-sm-12">

			<form action="" method="post">
			<table class="table table-striped table-hover pluginList">
				<thead>
					<tr class="shng_heading">
						<th class="py-1">{{ _('Regler') }}</th>
						<th class="py-1">{{ _('Ist Temp') }}</th>
						<th class="py-1">{{ _('Soll Temp') }}</th>
						<th class="py-1">{{ _('Stellwert') }}</th>
						<th class="py-1">{{ _('Modus') }}</th>
						<th class="py-1">{{ _('Sperre') }}</th>
						<th class="py-1">{{ _('Komfort Temp') }}</th>
						<th class="py-1">{{ _('Normal Temp') }}</th>
						<th class="py-1">{{ _('Nacht Temp') }}</th>
						<th class="py-1">{{ _('Frost Temp') }}</th>
					<th class="py-1" width="50px"></th>
					</tr>
				</thead>
				<tbody>
					{% for r in rtr %}
						<tr id="{{ loop.index }}_click" style="cursor: pointer;">
							<td class="py-1">{{ r }}</td>
							<td class="py-1" id="{{ r }}_temp_actual">{% if rtr[r].temp_actual_item != None %}{{ rtr[r].temp_actual_item()|round(2) }}°C{% endif %}</td>
							<td class="py-1" id="{{ r }}_temp_set">{% if rtr[r].temp_set_item != None %}{{ rtr[r].temp_set_item()|round(2) }}°C{% endif %}</td>
							<td class="py-1" id="{{ r }}_control_output">{% if rtr[r].control_output_item != None %}{{ rtr[r].control_output_item() }}%{% endif %}</td>
							<td class="py-1" id="{{ r }}_mode">{{ rtr[r]._mode }}</td>
							<td class="py-1" id="{{ r }}_lock_status">{% if rtr[r].lock_status_item != None %}{{ _(rtr[r].lock_status_item()) }}{% else %}-{% endif %}</td>
							<td class="py-1" id="{{ r }}_setting_temp_comfort">{% if rtr[r].setting_temp_comfort_item != None %}{{ rtr[r].setting_temp_comfort_item() }}°C{% endif %}</td>
							<td class="py-1" id="{{ r }}_setting_temp_standby">{% if rtr[r].setting_temp_standby_item != None %}{{ rtr[r].setting_temp_standby_item() }}°C{% endif %}</td>
							<td class="py-1" id="{{ r }}_setting_temp_night">{% if rtr[r].setting_temp_night_item != None %}{{ rtr[r].setting_temp_night_item() }}°C{% endif %}</td>
							<td class="py-1" id="{{ r }}_setting_temp_frost">{% if rtr[r].setting_temp_frost_item != None %}{{ rtr[r].setting_temp_frost_item() }}°C{% endif %}</td>
							<td class="py-1"></td>
						</tr>


						<tr id="{{ loop.index }}_additional" style="display: none; cursor: pointer;">
						<td class="py-1" colspan="10">
							<div class="card">

								<div class="card-body p-1">
									<table class="table mb-0">
										<thead>
											<tr>
												<th class="p-0" width="150">Item Function</th>
												<th class="p-0">{{ _('Pfad') }}</th>
												<th class="p-0">{{ _('Wert') }}</th>
												<th class="p-0" width="20" style="border-left: 1px solid var(--shng-border);"></th>
												<th class="p-0" width="150">Item Function</th>
												<th class="p-0">{{ _('Pfad') }}</th>
												<th class="p-0">{{ _('Wert') }}</th>
												<th class="p-0"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="p-0">{{ 'comfort mode' }}</td>
												<td class="p-0">{{ rtr[r].comfort_item }}</td>
												<td class="p-0">{% if rtr[r].comfort_item != None %}{{ rtr[r].comfort_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'temp comfort' }}</td>
												<td class="p-0">{{ rtr[r].setting_temp_comfort_item }}</td>
												<td class="p-0">{% if rtr[r].setting_temp_comfort_item != None %}{{ rtr[r].setting_temp_comfort_item() }}°C{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'standby mode' }}</td>
												<td class="p-0">{{ rtr[r].standby_item }}</td>
												<td class="p-0">{% if rtr[r].standby_item != None %}{{ rtr[r].standby_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'temp normal' }}</td>
												<td class="p-0">{{ rtr[r].setting_temp_standby_item }}</td>
												<td class="p-0">{% if rtr[r].setting_temp_standby_item != None %}{{ rtr[r].setting_temp_standby_item() }}°C{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'night mode' }}</td>
												<td class="p-0">{{ rtr[r].night_item }}</td>
												<td class="p-0">{% if rtr[r].night_item != None %}{{ rtr[r].night_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'temp night' }}</td>
												<td class="p-0">{{ rtr[r].setting_temp_night_item }}</td>
												<td class="p-0">{% if rtr[r].setting_temp_night_item != None %}{{ rtr[r].setting_temp_night_item() }}°C{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'frost mode' }}</td>
												<td class="p-0">{{ rtr[r].frost_item }}</td>
												<td class="p-0">{% if rtr[r].frost_item != None %}{{ rtr[r].frost_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'temp frost' }}</td>
												<td class="p-0">{{ rtr[r].setting_temp_frost_item }}</td>
												<td class="p-0">{% if rtr[r].setting_temp_frost_item != None %}{{ rtr[r].setting_temp_frost_item() }}°C{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'hvac mode' }}</td>
												<td class="p-0">{{ rtr[r].hvac_item }}</td>
												<td class="p-0">{% if rtr[r].hvac_item != None %}{{ rtr[r].hvac_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'standby reduction' }}</td>
												<td class="p-0">{{ rtr[r].setting_standby_reduction_item }}</td>
												<td class="p-0">{% if rtr[r].setting_standby_reduction_item != None %}{{ rtr[r].setting_standby_reduction_item() }}K{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'heating status' }}</td>
												<td class="p-0">{{ rtr[r].heating_status_item }}</td>
												<td class="p-0">{% if rtr[r].heating_status_item != None %}{{ rtr[r].heating_status_item() }}{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'night reduction' }}</td>
												<td class="p-0">{{ rtr[r].setting_night_reduction_item }}</td>
												<td class="p-0">{% if rtr[r].setting_night_reduction_item != None %}{{ rtr[r].setting_night_reduction_item() }}K{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'temp actual' }}</td>
												<td class="p-0">{{ rtr[r].temp_actual_item }}</td>
												<td class="p-0">{% if rtr[r].temp_actual_item != None %}{{ rtr[r].temp_actual_item() }}°C{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'fixed reduction' }}</td>
												<td class="p-0">{{ rtr[r].setting_fixed_reduction_item }}</td>
												<td class="p-0">{% if rtr[r].setting_fixed_reduction_item != None %}{{ rtr[r].setting_fixed_reduction_item() }}{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'temp set' }}</td>
												<td class="p-0">{{ rtr[r].temp_set_item }}</td>
												<td class="p-0">{% if rtr[r].temp_set_item != None %}{{ rtr[r].temp_set_item() }}°C{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'lock status' }}</td>
												<td class="p-0">{{ rtr[r].lock_status_item }}</td>
												<td class="p-0">{% if rtr[r].lock_status_item != None %}{{ rtr[r].lock_status_item() }}{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'control_output' }}</td>
												<td class="p-0">{{ rtr[r].control_output_item }}</td>
												<td class="p-0">{% if rtr[r].control_output_item != None %}{{ rtr[r].control_output_item() }}%{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'lock 1' }}</td>
												<td class="p-0">{{ rtr[r].lock_items[0] }}</td>
												<td class="p-0">{% if rtr[r].lock_items[0] != None %}{{ rtr[r].lock_items[0]() }}{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'min_output' }}</td>
												<td class="p-0">{{ rtr[r].setting_min_output_item }}</td>
												<td class="p-0">{% if rtr[r].setting_min_output_item != None %}{{ rtr[r].setting_min_output_item() }}%{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'lock 2' }}</td>
												<td class="p-0">{{ rtr[r].lock_items[1] }}</td>
												<td class="p-0">{% if rtr[r].lock_items[1] != None %}{{ rtr[r].lock_items[1]() }}{% else %}./.{% endif %}</td>
												<td></td>
											</tr>
											<tr>
												<td class="p-0">{{ 'max_output' }}</td>
												<td class="p-0">{{ rtr[r].setting_max_output_item }}</td>
												<td class="p-0">{% if rtr[r].setting_max_output_item != None %}{{ rtr[r].setting_max_output_item() }}%{% else %}./.{% endif %}</td>
												<td class="p-0" style="border-left: 1px solid var(--shng-border);"></td>
												<td class="p-0">{{ 'lock 3' }}</td>
												<td class="p-0">{{ rtr[r].lock_items[2] }}</td>
												<td class="p-0">{% if rtr[r].lock_items[2] != None %}{{ rtr[r].lock_items[2]() }}{% else %}./.{% endif %}</td>
												<td></td>
											</tr>

										</tbody>
									</table>
								</div>

							</div>
						</td>
					</tr>

						<script>
							/* If foldable content: add onclick for table row, stop unfolding when clicking pypi link inside. */
							$('#{{ loop.index }}_click').click(function(){
								$('#{{ loop.index }}_additional').toggle();
							});
							$('#{{ loop.index }}_additional').click(function(){
								$('#{{ loop.index }}_additional').toggle();
							});
						</script>
					{% endfor %}
				</tbody>
			</table>
			</form>
		</div>
	</div>

	<br>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ _('Erweiterte Einstellungen') ~ "</strong>" %}
{% block bodytab2 %}
	<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">
		<div class="col-sm-12">

			<form action="" method="post">
			<table class="table table-striped table-hover pluginList">
				<thead>
					<tr class="shng_heading">
						<th class="py-1">{{ _('Regler') }}</th>
						<th class="py-1">{{ _('Regler Typ') }}</th>
						<th class="py-1">{{ _('Kp') }}</th>
						<th class="py-1">{{ _('Ki') }}</th>
						<th class="py-1">{{ _('Kd') }}</th>
						<th class="py-1">{{ _('Ventil Schutz') }}</th>
						<th class="py-1">{{ _('Normal Absenkung') }}</th>
						<th class="py-1">{{ _('Nacht Absenkung') }}</th>
						<th class="py-1">{{ _('Feste Absenkung') }}</th>
						<th class="py-1">{{ _('Min. Stellwert') }}</th>
						<th class="py-1">{{ _('Max. Stellwert') }}</th>
					<th class="py-1" width="50px"></th>
					</tr>
				</thead>
				<tbody>
					{% for r in rtr %}
						<tr id="{{ loop.index }}_clickip" style="cursor: pointer;">
							<td class="py-1">{{ r }}</td>
							<td class="py-1" id="{{ r }}_controller_type">{{ rtr[r].controller.controller_type }}</td>
							<td class="py-1" id="{{ r }}_controller_Kp">{{ rtr[r].controller._Kp }}</td>
							<td class="py-1" id="{{ r }}_controller_Ki">{{ rtr[r].controller._Ki }}</td>
							<td class="py-1" id="{{ r }}_controller_Kd">{% if rtr[r].controller.controller_type == 'PID' %}{{ rtr[r].controller._Kd }}{% else %}-{% endif %}</td>
							<td class="py-1" id="{{ r }}_valve_protect">{{ _(rtr[r].valve_protect) }}</td>
							{% if (rtr[r].setting_fixed_reduction_item != None) and (rtr[r].setting_fixed_reduction_item() == False) %}
								<td class="py-1" id="{{ r }}_setting_standby_reduction">{% if rtr[r].setting_standby_reduction_item != None %}({{ rtr[r].setting_standby_reduction_item() }}°C){% endif %}</td>
								<td class="py-1" id="{{ r }}_setting_night_reduction">{% if rtr[r].setting_night_reduction_item != None %}({{ rtr[r].setting_night_reduction_item() }}°C){% endif %}</td>
							{% else %}
								<td class="py-1" id="{{ r }}_setting_standby_reduction">{% if rtr[r].setting_standby_reduction_item != None %}{{ rtr[r].setting_standby_reduction_item() }}°C{% endif %}</td>
								<td class="py-1" id="{{ r }}_setting_night_reduction">{% if rtr[r].setting_night_reduction_item != None %}{{ rtr[r].setting_night_reduction_item() }}°C{% endif %}</td>
							{% endif %}
							<td class="py-1" id="{{ r }}_setting_fixed_reduction">{% if rtr[r].setting_fixed_reduction_item != None %}{{ _(rtr[r].setting_fixed_reduction_item()) }}{% endif %}</td>

							<td class="py-1" id="{{ r }}_setting_min_output">{% if rtr[r].setting_min_output_item != None %}{{ rtr[r].setting_min_output_item() }}%{% else %}-{% endif %}</td>
							<td class="py-1" id="{{ r }}_setting_max_output">{% if rtr[r].setting_max_output_item != None %}{{ rtr[r].setting_max_output_item() }}%{% else %}-{% endif %}</td>
							<td class="py-1"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</form>
		</div>
	</div>

	{% if false %}
		<br>
		<br>
		<br>
		{% for r in rtr %}
			rtr <strong>{{ r }}</strong>: <br>
			Rtr: {{ rtr[r] }}<br>
			Controller: {{ rtr[r].controller }}<br>
			Mode object: {{ rtr[r]._mode }}<br>
			Temp object: {{ rtr[r]._temp }}<br>
			<br>
		{% endfor %}
		<br>
	{% endif %}
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " weiteres</strong>" %}

	It has to be defined before (and outside) the block bodytab3
-->
{% block bodytab3 %}
	x
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}
