{% extends "base_plugin.html" %}
{% block pluginscripts %}
{{ super() }}
<script type = " text/javascript">
      // When the testform is submitted...
     $("#stop").click(function() {
  console.log( "Handler for .stop called." );

         // post the form values via AJAX...
         $.post('action', {name: 'stop'}, function(data) {
  console.log($("#id"));
            // and set the title with the result
            $("#title").html(data['title']) ;
         });
         return false ;
      });

function reload_table(){
$.post('reload', {reload: 'on'});
}
setInterval( function () {
reload_table();
}, 30000 );
</script>
<script>
  $(document).ready( function () {
    $(window).trigger('datatables_defaults');
    /* get pagelength from http module or plugin. */
    {% if webif_pagelength is defined %}webif_pagelength = {{ webif_pagelength|int }};{% endif %}
    if (isNaN(parseFloat(webif_pagelength)) || webif_pagelength == 0) {
      resize = true;
      webif_pagelength = -1;
    }
    else {
      resize = false;
    }
		try {
      table = $('#maintable').DataTable( {
        pageLength: webif_pagelength,
        pageResize: resize});
		}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " +e);
    }

  });
</script>
{% endblock pluginscripts %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 1 %}
{% set tab1title = 'aktive items' %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>{{ _('Host') }}</strong></td>
			<td class="py-1">{{ connection.ip }}</td>
			<td class="py-1"><strong>Verbunden</strong></td>
			<td class="py-1">{%if connection.connected == True%}
							<img src="static/img/green.png" height="24" width="24"/>
						{% else %}
							<img src="static/img/red.png" height="24" width="24"/>
						{% endif %}
			</td>
		</tr>
		<tr>
			<td class="py-1"><strong>{{ _('Token') }} </strong></td>
			<td class="py-1">{{ connection.token }} </td>
			<td class="py-1"><strong>{{ _('vorgegebene Zykluszeit') }}</strong></td>
			<td class="py-1">{{ connection.cycle }}s </td>
		</tr>
	</tbody>
</table>
{{ connection.info}}
{% endblock headtable %}

{% set tab1title = "<strong>" ~ p.get_shortname() ~ " " ~ _('Items') ~ "</strong> (" ~ items|length ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2 table-resize">
  <div class="mb-2">
    {{ _('Die folgenden Items sind dem Xiaomi_Vac Plugin zugewiesen') }}.
  </div>
  <table id="maintable" class="dataTableAdditional">
			<thead>
				<tr>
          <th></th>
					<th>#</th>
					<th>{{ _('Item') }}</th>

					<th>{{ _('Wert') }}</th>
					<th>{{ _('Typ') }}</th>
					<th>{{ _('Visu Zugriff') }}</th>
					</tr>
			</thead>
			{% for item in items %}
				<tr>
          <td></td>
					<td class="py-1">{{ loop.index}}</td>
					<td class="py-1">{{ item._path }}</td>

					<td class="py-1">
						<strong> {{ item() }}</strong></td>
					<td class="py-1">{{ item._type }}</td>
					<td class="py-1">{{ item.conf['visu_acl'] }}</td>
				</tr>
			{% endfor %}
		</table>
</div>
{% endblock bodytab1 %}
