{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}

{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1">Client ID</td>
			<td class="py-1">{{ p._client_id }}</td>
		</tr>
		<tr>
			<td class="py-1">Consumer Secret</td>
			<td class="py-1" colspan="3">{{ p._consumer_secret }}</td>
		</tr>
		<tr>
			<td class="py-1">User ID</td>
			<td class="py-1">{{ p._user_id}}</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block bodytab1 %}
{% if p.get_item('token_expiry')() > 0 and token_expiry < now %}
<div class="mb-2 alert alert-danger alert-dismissible fade show" role="alert">
	<strong>{{ _('Warnung') }}</strong><br/>
	{{ _('Das Token ist abgelaufen und wurde nicht verlängert. Bitte den OAuth2 Prozess neu starten.') }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}

<div class="table-responsive" style="margin-left: 2px; margin-right: 2px;" class="row">

	<div class="col-sm-12 mt-3">
		<h5>{{ _('Nokia Health Items') }} ({{ p.get_items()|length }})</h5>

		<table class="table table-striped table-hover pluginList">
			<thead>
				<tr class="shng_heading">
					<th>{{ _('Pfad') }}</th>
					<th>{{ _('Typ') }}</th>
					<th>Nokia Health Data Type</th>
					<th>{{ _('Wert') }}</th>
					<th>{{ _('Letztes Update') }}</th>
					<th>{{ _('Letzter Change') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for key, item in p.get_items().items() %}
					<tr id="{{ loop.index }}_click">
						<td class="py-1">{{ item._path }}</td>
						<td class="py-1">{{ item._type }}</td>
						<td class="py-1">{{ key }}</td>
						<td class="py-1" {% if key == 'token_expiry' and p.get_item('token_expiry')() > 0 and token_expiry < now %}style="color: red; font-weight: bold;"{% endif %}>{{ item() }} {% if key == 'token_expiry' %}({{ token_expiry.strftime('%d.%m.%Y %H:%M:%S') }}){% endif %}</td>
						<td class="py-1">{{ item.last_update().strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td class="py-1">{{ item.last_change().strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block bodytab2 %}
<table class="table table-striped table-hover">
	<tr>
		<td class="py-1">
			{{ _('OAuth2 Authorization URL') }}
		</td>
		<td class="py-1" colspan="3">
			<a href="{{ authorize_url }}" target="_blank">{{ _('Hier klicken, um OAuth2 Prozess zu starten!') }}</a>
		</td>
	</tr>
	<tr>
		<td class="py-1">
			{{ _('Callback URL') }}
		</td>
		<td class="py-1">
			{{ callback_url }}
		</td>
	</tr>
	<tr>
		<td class="py-1">Access Token</td>
		<td class="py-1">{{ p.get_item('access_token')() }}</td>
		<td class="py-1">Token Expiry</td>
		<td class="py-1" {% if p.get_item('token_expiry')() > 0 and token_expiry < now %}style="color: red; font-weight: bold;"{% endif %}>{{ p.get_item('token_expiry')() }} ({{ token_expiry.strftime('%d.%m.%Y %H:%M:%S') }})</td>
	</tr>
	<tr>
		<td class="py-1">Token Type</td>
		<td class="py-1">{{ p.get_item('token_type')() }}</td>
		<td class="py-1">Refresh Token</td>
		<td class="py-1">{{ p.get_item('refresh_token')() }}</td>
	</tr>
</table>
{% endblock %}